Repository opensumi/core, pull requests merged in 2022-11, with the labels that each got.

#1865 feat: implement TestController refreshHandler API
  packages/core-browser/src/contextkey/testing.ts
  packages/extension/src/browser/vscode/api/main.thread.tests.ts
  packages/extension/src/common/vscode/tests.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.tests.ts
  packages/testing/src/browser/icons/icons.ts
  packages/testing/src/browser/test.service.ts
  packages/testing/src/browser/testing.contribution.ts
  packages/testing/src/common/commands.ts
  packages/testing/src/common/index.ts
  packages/testing/src/common/observableValue.ts
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🎨 feature

#1877 feat: implement test item sort text api
  packages/components/src/recycle-tree/basic/types.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/testing/testApi.ts
  packages/testing/src/browser/components/testing.explorer.tree.tsx
  packages/testing/src/browser/test-tree-view.model.ts
  packages/testing/src/common/testCollection.ts
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🎨 feature

#1891 fix: 解决代码片段（Snippets）prefix 不支持数组的问题
  packages/monaco/src/browser/monaco-snippet-suggest-provider.ts
Labels: 🐞 bug

#1893 fix: 修复 peekView 内获取到错误编辑器实例的问题
  packages/editor/src/browser/monaco-contrib/command/command.service.ts
Labels: 🐞 bug

#1883 fix: workspace contains activate extension event
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug

#1880 feat: support icons contribution point
  packages/extension/src/browser/vscode/contributes/icon.ts
  packages/extension/src/browser/vscode/contributes/index.ts
  packages/theme/src/browser/icon.service.ts
  packages/theme/src/common/theme.service.ts
Labels: 🎨 feature

#1882 fix: activate extension when enable/install extension
  packages/extension/src/browser/extension-management.service.ts
  packages/extension/src/common/index.ts
Labels: 🐞 bug

#1890 style: fix the secondary button click background
  packages/theme/src/common/color-tokens/custom/button.ts
Labels: 🐞 bug, 💄 style change

#1895 feat: improve file search results order
  packages/file-search/src/node/file-search.service.ts
Labels: 🎨 feature

#1897 fix: support dblclick when rename file
  packages/components/src/recycle-tree/prompt/PromptHandle.ts
Labels: 🐞 bug

#1900 fix: always highlight search results
  packages/search/src/browser/search-tree.service.ts
  packages/search/src/browser/search-tree.view.tsx
  packages/search/src/browser/search.module.less
Labels: 🐞 bug

#1905 chore: fix issue labeled
  .github/workflows/issue-labeled.yml
Labels: 🐞 bug

#1907 chore: fix issue labeled syntax error
  .github/workflows/issue-labeled.yml
Labels: 🐞 bug

#1903 fix(dialog): keep message component className
  packages/components/src/dialog/index.tsx
Labels: 🐞 bug

#1920 fix(snippets): register code snippets timing
  packages/extension/src/browser/vscode/contributes/snippets.ts
  packages/monaco/src/browser/monaco-snippet-suggest-provider.ts
  packages/monaco/src/browser/monaco.contribution.ts
Labels: 🐞 bug

#1916 chore: fix issue labeled config
  .github/workflows/issue-labeled.yml
Labels: 🐞 bug

#1931 fix: do not active disabled extension
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug

#1925 fix: make watcher can be disposed
  packages/file-service/src/browser/file-service-client.ts
  packages/file-service/src/browser/watcher.ts
Labels: 🐞 bug

#1921 fix: browser views contribution
  packages/extension/src/browser/sumi/contributes/browser-views.ts
Labels: 🐞 bug

#1923 fix: make the search references clean up
  packages/comments/src/browser/comments.service.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/search/src/browser/search-tree.service.ts
Labels: 🐞 bug

#1945 refactor: lazy load language configuration
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: ⚙️ refactor

#1947 refactor: update prefered options after textmodel is created
  packages/editor/src/browser/doc-model/editor-document-model-service.ts
Labels: ⚙️ refactor

#1948 fix: 批量替换时已打开的文件未自动保存
  packages/search/__tests__/browser/replace.test.ts
  packages/search/src/browser/replace.ts
  packages/search/src/browser/search-tree.service.ts
  packages/search/src/browser/search.service.ts
Labels: 🐞 bug

#1955 fix: monaco-editor snippets support prefix array
  packages/monaco/src/browser/monaco-snippet-suggest-provider.ts
Labels: 🐞 bug

#1969 style: improve debug expression input style
  packages/debug/src/browser/editor/debug-breakpoint-zone-widget.tsx
  packages/debug/src/browser/editor/debug-breakpoint.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/console/debug-console.module.less
Labels: 💄 style change

#1961 style: improve notification markdown style
  packages/components/src/notification/notification.less
Labels: 💄 style change

#1965 style: improve debug toolbar z-index style
  packages/debug/src/browser/view/configuration/debug-configuration.module.less
  packages/debug/src/browser/view/configuration/debug-configuration.view.tsx
  packages/debug/src/browser/view/configuration/debug-toolbar.view.tsx
Labels: 💄 style change

#1967 fix: active debug view once when parent session is not changed
  packages/debug/src/browser/debug-contribution.ts
Labels: 🐞 bug

#1971 style: conditional and log points should have a focused style
  packages/debug/src/browser/debug-style.less
Labels: 💄 style change

#1979 fix: do not search deleted resource
  packages/search/__tests__/browser/search-tree.service.test.ts
  packages/search/__tests__/browser/search.service.test.ts
  packages/search/src/browser/search.service.ts
Labels: 🐞 bug

#1980 feat: trigger editor find widget when no actived element
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.contribution.ts
Labels: 🎨 feature

#1985 fix: optimize tabbar scroll
  packages/components/src/scrollbars/index.tsx
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug

#1984 fix: support electron accelerator
  packages/core-browser/src/keyboard/keyboard-layout-service.ts
  packages/core-browser/src/menu/next/renderer/ctxmenu/electron.ts
  packages/monaco/src/browser/monaco.contribution.ts
Labels: 🐞 bug

#1987 feat: implement inner changes decoration render
  packages/monaco/src/browser/contrib/merge-editor/model/computer-diff.ts
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/utils.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.less
  packages/theme/src/common/color-tokens/editor.ts
Labels: 🎨 feature

#1988 refactor: remove package vscode-languageserver-protocol
  packages/core-browser/package.json
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/extension/src/common/vscode/model.api.ts
  packages/startup/entry/web-lite/lite-module/language-service/simple.service.ts
Labels: ⚙️ refactor

#1989 fix: dispose all task executor when exit or refresh
  packages/terminal-next/src/browser/contribution/terminal.lifecycle.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/common/controller.ts
Labels: 🐞 bug

#1933 feat: support opentrs extension marketplace
  configs/opentrs-extensions.json
  packages/core-common/src/const/application.ts
  packages/core-node/src/bootstrap/app.ts
  packages/extension-manager/src/browser/const.ts
  packages/extension-manager/src/browser/extension-overview/index.tsx
  packages/extension-manager/src/browser/extension/index.tsx
  packages/extension-manager/src/browser/vsx-extension.service.ts
  packages/extension-manager/src/browser/vsx-extension.view.tsx
  packages/extension-manager/src/common/index.ts
  packages/extension-manager/src/common/vsx-registry-types.ts
  packages/extension-manager/src/node/index.ts
  packages/extension-manager/src/node/marketplace/index.ts
  packages/extension-manager/src/node/marketplace/opentrs-marketplace.service.ts
  packages/extension-manager/src/node/marketplace/openvsx-marketplace.service.ts
  packages/extension-manager/src/node/vsx-extension.service.ts
  scripts/download.js
  tools/dev-tool/src/server.ts
  tools/electron/src/node/server.ts
Labels: 🎨 feature

#1974 feat: support useVSCodeWorkspaceConfiguration config
  packages/core-browser/src/components/tree/tree.module.less
  packages/core-browser/src/preferences/preference-configurations.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-common/src/preferences/preference-scope.ts
  packages/debug/src/browser/index.ts
  packages/debug/src/browser/preferences/launch-folder-preference-provider.ts
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/variables/debug-variables.module.less
  packages/debug/src/browser/view/watch/debug-watch.module.less
  packages/extension/src/browser/vscode/api/tree-view/tree-view-node.module.less
  packages/file-tree-next/src/browser/file-tree-node.module.less
  packages/opened-editor/src/browser/opened-editor-node.module.less
  packages/outline/src/browser/outline-node.module.less
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
  packages/preferences/src/browser/folder-file-preference-provider.ts
  packages/preferences/src/browser/folders-preferences-provider.ts
  packages/preferences/src/browser/index.ts
  packages/scm/src/browser/dirty-diff/dirty-diff.module.less
  packages/startup/entry/web-lite/lite-module/extension/utils.ts
  packages/startup/entry/web-lite/render-app.tsx
  packages/startup/entry/web/app.tsx
  packages/task/src/browser/index.ts
  packages/task/src/browser/task-preferences.provider.ts
Labels: 🎨 feature

#1994 feat: implement stickiness connect effect
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/monaco/src/browser/contrib/merge-editor/model/sticky-piece.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/guideline-widget.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.less
  packages/monaco/src/browser/contrib/merge-editor/view/scroll-synchronizer.ts
  packages/monaco/src/browser/contrib/merge-editor/view/stickiness-connect-manager.tsx
Labels: 🎨 feature

#1986 feat: support more ActionButton icon expression
  packages/components/src/icon/icon.tsx
  packages/components/src/icon/styles.less
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/utils/label.tsx
  packages/extension/src/browser/extension-management.service.ts
Labels: 🎨 feature

#1995 feat: switch margin and code editor widget content
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
Labels: 🎨 feature

#1976 feat: support detect configuration change from the parent directory
  packages/file-service/src/browser/watcher.ts
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
Labels: 🎨 feature

#1978 feat: improve dirty diff
  packages/core-browser/src/menu/next/menu.contrib.interface.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/__mocks__/monaco/editor/code-editor.ts
  packages/scm/__tests__/browser/dirty-diff/dirty-diff-decorator.test.ts
  packages/scm/__tests__/browser/dirty-diff/dirty-diff-model.test.ts
  packages/scm/__tests__/browser/dirty-diff/dirty-diff-widget.test.ts
  packages/scm/__tests__/browser/dirty-diff/index.test.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-decorator.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-model.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-util.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-widget.ts
  packages/scm/src/browser/dirty-diff/dirty-diff.module.less
  packages/scm/src/browser/dirty-diff/index.ts
  packages/scm/src/browser/scm-color.ts
  packages/scm/src/browser/scm.contribution.ts
  packages/scm/src/common/dirty-diff.ts
  packages/workspace-edit/src/browser/workspace-edit.service.ts
Labels: 🎨 feature, 💄 style change

#1997 refactor: optimize scoped storage bootstrap speed
  packages/core-browser/src/services/storage-service.ts
  packages/storage/__tests__/browser/storage.service.test.ts
  packages/storage/src/browser/storage.contribution.ts
  packages/terminal-next/src/browser/terminal.restore.ts
Labels: ⚙️ refactor

#2006 fix: copy files cross window
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug

#2009 style: improve Git ActionButton disabled style
  packages/core-browser/src/components/actions/index.tsx
  packages/scm/src/browser/components/scm-resource-input.module.less
Labels: 💄 style change

#2010 feat: support base64 icon on editor glyphMargin and treeview
  packages/editor/src/browser/editor.decoration.service.ts
  packages/extension/src/browser/vscode/api/main.thread.treeview.ts
  packages/extension/src/hosted/api/vscode/ext.host.treeview.ts
  packages/theme/src/browser/icon.service.ts
  packages/theme/src/common/theme.service.ts
Labels: 🎨 feature

#1902 feat: implement walkthroughs contribution API
  packages/components/src/utils/marked.ts
  packages/core-common/src/command.ts
  packages/extension/__mocks__/extension.service.client.ts
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/__tests__/browser/walkthroughs.service.test.ts
  packages/extension/package.json
  packages/extension/src/browser/components/walkthroughs-view.module.less
  packages/extension/src/browser/components/walkthroughs-view.tsx
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/extension.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
  packages/extension/src/browser/vscode/contributes/index.ts
  packages/extension/src/browser/vscode/contributes/walkthroughs.tsx
  packages/extension/src/browser/walkthroughs.service.ts
  packages/extension/src/common/index.ts
  packages/extension/src/common/vscode/extension.ts
  packages/extension/src/common/vscode/index.ts
  packages/extension/src/common/vscode/walkthrough.ts
  packages/extension/src/node/extension.service.client.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/markdown/__tests__/browser/markdown-service.test.ts
  packages/markdown/src/browser/editor.markdown.tsx
  packages/markdown/src/browser/markdown-widget.tsx
  packages/markdown/src/browser/markdown.service.ts
  packages/markdown/src/common/index.ts
  yarn.lock
Labels: 🎨 feature

#2019 fix(monaco): unexpected keyboard event mapped to a chord
  packages/monaco/src/browser/monaco.resolved-keybinding.ts
Labels: 🐞 bug

#2017 fix(core-browser): accelerator string can only contain ASCII characters
  packages/core-browser/__tests__/keyboard/keyboard-layout-service.test.ts
  packages/core-browser/src/keyboard/keys.ts
Labels: 🐞 bug

#2023 fix: support onSaveCodeActions with ESLint extension
  packages/editor/src/browser/doc-model/saveParticipants.ts
  packages/extension/__tests__/browser/main.language.test.ts
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/languages.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/extension/src/hosted/api/vscode/language/code-action.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#2021 fix: use bash resolve shellpath
  packages/core-node/src/bootstrap/shell-path.ts
Labels: 🐞 bug

#2027 fix: progress codeAction when codeActionOnSave existed
  packages/editor/src/browser/doc-model/saveParticipants.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#2031 feat: implement conflict ignore actions operations
  packages/monaco/src/browser/contrib/merge-editor/service/mapping-manager.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
Labels: 🎨 feature

#2028 fix: pause debug will not open stackframe source file
  packages/debug/src/browser/debug-session.ts
Labels: 🐞 bug
