Repository opensumi/core, pull requests merged in 2022-10, with the labels that each got.

#1831 fix(dep): remove incorrect module dependencies
  packages/terminal-next/src/browser/contribution/terminal.command.ts
  packages/terminal-next/src/browser/contribution/terminal.menu.ts
  packages/terminal-next/src/browser/contribution/terminal.view.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/common/index.ts
Labels: 🐞 bug

#1827 fix: get correct unsaved files number
  .github/labeler.yml
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#1824 feat: improve workspaceService initialize speed
  packages/workspace/src/browser/workspace-service.ts
Labels: 🎨 feature

#1828 feat: support debug exception widget
  packages/debug/src/browser/components/debug-exception-widget.less
  packages/debug/src/browser/contextkeys/debug-contextkey.service.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/debug-exception-widget.tsx
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/editor/debug-editor-contribution.ts
  packages/debug/src/browser/model/debug-source.ts
  packages/debug/src/browser/model/debug-thread.ts
  packages/debug/src/common/debug-session.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco-enhance/src/browser/zone-widget.ts
  packages/theme/src/common/color-tokens/debug.ts
Labels: 🎨 feature

#1854 fix: the preference markdown display with placeholder
  packages/core-browser/src/core-preferences.ts
  packages/editor/src/browser/preference/schema.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/preferences/src/browser/preference-contribution.ts
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/search/src/browser/search-preferences.ts
  packages/task/src/common/index.ts
Labels: 🐞 bug

#1852 style: put resize handle hover line to the top
  configs/vscode-extensions.json
  packages/core-browser/src/components/resize/resize.module.less
  packages/editor/src/browser/editor.module.less
  packages/main-layout/src/browser/accordion/titlebar.view.tsx
  tools/electron/config/vscode-extensions.json
Labels: 💄 style change

#1855 fix: improve extension installing UX and support unstall
  packages/components/src/button/style.less
  packages/components/src/input/input.less
  packages/core-common/src/const/application.ts
  packages/extension-manager/src/browser/extension-overview/index.tsx
  packages/extension-manager/src/browser/extension-overview/overview.module.less
  packages/extension-manager/src/browser/vsx-extension.service.ts
  packages/extension-manager/src/browser/vsx-extension.view.tsx
  packages/extension-manager/src/common/index.ts
  packages/extension/src/browser/extension-instance-management.ts
  packages/extension/src/browser/types.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#1859 fix: debug statck frame not update on the first stoped
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/index.ts
  packages/debug/src/browser/view/frames/debug-call-stack-thread.view.tsx
Labels: 🐞 bug

#1866 fix: some event should not be dispose while switch session
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.ts
Labels: 🐞 bug

#1873 refactor: parallel open resource
  packages/editor/src/browser/workbench-editor.service.ts
Labels: ⚙️ refactor

#1870 fix: add default watcher exclude
  packages/file-service/src/node/file-service-watcher.ts
Labels: 🐞 bug

#1867 fix: submenus error
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug

#1875 fix: submenus show/hide rule
  packages/core-browser/src/components/actions/index.tsx
Labels: 🐞 bug

#1874 refactor: 不重复初始化文件树
  packages/components/src/recycle-tree/basic/index.tsx
  packages/components/src/recycle-tree/tree/Tree.ts
  packages/components/src/recycle-tree/tree/model/TreeModel.ts
  packages/debug/__tests__/browser/editor/debug-hover-model.test.ts
  packages/debug/__tests__/browser/editor/debug-hover-tree.model.service.test.ts
  packages/debug/__tests__/browser/view/console/debug-console-tree.model.service.test.ts
  packages/debug/__tests__/browser/view/variables/debug-variables-tree.model.service.test.ts
  packages/debug/__tests__/browser/view/watch/debug-watch-tree.model.service.test.ts
  packages/debug/src/browser/editor/debug-hover.view.tsx
  packages/debug/src/browser/view/console/debug-console.view.tsx
  packages/debug/src/browser/view/variables/debug-variables-tree.model.service.ts
  packages/debug/src/browser/view/watch/debug-watch.view.tsx
  packages/file-tree-next/__tests__/browser/dialog/file-dialog-model.service.test.ts
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/file-tree-next/__tests__/browser/file-tree.test.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/file-tree-next/src/browser/file-tree.tsx
  packages/opened-editor/__tests__/browser/opened-editor-model.service.test.ts
  packages/opened-editor/__tests__/browser/opened-editor.service.test.ts
  packages/opened-editor/src/browser/opened-editor.tsx
  packages/outline/__tests__/browser/services/outline-model.service.test.ts
  packages/outline/src/browser/services/outline-model.service.ts
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
Labels: ⚙️ refactor

#1872 refactor: 将部分耗时较高的操作延迟运行
  packages/core-browser/src/services/storage-service.ts
  packages/keymaps/__tests__/browser/keymaps.service.test.ts
  packages/keymaps/src/browser/keymaps.service.ts
Labels: ⚙️ refactor

#1879 feat: update watch exclude rule
  packages/core-browser/src/core-preferences.ts
  packages/file-service/src/node/file-service-watcher.ts
Labels: 🎨 feature
