Repository opensumi/core, pull requests merged in 2022-12, with the labels that each got.

#2040 fix: focus frame while breakpoint pause by stopped
  packages/debug/src/browser/view/frames/debug-call-stack-session.view.tsx
Labels: 🐞 bug

#2032 fix: get references/implements by reference extension
  packages/extension/src/browser/components/extension-tree-view.module.less
  packages/extension/src/browser/components/extension-tree-view.tsx
  packages/extension/src/hosted/api/vscode/ext.host.treeview.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/accordion/styles.module.less
Labels: 🐞 bug

#2042 feat: implement editing result view code update range mapping
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.service.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/monaco/src/browser/contrib/merge-editor/model/document-mapping.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/service/mapping-manager.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/guideline-widget.ts
  packages/monaco/src/browser/contrib/merge-editor/view/stickiness-connect-manager.tsx
Labels: 🎨 feature

#2046 style: beauty merge editor diff range
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.less
  packages/monaco/src/browser/contrib/merge-editor/view/stickiness-connect-manager.tsx
  packages/theme/src/common/color-tokens/editor.ts
Labels: 💄 style change

#2060 fix: electron cannot work
  package.json
  packages/status-bar/package.json
  packages/utils/src/os.ts
  packages/utils/src/process.ts
  scripts/rebuild-native.js
  tools/electron/.gitignore
  tools/electron/package.json
  tools/electron/scripts/rebuild-native.js
  yarn.lock
Labels: 🐞 bug

#2068 fix(extension): windows get globalStorageUri error
  packages/extension-storage/src/browser/storage.ts
Labels: 🐞 bug

#2065 feat: implement revoke conflict actions
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.js
  packages/components/src/icon/iconfont/iconfont.json
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.service.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/conflict-actions.ts
  packages/monaco/src/browser/contrib/merge-editor/model/time-machine.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.less
Labels: 🎨 feature

#2071 fix: dirty diff issue
  packages/core-browser/src/menu/next/menu.contrib.interface.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-decorator.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-model.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-util.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-widget.ts
  packages/scm/src/browser/dirty-diff/dirty-diff.module.less
  packages/workspace-edit/src/browser/workspace-edit.service.ts
Labels: 🐞 bug

#2062 style: improve file dialog and notification style
  packages/components/src/dialog/styles.less
  packages/components/src/notification/notification.less
  packages/components/src/notification/notification.tsx
  packages/file-tree-next/src/browser/dialog/file-dialog.module.less
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/file-tree-next/src/browser/dialog/window-dialog.service.tsx
  tools/playwright/package.json
Labels: 💄 style change

#2074 fix: support cancel refresh when edit file
  packages/components/src/recycle-tree/tree/Tree.ts
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug

#2077 fix: scroller can not reach bottom
  packages/components/src/scrollbars/index.tsx
  packages/editor/src/browser/editor.module.less
Labels: 🐞 bug

#2076 feat: implement contiguous region merge range
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/monaco/src/browser/contrib/merge-editor/model/document-mapping.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
Labels: 🎨 feature

#2079 feat: implement accept combination conflict actions
  packages/monaco/src/browser/contrib/merge-editor/model/inner-range.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
  packages/utils/src/uuid.ts
Labels: 🎨 feature

#2080 fix: debug on multiple processes
  packages/components/src/recycle-list/RecycleList.tsx
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/view/frames/debug-call-stack-frame.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack-session.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack-thread.view.tsx
Labels: 🐞 bug

#2056 feat: diagnostic support display code href
  packages/core-common/__tests__/baseInjector.ts
  packages/core-common/__tests__/problem-pattern.test.ts
  packages/core-common/__tests__/types/markers/markers-manager.test.ts
  packages/core-common/src/problem-pattern.ts
  packages/core-common/src/types/markers/markers-manager.ts
  packages/core-common/src/types/markers/markers.ts
  packages/editor/__tests__/browser/language/language.service.test.ts
  packages/editor/__tests__/common/language.test.ts
  packages/editor/src/browser/language/diagnostic-collection.ts
  packages/editor/src/browser/language/language.service.ts
  packages/editor/src/common/language.ts
  packages/extension/__tests__/common/converter.test.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/language/code-action.ts
  packages/extension/src/hosted/api/vscode/language/diagnostics.ts
  packages/markers/src/browser/markers-tree.view.tsx
  packages/markers/src/browser/markers.module.less
  packages/task/src/browser/task-executor.ts
  packages/types/vscode/typings/vscode.d.ts
  tools/electron/src/main/index.ts
Labels: 🎨 feature

#2082 feat: improve conflict action
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.service.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/document-mapping.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/utils.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.less
  packages/monaco/src/browser/contrib/merge-editor/view/stickiness-connect-manager.tsx
Labels: 🎨 feature

#2038 fix: merge editor options
  packages/editor/src/browser/editor-collection.service.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
Labels: 🐞 bug

#2084 fix: new file with path on compress tree node
  .github/workflows/issue-labeled.yml
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/file-tree-next/__tests__/browser/file-tree.test.ts
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
  tools/playwright/src/app.ts
  tools/playwright/src/tests/explorer-view.test.ts
  tools/playwright/src/tree-node.ts
Labels: 🐞 bug

#2085 fix: accept combination apply edits error
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
Labels: 🐞 bug

#2088 feat: support submenus on editor/title
  packages/components/src/menu/style.less
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/editor/src/browser/menu/editor.menu.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/browser/types.ts
  packages/extension/src/browser/vscode/contributes/menu.ts
Labels: 🐞 bug, 🎨 feature

#2094 feat: support open from git scm
  packages/core-browser/src/monaco/merge-editor-widget.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/merge-editor/merge-editor.provider.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/resource.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
Labels: 🎨 feature

#2093 refactor: remove scroll components
  CHANGELOG.md
  packages/core-browser/src/components/index.ts
  packages/core-browser/src/components/scroll/index.tsx
  packages/core-browser/src/components/scroll/scroll.module.less
  packages/editor/src/browser/component/scroll/scroll.module.less
  packages/editor/src/browser/component/scroll/scroll.tsx
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/navigation.module.less
  packages/editor/src/browser/navigation.view.tsx
  packages/extension/src/browser/sumi-browser/index.ts
  packages/preferences/src/browser/preferences.view.tsx
  packages/terminal-next/src/browser/component/tab.module.less
  packages/terminal-next/src/browser/component/tab.view.tsx
Labels: ⚙️ refactor

#2083 fix: register configuration timing
  packages/extension/src/browser/vscode/contributes/configuration.ts
Labels: 🐞 bug

#2092 fix: active embedded language on demand
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate-tokenizer.ts
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: 🐞 bug

#2096 fix: the tree node child maybe undefined
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/components/src/recycle-tree/types/tree-node.ts
  packages/scm/src/browser/components/scm-provider-list.tsx
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree.service.ts
Labels: 🐞 bug

#2105 fix: create output editor when panel visible
  packages/output/src/browser/output.service.ts
  packages/output/src/browser/output.view.tsx
Labels: 🐞 bug

#2097 feat: optimize editor updateContent logic
  packages/editor/src/browser/doc-model/editor-document-model.ts
Labels: 🎨 feature

#2106 fix: create debug console editor when panel visible
  packages/debug/src/browser/view/console/debug-console.view.tsx
Labels: 🐞 bug

#2104 fix: update keybindings when keymap view rendered
  packages/keymaps/__tests__/browser/keymaps.service.test.ts
  packages/keymaps/src/browser/keymaps.service.ts
  packages/keymaps/src/browser/keymaps.view.tsx
  packages/keymaps/src/common/keymaps.ts
Labels: 🐞 bug

#2089 feat: improve preference panel
  packages/components/package.json
  packages/components/src/checkbox/style.less
  packages/components/src/markdown/index.tsx
  packages/components/src/markdown/render.tsx
  packages/components/src/recycle-tree/basic/index.tsx
  packages/components/src/recycle-tree/basic/styles.less
  packages/components/src/recycle-tree/basic/tree-node.define.ts
  packages/components/src/recycle-tree/basic/tree-node.tsx
  packages/components/src/recycle-tree/basic/tree-service.ts
  packages/components/src/recycle-tree/basic/types.ts
  packages/components/src/scrollbars/index.tsx
  packages/components/src/scrollbars/styles.less
  packages/components/src/virtual-list/index.tsx
  packages/components/src/virtual-list/types.ts
  packages/core-browser/__mocks__/preference.ts
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/markdown/index.tsx
  packages/core-browser/src/preferences/settings.ts
  packages/core-browser/src/react-hooks/useThrottleFn/index.ts
  packages/core-common/src/preferences/preference-scope.ts
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/extension/src/browser/extension.ts
  packages/extension/src/browser/vscode/contributes/configuration.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/__tests__/browser/preference-settings.test.ts
  packages/preferences/src/browser/index.less
  packages/preferences/src/browser/preference-contribution.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/preferences/src/browser/preferences.module.less
  packages/preferences/src/browser/preferences.view.tsx
  packages/preferences/src/common/preference-id.ts
  packages/preferences/src/common/preference.ts
  packages/preferences/src/common/types.ts
  tools/playwright/package.json
  tools/playwright/src/tests/settings.test.ts
  yarn.lock
Labels: 🎨 feature

#2102 refactor: replace DeprecatedRecycleTree on Search view
  packages/components/src/recycle-tree/types/watcher.ts
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/contextkey/search.ts
  packages/debug/src/browser/view/console/debug-console-tree.model.service.ts
  packages/debug/src/browser/view/variables/debug-variables-tree.model.service.ts
  packages/debug/src/browser/view/watch/debug-watch-tree.model.service.ts
  packages/file-tree-next/src/browser/file-tree.tsx
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/outline/src/browser/services/outline-model.service.ts
  packages/search/__mocks__/content-search.service.ts
  packages/search/__tests__/browser/search-tree.service.test.ts
  packages/search/__tests__/browser/search.service.test.ts
  packages/search/__tests__/node/content-search.service.test.ts
  packages/search/src/browser/index.ts
  packages/search/src/browser/search-contextkey.ts
  packages/search/src/browser/search-tree.service.ts
  packages/search/src/browser/search-tree.view.tsx
  packages/search/src/browser/search.contribution.ts
  packages/search/src/browser/search.module.less
  packages/search/src/browser/search.replace.widget.tsx
  packages/search/src/browser/search.rules.widget.tsx
  packages/search/src/browser/search.service.ts
  packages/search/src/browser/search.view.tsx
  packages/search/src/browser/tree/search-node.tsx
  packages/search/src/browser/tree/search-tree.service.ts
  packages/search/src/browser/tree/search-tree.view.tsx
  packages/search/src/browser/tree/tree-model.service.ts
  packages/search/src/browser/tree/tree-node.defined.ts
  packages/search/src/browser/tree/tree-node.module.less
  packages/search/src/common/content-search.ts
  packages/search/src/node/content-search.service.ts
Labels: ⚙️ refactor

#2109 refactor: remove DeprecatedRecycleTree on comment module
  packages/comments/__test__/browser/comment-thread.test.ts
  packages/comments/__test__/browser/comment.service.test.ts
  packages/comments/__test__/browser/comments-feature.registry.test.ts
  packages/comments/src/browser/comments-feature.registry.ts
  packages/comments/src/browser/comments-panel.view.tsx
  packages/comments/src/browser/comments-thread.ts
  packages/comments/src/browser/comments-zone.view.tsx
  packages/comments/src/browser/comments.contribution.ts
  packages/comments/src/browser/comments.service.ts
  packages/comments/src/browser/index.ts
  packages/comments/src/browser/tree/comment-node.tsx
  packages/comments/src/browser/tree/tree-model.service.ts
  packages/comments/src/browser/tree/tree-node.defined.ts
  packages/comments/src/browser/tree/tree-node.module.less
  packages/comments/src/common/index.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.statusbar.test.ts
  packages/extension/src/browser/vscode/api/main.thread.comments.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  tools/playwright/src/tests/explorer-view.test.ts
Labels: ⚙️ refactor

#2114 refactor: progressbar component
  packages/core-browser/src/components/progressbar/index.tsx
  packages/core-browser/src/components/progressbar/styles.module.less
  packages/core-browser/src/progress/progress-bar.tsx
  packages/extension-manager/src/browser/extension-overview/index.tsx
  packages/extension-manager/src/browser/vsx-extension.view.tsx
  packages/extension/src/browser/components/extension-loading-view.tsx
  packages/extension/src/browser/components/extension-tree-view.tsx
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/file-tree-next/src/browser/file-tree.tsx
  packages/opened-editor/src/browser/opened-editor.tsx
  packages/search/src/browser/search.view.tsx
Labels: ⚙️ refactor

#2112 feat: support markers status
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/popover/index.tsx
  packages/core-browser/__tests__/utils/parse.test.ts
  packages/core-browser/src/style/icon/icon.ts
  packages/core-browser/src/style/icon/index.less
  packages/core-browser/src/utils/parse.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/markers/src/browser/markers-contribution.ts
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/status-bar/src/browser/status-bar.module.less
Labels: 🎨 feature

#2119 feat: support space keybinding on filetree
  packages/core-browser/src/common/common.command.ts
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug, 🎨 feature

#2117 fix: quick open argument
  packages/core-browser/src/common/common.command.ts
  packages/main-layout/src/browser/main-layout.contribution.ts
  packages/quick-open/src/browser/quick-open.contribution.ts
Labels: 🐞 bug

#2116 chore: fix unstable fileServiceClient unit test
  packages/file-service/__tests__/browser/file-service-client.test.ts
Labels: 🐞 bug

#2122 fix: copy dir with recursive in rebuild-native script
  scripts/rebuild-native.js
  tools/electron/scripts/rebuild-native.js
Labels: 🐞 bug

#2120 fix: webview cspSource
  packages/extension/src/hosted/api/vscode/ext.host.api.webview.ts
  packages/extension/src/hosted/api/vscode/ext.host.window.api.impl.ts
Labels: 🐞 bug

#2113 fix: save file diff error
  packages/file-service/src/node/disk-file-system.provider.ts
Labels: 🐞 bug

#2125 fix: unnecessary re-tokenizer
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: 🐞 bug

#2130 feat: support toggle terminal keybinding
  packages/core-browser/src/common/common.command.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/terminal-next/src/browser/component/tab.module.less
  packages/terminal-next/src/browser/contribution/terminal.command.ts
  packages/terminal-next/src/browser/contribution/terminal.keybinding.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/common/controller.ts
Labels: 🎨 feature

#2129 feat: improve file search path on workspace folders
  packages/addons/src/browser/file-search.contribution.ts
  packages/editor/src/browser/quick-open/workspace-symbol-quickopen.ts
  packages/search/src/browser/tree/search-tree.service.ts
  packages/workspace/__tests__/browser/workspace-service.test.ts
  packages/workspace/src/browser/workspace-service.ts
  packages/workspace/src/common/mocks/workspace-service.ts
  packages/workspace/src/common/workspace.interface.ts
Labels: 🎨 feature

#2111 refactor: remove DeprecatedRecycleTree component
  CHANGELOG.md
  packages/comments/__test__/browser/comment.service.test.ts
  packages/comments/__test__/browser/comments-feature.registry.test.ts
  packages/comments/src/browser/comments-feature.registry.ts
  packages/comments/src/browser/comments.service.ts
  packages/comments/src/browser/tree/comment-node.tsx
  packages/comments/src/browser/tree/tree-node.defined.ts
  packages/comments/src/common/index.ts
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/core-browser/package.json
  packages/core-browser/src/components/index.ts
  packages/core-browser/src/components/recycle-tree/index.ts
  packages/core-browser/src/components/recycle-tree/recycle-tree.view.tsx
  packages/core-browser/src/components/scrollbar/index.ts
  packages/core-browser/src/components/scrollbar/scrollbar.less
  packages/core-browser/src/components/scrollbar/scrollbar.view.ts
  packages/core-browser/src/components/tree/index.ts
  packages/core-browser/src/components/tree/tree-node.view.tsx
  packages/core-browser/src/components/tree/tree.module.less
  packages/core-browser/src/components/tree/tree.view.tsx
  packages/core-browser/src/file-decoration.ts
  packages/core-browser/src/index.ts
  packages/core-browser/src/tree/index.ts
  packages/core-browser/src/tree/tree-expansion.ts
  packages/core-browser/src/tree/tree-selection.ts
  packages/core-browser/src/tree/tree.ts
  packages/main-layout/src/browser/layout.service.ts
  packages/search/src/common/content-search.ts
  yarn.lock
Labels: ⚙️ refactor

#2127 feat: enable editor minimap by default
  packages/editor/src/browser/preference/schema.ts
Labels: 🎨 feature

#2128 fix: partial update view
  packages/search/src/browser/search.replace.widget.tsx
  packages/search/src/browser/search.service.ts
  packages/search/src/browser/search.view.tsx
Labels: 🐞 bug

#2121 style: improve empty editor component style
  packages/startup/entry/sample-modules/editor-empty-component.module.less
Labels: 💄 style change

#2124 fix: search rules display logic
  packages/search/src/browser/search.replace.widget.tsx
  packages/search/src/browser/search.rules.widget.tsx
  packages/search/src/browser/search.service.ts
  packages/search/src/browser/search.view.tsx
  packages/search/src/browser/tree/tree-node.module.less
  tools/playwright/src/search-view.ts
  tools/playwright/src/tests/search-view.test.ts
Labels: 🐞 bug

#2132 fix: disable some keybindings on filetree filter mode
  packages/file-tree-next/src/browser/file-tree-contribution.ts
Labels: 🐞 bug

#2123 fix: duplicate search results
  packages/core-common/src/reference.ts
  packages/search/src/browser/search.service.ts
  packages/search/src/node/content-search.service.ts
Labels: 🐞 bug

#2134 fix: debounce editor layout
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#2141 fix: debug condition breakpoint style
  packages/debug/src/browser/editor/debug-breakpoint.module.less
Labels: 🐞 bug, 💄 style change

#2133 fix: unnecessary editor update options
  packages/editor/__tests__/browser/editor.collection.test.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/common/editor.ts
Labels: 🐞 bug

#2138 feat: support search and replace value by regexp
  packages/search/__tests__/browser/replace.test.ts
  packages/search/src/browser/replace.ts
  packages/search/src/browser/search.contribution.ts
  packages/search/src/browser/search.input.widget.tsx
  packages/search/src/browser/search.service.ts
  packages/search/src/browser/search.view.tsx
  packages/search/src/browser/tree/search-node.tsx
  packages/search/src/browser/tree/search-tree.service.ts
  packages/search/src/browser/tree/search-tree.view.tsx
  packages/search/src/common/content-search.ts
Labels: 🐞 bug, 🎨 feature

#2142 fix: do not exclude .gitignore
  packages/addons/src/browser/file-search.contribution.ts
  packages/core-browser/src/core-preferences.ts
Labels: 🐞 bug

#2145 fix: append browser views return
  packages/extension/src/browser/sumi/contributes/browser-views.ts
Labels: 🐞 bug
