Repository opensumi/core, pull requests merged in 2023-02, with the labels that each got.

#2229 fix: compact folder on symbol link folders
  packages/core-common/src/types/file.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-api.service.ts
Labels: 🐞 bug

#2230 fix(preference): `Extension` button occasionally does not show
  packages/core-browser/src/components/layout/layout.ts
  packages/preferences/src/browser/preference-contribution.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/preferences/src/browser/preferences.view.tsx
Labels: 🐞 bug

#2228 fix: update default scroller bar thumb size to 10
  packages/components/src/scrollbars/index.tsx
  packages/components/src/scrollbars/styles.less
  packages/components/src/virtual-list/index.tsx
Labels: 🐞 bug

#2210 feat: add cli engine
  .eslintignore
  configs/ts/tsconfig.resolve.json
  lerna.json
  package.json
  packages/collaboration/__tests__/browser/collaboration-service.test.ts
  packages/collaboration/package.json
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/__tests__/browser/main.thread.env.test.ts
  packages/extension/__tests__/browser/main.thread.task.test.ts
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
  packages/extension/__tests__/browser/vscode.contributes.test.ts
  packages/extension/src/browser/extension-view.service.ts
  packages/extension/src/browser/require-interceptor.contribution.ts
  packages/extension/src/common/sumi/extension.ts
  packages/extension/src/hosted/ext.host.ts
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/common/main-layout.definition.ts
  packages/monaco/src/browser/contrib/merge-editor/model/decorations.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-widget.ts
  packages/startup/entry/web-lite/common-modules.ts
  packages/startup/src/browser/common-modules.ts
  packages/startup/src/node/common-modules.ts
  packages/testing/src/browser/outputPeek/test-peek-widget.tsx
  packages/types/manifest.json
  tools/cli-engine/README.md
  tools/cli-engine/configs/tsconfig.json
  tools/cli-engine/configs/tsconfig.node.json
  tools/cli-engine/configs/webpack-util.js
  tools/cli-engine/configs/webpack.config.browser.js
  tools/cli-engine/configs/webpack.config.ext-worker.js
  tools/cli-engine/configs/webpack.config.ext.js
  tools/cli-engine/configs/webpack.config.node.js
  tools/cli-engine/configs/webpack.config.webview.js
  tools/cli-engine/package.json
  tools/cli-engine/src/browser/app.tsx
  tools/cli-engine/src/browser/index.html
  tools/cli-engine/src/browser/index.ts
  tools/cli-engine/src/browser/style.less
  tools/cli-engine/src/browser/vendor/loader.js
  tools/cli-engine/src/node/env.ts
  tools/cli-engine/src/node/index.ts
  tools/cli-engine/src/node/modules.ts
  tools/cli-engine/src/node/openBrowser.ts
  tools/cli-engine/src/node/server.ts
  tools/cli-engine/src/webview/webview-host/common.ts
  tools/cli-engine/src/webview/webview-host/web-preload.ts
  tools/cli-engine/src/webview/webview-host/webview-manager.ts
  tools/cli-engine/src/webview/webview-host/webview.html
  tools/electron/src/browser/index.ts
  tools/electron/src/node/index.ts
  yarn.lock
Labels: 🎨 feature

#2245 fix: merge editor state restore
  packages/core-browser/src/monaco/merge-editor-widget.ts
  packages/editor/src/browser/merge-editor/merge-editor.provider.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/monaco/__tests__/browser/merge-editor/merge-editor.service.test.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 🐞 bug

#2249 fix: localize terminal find placeholder
  packages/terminal-next/src/browser/component/terminal.view.tsx
Labels: 🐞 bug

#2257 fix: update monaco keybindings after keybinding changed
  packages/core-browser/src/keybinding/keybinding.ts
  packages/editor/README.md
  packages/editor/src/browser/preference/schema.ts
  packages/electron-basic/package.json
  packages/monaco/src/browser/monaco.contribution.ts
  yarn.lock
Labels: 🐞 bug

#2251 fix: detect path stat before open workspace
  packages/electron-basic/src/browser/welcome/welcome.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#2154 refactor: use nsfw on linux
  package.json
  packages/extension/webpack.config.ext-host.js
  packages/file-service/__tests__/browser/file-service-client.test.ts
  packages/file-service/__tests__/node/file-service-watcher.test.ts
  packages/file-service/__tests__/node/index.test.ts
  packages/file-service/package.json
  packages/file-service/src/common/watcher.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-service/src/node/file-service-watcher.ts
  tools/dev-tool/cli/rebuild-native.js
  yarn.lock
Labels: ⚙️ refactor

#2259 chore: fix manifest generate
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  packages/types/manifest.json
Labels: 🐞 bug

#2264 fix: unregister default monaco keybindings
  packages/components/src/dropdown/dropdown.tsx
  packages/core-browser/__tests__/external-preference.test.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-common/src/const/index.ts
  packages/core-common/src/const/locale-types.ts
  packages/debug/src/browser/view/console/debug-console.contribution.ts
  packages/extension/src/browser/extension.ts
  packages/file-service/__tests__/node/file-service-watcher.test.ts
  packages/i18n/__tests__/dataValidity.test.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/monaco.contribution.ts
  packages/monaco/src/browser/monaco.resolved-keybinding.ts
  packages/startup/entry/sample-modules/editor-empty-component.contribution.tsx
  packages/startup/entry/web-lite/app.tsx
  packages/startup/entry/web/app.tsx
  tools/dev-tool/src/injector-helper.ts
  tools/dev-tool/src/mock-injector.ts
Labels: 🐞 bug

#2271 fix: title bar delete flag not update
  packages/electron-basic/src/browser/header/header.service.ts
Labels: 🐞 bug

#2275 fix: 修复打开大文件时编辑器加载慢的问题
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#2280 fix: comments threads event listener
  packages/comments/src/browser/tree/tree-model.service.ts
Labels: 🐞 bug

#2269 fix: electron header bar default height
  packages/electron-basic/src/browser/header/header.module.less
  packages/electron-basic/src/browser/header/header.view.tsx
Labels: 🐞 bug

#2279 fix: merge editor argument
  packages/core-browser/src/monaco/merge-editor-widget.ts
Labels: 🐞 bug

#2278 fix: editor tag loading state
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#2260 fix: reset yTextMap when file updated by system
  packages/collaboration/src/browser/collaboration.contribution.ts
  packages/collaboration/src/browser/collaboration.service.ts
  packages/collaboration/src/common/types.ts
Labels: 🐞 bug

#2266 chore: show extension download error
  scripts/download.js
Labels: 🎨 feature

#2284 feat: menubar component will reset focus after click
  packages/menu-bar/src/browser/menu-bar.view.tsx
Labels: 🎨 feature

#2265 fix: quick open hightlight label whitespace
  packages/quick-open/src/browser/components/highlight-label/index.tsx
  packages/quick-open/src/browser/quick-open.view.tsx
  packages/quick-open/src/browser/styles.module.less
Labels: 🐞 bug

#2277 fix: support Trim Final NewLines configuration
  packages/editor/src/browser/doc-model/saveParticipants.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🐞 bug

#2289 fix: support undo/redo/selectAll on WebIDE textInput
  packages/core-browser/src/common/common.contribution.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/monaco-contrib/command/command.service.ts
  packages/monaco/src/browser/monaco.contribution.ts
  packages/monaco/src/common/command.ts
  packages/monaco/src/common/index.ts
  packages/monaco/src/common/types.ts
Labels: 🐞 bug

#2291 fix: terminal rename fix
  packages/terminal-next/src/browser/terminal.view.ts
Labels: 🐞 bug

#2290 feat: support upstream control tree node render behavior
  packages/comments/src/browser/comments.service.ts
  packages/comments/src/browser/tree/comment-node.tsx
  packages/comments/src/browser/tree/tree-model.service.ts
  packages/comments/src/browser/tree/tree-node.defined.ts
  packages/comments/src/common/index.ts
Labels: 🎨 feature

#2274 fix: scm badge is too large to display the problem
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🐞 bug

#2204 refactor: remove some useless icons
  CHANGELOG.md
  packages/components/src/icon/iconfont/iconManager.ts
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/opened-editor/src/browser/opened-editor-node.module.less
  packages/opened-editor/src/browser/opened-editor-node.tsx
  packages/terminal-next/src/browser/terminal.environment.service.ts
Labels: ⚙️ refactor

#2299 fix: add margins to the QuickOpen input
  packages/quick-open/src/browser/styles.module.less
Labels: 🐞 bug

#2295 fix: modified readonly logic of diff editor
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug

#2309 feat: read-only resource render lock icon
  packages/editor/__tests__/browser/resource.test.ts
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/editor/src/browser/doc-model/types.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/resource.service.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/common/resource.ts
  packages/opened-editor/__tests__/browser/opened-editor.service.test.ts
Labels: 🎨 feature

#2322 fix: FileTreeNode decoration color style dose not take effect
  packages/file-tree-next/src/browser/file-tree-node.module.less
Labels: 🐞 bug, 💄 style change

#2327 fix: treeview node duplicated when switching tree mode
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.node.defined.ts
Labels: 🐞 bug

#2330 fix: support normal prelunchTask on debug
  CHANGELOG.md
  packages/debug/src/browser/contextkeys/debug-contextkey.service.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/editor/debug-editor-contribution.ts
  packages/debug/src/browser/view/console/debug-console.service.ts
  packages/debug/src/browser/view/frames/debug-call-stack-session.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack-thread.view.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#2329 style: improve outline treenode style
  packages/editor/src/browser/preference/contribution.ts
  packages/outline/src/browser/outline-node.tsx
Labels: 💄 style change

#2323 fix: sync file dirty status after spliting files
  packages/editor/src/common/mocks/workbench-editor.service.ts
  packages/opened-editor/__tests__/browser/opened-editor-model.service.test.ts
  packages/opened-editor/__tests__/browser/opened-editor.service.test.ts
  packages/opened-editor/src/browser/opened-editor-node.define.ts
  packages/opened-editor/src/browser/opened-editor-node.module.less
  packages/opened-editor/src/browser/opened-editor-node.tsx
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
  packages/opened-editor/src/browser/services/opened-editor-model.ts
  packages/opened-editor/src/browser/services/opened-editor-tree.service.ts
  tools/playwright/src/explorer-view.ts
Labels: 🐞 bug

#2324 fix: improve SCM Treeview style and UX
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree.service.ts
Labels: 🐞 bug, 💄 style change

#2319 fix: customEditor display problem
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#2310 feat: support inspectExtensionHost config
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/node/extension.service.ts
Labels: 🎨 feature

#2333 fix(styles): fix kticon wrong display value
  packages/components/src/icon/iconfont/iconfont.css
  packages/core-browser/src/style/icon/index.less
Labels: 🐞 bug, 💄 style change

#2339 fix: support dynamic treenode height on RecycleTree component
  packages/components/src/recycle-tree/RecycleTree.tsx
  packages/components/src/recycle-tree/TreeNodeRendererWrap.ts
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/console/debug-console.view.tsx
  packages/markers/src/browser/markers-tree.view.tsx
  packages/markers/src/browser/tree/marker-node.tsx
  packages/markers/src/browser/tree/tree-node.module.less
Labels: 🐞 bug

#2336 fix: pty parse cwd error
  packages/terminal-next/src/node/pty.ts
Labels: 🐞 bug

#2348 fix(collaboration): change default color
  packages/collaboration/src/browser/collaboration.service.ts
  packages/collaboration/src/browser/color.ts
Labels: 🐞 bug
