Repository opensumi/core, pull requests merged in 2023-08, with the labels that each got.

#2963 fix: file tree decoration render error
  packages/components/src/recycle-tree/tree/decoration/Decoration.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug, ⚙️ refactor

#2965 fix: improve comment thread actions UX
  packages/core-browser/src/components/actions/index.tsx
Labels: 🐞 bug

#2954 fix: extra whitespace view-zone
  packages/comments/src/browser/comments.service.ts
Labels: 🐞 bug

#2956 fix: disable minimap for diffEditor
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/preference/converter.ts
  packages/editor/src/browser/preference/schema.ts
Labels: 🐞 bug, 🎨 feature

#2969 fix: terminal panel registered wrong view id
  packages/terminal-next/src/browser/contribution/terminal.view.ts
Labels: 🐞 bug

#2970 fix: support vscode workbench.action.openGlobalKeybindings commands
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
Labels: 🐞 bug

#2973 fix: not resolve eacape in message.open
  packages/components/src/utils/marked.ts
  packages/core-browser/src/markdown/index.tsx
  packages/overlay/src/browser/message.service.tsx
Labels: 🐞 bug

#2974 fix: lock @rjsf node module version
  packages/debug/package.json
  yarn.lock
Labels: 🐞 bug, 🎨 feature

#2978 fix: diff editor type
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug

#2979 fix: fix forced save not working
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#2981 fix: hideOnDidAccept set default true
  packages/quick-open/src/browser/quick-input-service.ts
Labels: 🐞 bug, 🎨 feature

#2948 refactor(ext): improve code and log message
  packages/extension/__tests__/hosted/__mocks__/extensionLogger.ts
  packages/extension/__tests__/hosted/api/sumi/ext.host.toolbar.test.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/browser/sumi/contributes/toolbar.ts
  packages/extension/src/hosted/api/sumi/ext.host.api.impl.ts
  packages/extension/src/hosted/api/sumi/ext.host.toolbar.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/extension/src/hosted/extension-log2.ts
Labels: ⚙️ refactor

#3000 Revert "fix: fix select component style"
  packages/components/src/select/style.less
Labels: 🐞 bug, 💄 style change

#2999 fix: improve modifier keybinding ux
  packages/core-browser/src/keybinding/keybinding.ts
Labels: 🐞 bug

#3001 Revert "fix(component): remove select component unreasonable span selector"
  packages/components/src/select/index.tsx
  packages/components/src/select/style.less
  yarn.lock
Labels: 🐞 bug

#3002 feat: support vscode.l10n api
  packages/extension/__mocks__/extension.service.client.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.test.ts
  packages/extension/src/browser/vscode/api/main.thread.api.impl.ts
  packages/extension/src/browser/vscode/api/main.thread.localization.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/common/vscode/extension.ts
  packages/extension/src/common/vscode/index.ts
  packages/extension/src/common/vscode/localization.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.localization.ts
  packages/extension/src/hosted/api/vscode/tasks/ext.host.tasks.ts
  packages/extension/src/hosted/api/worker/worker.host.api.impl.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/extension/src/hosted/vscode.extension.ts
  packages/extension/src/hosted/worker.host.ts
  packages/extension/src/node/extension.service.client.ts
  packages/types/index.d.ts
  packages/types/sumi-worker.d.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.comments.d.ts
  packages/types/vscode/typings/vscode.doc.d.ts
  packages/types/vscode/typings/vscode.editor.d.ts
  packages/types/vscode/typings/vscode.l10n.d.ts
  packages/types/vscode/typings/vscode.message.d.ts
  packages/types/vscode/typings/vscode.proposed.authSession.d.ts
  packages/types/vscode/typings/vscode.proposed.diffCommand.d.ts
  packages/types/vscode/typings/vscode.proposed.inlineCompletionsAdditions.d.ts
  packages/types/vscode/typings/vscode.proposed.openEditors.d.ts
  packages/types/vscode/typings/vscode.proposed.scm.d.ts
  packages/types/vscode/typings/vscode.proposed.scmActionButton.d.ts
  packages/types/vscode/typings/vscode.proposed.scmSelectedProvider.d.ts
  packages/types/vscode/typings/vscode.proposed.scmValidation.d.ts
  packages/types/vscode/typings/vscode.proposed.task.d.ts
  packages/types/vscode/typings/vscode.proposed.terminalDimensions.d.ts
  packages/types/vscode/typings/vscode.proposed.timeline.d.ts
  packages/types/vscode/typings/vscode.quickpick.d.ts
  packages/types/vscode/typings/vscode.tasks.d.ts
  packages/types/vscode/typings/vscode.theme.d.ts
  packages/types/vscode/typings/vscode.window.d.ts
  packages/types/vscode/typings/vscode.workspace.d.ts
  packages/utils/src/platform.ts
  packages/utils/src/strings.ts
Labels: 🐞 bug, 🎨 feature

#3021 fix: fix left panel display
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/components/resize/resize.tsx
  packages/explorer/src/browser/explorer-contribution.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/accordion.view.tsx
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/main-layout.contribution.ts
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/common/main-layout.definition.ts
Labels: 🐞 bug

#3020 style: improve notification multi-button style
  packages/components/src/notification/notification.less
  packages/components/src/notification/notification.tsx
  packages/debug/src/browser/view/variables/debug-variables.module.less
Labels: 🐞 bug, 💄 style change

#3028 fix: worker extension initial error
  packages/extension/src/hosted/api/vscode/env/workerEnvApiFactory.ts
  packages/extension/src/hosted/api/worker/worker.host.api.impl.ts
Labels: 🐞 bug

#3030 feat: ws reconnect report connection info
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/utils.ts
Labels: 🎨 feature

#3026 feat: add editor top side bar support
  packages/editor/src/browser/component.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/types.ts
  packages/startup/src/browser/editor-top-example.tsx
  packages/startup/src/browser/startup.contribution.ts
Labels: 🎨 feature, 💄 style change
