Repository opensumi/core, pull requests merged in 2023-11, with the labels that each got.

#3148 style: improve preference checkbox style
  packages/preferences/src/browser/preferences.module.less
Labels: 🐞 bug, 💄 style change

#3127 feat: add enable persistent terminal session preference
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/common/preference.ts
Labels: 🎨 feature

#3154 feat: support chat streaming rendering
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/model/msg-stream-manager.ts
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/node/index.ts
  yarn.lock
Labels: 🎨 feature

#3157 refactor: inline chat
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/components/Icon.tsx
  packages/ai-native/src/browser/components/Loading.tsx
  packages/ai-native/src/browser/components/Popover.tsx
  packages/ai-native/src/browser/components/Thumbs.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/lineVertical.tsx
  packages/ai-native/src/browser/diff-widget/ai-diff-widget.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.module.less
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/override/ai-menu.service.tsx
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/components/src/popover/index.tsx
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature, 💄 style change

#3159 feat: support inline chat dynamic position
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
Labels: 🎨 feature, 💄 style change, v3

#3161 refactors: optmize sumi command
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/prompts/prompt-manager.ts
  packages/ai-native/src/browser/prompts/sumi.command.ts
  packages/ai-native/src/common/index.ts
Labels: ⚙️ refactor, 🎨 feature, v3

#3162 chore: command try catch
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
Labels: v3

#3163 feat: support inline chat regenerate
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
Labels: 🎨 feature

#3168 feat: ai chat panel update
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/ai-native/src/common/index.ts
  packages/components/src/button/style.less
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🐞 bug, 🎨 feature, 💄 style change

#3169 feat: chat panel error message
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/model/msg-stream-manager.ts
Labels: 🎨 feature

#3164 refactor: declare backservice type & remove old request method
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-project/generate.service.ts
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/content-widget/ai-inline-chat.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/browser/run/run.feature.registry.ts
  packages/ai-native/src/browser/run/run.service.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/index.ts
  packages/ai-native/src/node/ai.service.ts
  packages/ai-native/src/node/index.ts
  packages/components/src/markdown/index.tsx
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature, v3

#3172 feat: improve inline chat position
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-project/generate.service.ts
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/content-widget/ai-content-widget.tsx
  packages/ai-native/src/browser/content-widget/ai-inline-chat-panel.tsx
  packages/ai-native/src/browser/content-widget/ai-inline-chat.module.less
  packages/ai-native/src/browser/content-widget/ai-inline-chat.service.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/common/index.ts
  packages/components/src/button/style.less
Labels: 🎨 feature, 💄 style change, v3

#3173 fix: chat stream message pause
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/components/Popover.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/model/msg-stream-manager.ts
  packages/components/src/popover/index.tsx
Labels: 🐞 bug, 🎨 feature, v3

#3174 style: update chat panel style
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/Icon.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/model/msg-stream-manager.ts
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/common/index.ts
Labels: 💄 style change

#3175 feat: support chat regenerate
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/model/msg-stream-manager.ts
Labels: 🎨 feature, v3

#3176 feat: add data repoter
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-project/generate.service.ts
  packages/ai-native/src/browser/ai-reporter.ts
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/run/run.service.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🎨 feature, v3

#3178 feat: support inlinechat report
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🎨 feature

#3179 fix: add isStart at report
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-reporter.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🐞 bug

#3180 feat: add error response for search command
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/common-reponse.ts
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
Labels: ⚙️ refactor, 🎨 feature, 💄 style change, v3

#3181 fix: add progress loading for common input
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
Labels: 🐞 bug

#3182 feat: support search doc and code
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-project/generate.service.ts
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🎨 feature

#3177 feat: add ai menu bar slot
  .gitignore
  packages/ai-native/.gitignore
  packages/ai-native/src/browser/override/layout/layout-config.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
Labels: 🎨 feature

#3183 feat: support chat thumb action
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/Thumbs.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/common/reporter.ts
  packages/core-browser/src/style/icon/icon.ts
  packages/core-browser/src/style/icon/ide-iconfont.ts
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#3184 feat: add retry for command
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-reporter.ts
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature, v3

#3185 fix: iconfont
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
Labels: 🐞 bug

#3186 refactor: inline completions
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/inline-completions/promptCache.ts
  packages/ai-native/src/browser/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/inline-completions/utils/message.ts
Labels: ⚙️ refactor, 🎨 feature

#3188 chore: improve inline chat position & completions reporter
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/common/command.ts
Labels: v3

#3189 feat: add report for ai completion
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🎨 feature, v3

#3190 feat: open quickopen when not found command
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/common-reponse.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/core-browser/src/quick-open/index.ts
  packages/quick-open/src/browser/prefix-quick-open.service.ts
  packages/quick-open/src/browser/quick-open.contribution.ts
Labels: 🎨 feature

#3191 chore: improve chat prompt
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/components.module.less
Labels: v3

#3194 style: update style
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/Icon.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/main-slot-renderer.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/override.less
Labels: 🐞 bug, 💄 style change

#3196 chore: update icon
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/node/index.ts
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
Labels: 💄 style change

#3166 fix: improve panel section description style
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  packages/main-layout/src/browser/accordion/styles.module.less
  yarn.lock
Labels: 🐞 bug, 💄 style change

#3197 fix: editor selection hide status bar
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
Labels: 🐞 bug

#3198 chore: update ai module style
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/main-slot-renderer.tsx
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/common/index.ts
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature, 💄 style change

#3200 fix: remove not found command prompt
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/prompts/sumi.command.ts
Labels: 🐞 bug

#3201 fix: thinking style
  packages/ai-native/src/browser/components/Thinking.tsx
Labels: 🐞 bug, 💄 style change

#3202 chore: update component style
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
Labels: 🐞 bug, 💄 style change

#3122 feat: implement workspaceEdit needConfirmation
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
  packages/extension/src/browser/vscode/api/main.thread.workspace.ts
  packages/monaco/src/browser/monaco-api/index.ts
  packages/workspace-edit/__tests__/browser/index.test.ts
  packages/workspace-edit/src/browser/bulk-edit.service.ts
Labels: 🐞 bug, 🎨 feature

#3203 Feat: registry command for open panel with command
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/core-browser/src/common/common.command.ts
  packages/quick-open/src/browser/quick-open.contribution.ts
Labels: ⚙️ refactor

#3205 feat: opt find command
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
Labels: 🎨 feature

#3206 fix:ai native style
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug, 💄 style change

#3208 feat: support right panel header render
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/tabbar.view.tsx
  packages/extension/src/browser/sumi/contributes/browser-views.ts
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/output/src/browser/output.service.ts
Labels: 🐞 bug, 🎨 feature, 💄 style change, v3

#3212 refactor: diff editor widget
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/diff-widget/ai-diff-widget.tsx
  packages/ai-native/src/browser/diff-widget/diff-widget.module.less
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
Labels: ⚙️ refactor, v3

#3167 fix: omit display long title in markers
  packages/markers/src/browser/tree/tree-node.module.less
Labels: 🐞 bug

#3170 style: panel use default zIndex
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
  packages/main-layout/__tests__/browser/layout.service.test.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  yarn.lock
Labels: 🐞 bug, 💄 style change

#3216 fix: support DirectDebugAdapter debug type
  packages/debug/src/browser/debug-session.ts
  packages/extension/src/hosted/api/vscode/debug/abstract-debug-adapter-session.ts
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-starter.ts
Labels: 🐞 bug, ⚙️ refactor

#3221 fix: esc & inline completion reporter
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/contextkey/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/common/command.ts
  packages/core-browser/src/contextkey/ai-native.ts
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature

#3207 style: update animation
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/override.less
Labels: 💄 style change

#3222 fix: inline completion inserText
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🐞 bug

#3219 fix: scm module support chinese title #2977
  packages/scm/src/browser/scm-util.ts
Labels: 🐞 bug
