Repository opensumi/core, pull requests merged in 2023-03, with the labels that each got.

#2258 feat: breadcrumbs support menus
  packages/core-browser/src/menu/next/menu-id.ts
  packages/editor/src/browser/breadcrumb/default.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/menu/breadcrumbs.menus.ts
  packages/editor/src/browser/navigation.view.tsx
  packages/editor/src/browser/types.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#2351 fix: improve context menu content fontsize
  packages/core-browser/src/components/actions/styles.module.less
Labels: 🐞 bug

#2360 style: fix default treenode overflow style
  packages/components/src/recycle-tree/RecycleTree.tsx
Labels: 🐞 bug, 💄 style change

#2347 Revert "fix: use bash resolve shellpath"
  packages/core-node/src/bootstrap/shell-path.ts
Labels: 🐞 bug

#2362 fix: open original file from diff editor
  packages/editor/README.md
  packages/editor/src/common/editor.ts
  packages/extension/src/browser/vscode/contributes/menu.ts
Labels: 🐞 bug

#2357 fix: title bar not change with the file
  packages/electron-basic/src/browser/header/header.service.ts
Labels: 🐞 bug

#2365 fix: highlight range of search result is wrong
  packages/search/src/browser/tree/search-node.tsx
  packages/search/src/browser/tree/tree-node.defined.ts
Labels: 🐞 bug

#2366 fix: deprecated isElectronRenderer and use appConfig.isElectronRenderer
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/utils/env.ts
  packages/debug/src/browser/view/configuration/debug-configuration.view.tsx
  packages/debug/src/browser/view/console/debug-console-toolbar.view.tsx
  packages/file-scheme/src/browser/external.view.tsx
  packages/output/src/browser/output.view.tsx
  packages/utils/src/os.ts
Labels: 🐞 bug

#2377 fix: search tree height not change reactively
  packages/search/src/browser/search.view.tsx
Labels: 🐞 bug

#2376 fix: adding changes on SCM with the tree model
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/debug/src/browser/tree/debug-tree-node.define.ts
Labels: 🐞 bug

#2379 fix: show files on symbol link folders
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-api.service.ts
  packages/file-tree-next/src/browser/services/file-tree-dnd.service.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
  packages/file-tree-next/src/common/index.ts
Labels: 🐞 bug

#2343 feat: editor tab title display file path
  packages/editor/__tests__/browser/resource.test.ts
  packages/editor/src/browser/diff/index.ts
  packages/editor/src/browser/fs-resource/fs-resource.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/common/resource.ts
Labels: 🎨 feature

#2380 fix: get the correct document instance from bookmarks url
  packages/core-common/src/reference.ts
  packages/extension/src/hosted/api/vscode/doc/doc-manager.host.ts
Labels: 🐞 bug

#2340 feat: statusbar pophover support icon
  packages/core-browser/src/style/codicons/codicon-animations.css
  packages/core-browser/src/utils/label.tsx
  packages/markers/src/browser/markers-contribution.ts
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/status-bar/src/browser/status-bar.module.less
Labels: 🐞 bug, 🎨 feature

#2382 fix: localization lifecycle
  packages/extension/src/browser/vscode/contributes/localization.ts
Labels: 🐞 bug

#2381 fix: get correctly fsPath on Windows findFiles
  packages/addons/src/browser/file-search.contribution.ts
  packages/extension/src/browser/vscode/api/main.thread.workspace.ts
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
  packages/file-search/__tests__/node/file-search.service.test.ts
  packages/file-search/src/node/file-search.service.ts
Labels: 🐞 bug

#2386 fix: multiple client file watcher
  packages/file-service/src/node/file-service-watcher.ts
Labels: 🐞 bug

#2398 fix: show theme quick picker after theme extension installed
  packages/extension/src/browser/extension-management.service.ts
  packages/extension/src/browser/vscode/contributes/icon.ts
  packages/extension/src/browser/vscode/contributes/theme.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/theme/__tests__/browser/icon.service.test.ts
  packages/theme/__tests__/browser/theme.service.test.ts
  packages/theme/src/browser/icon.service.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/browser/workbench.theme.service.ts
  packages/theme/src/common/theme.service.ts
Labels: 🐞 bug

#2407 fix: remove status bar warnings
  packages/core-browser/src/react-providers/slot.tsx
  packages/core-browser/src/style/normalize.less
  packages/core-browser/src/utils/label.tsx
  packages/startup/entry/sample-modules/menu-bar/menu-bar.contribution.ts
  packages/startup/entry/web/app.tsx
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/status-bar/src/browser/status-bar.service.ts
  packages/status-bar/src/browser/status-bar.view.tsx
  packages/toolbar/src/browser/toolbar.view.tsx
Labels: 🐞 bug

#2417 fix: search no result not display
  packages/search/src/browser/search.view.tsx
Labels: 🐞 bug

#2403 refactor: remove unused application error definition
  NOTICE.md
  packages/connection/src/common/proxy.ts
  packages/core-common/src/application-error.ts
  packages/core-common/src/index.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/common/debug-service.ts
  packages/file-service/src/browser/file-service-client.ts
  packages/file-service/src/common/file-service-client.ts
  packages/file-service/src/common/files.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-service/src/node/file-service.ts
  packages/workspace-edit/__tests__/browser/index.test.ts
  packages/workspace-edit/src/browser/workspace-edit.service.ts
Labels: ⚙️ refactor

#2438 feat: compatibility with the experimental API registerTimelineProvider
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
Labels: 🎨 feature

#2312 feat: toolbar dropdown-button contribute
  packages/components/src/dropdown/dropdown-button.tsx
  packages/components/src/dropdown/index.tsx
  packages/components/src/dropdown/style.less
  packages/components/src/index.ts
  packages/core-browser/src/toolbar/components/dropdown-button.module.less
  packages/core-browser/src/toolbar/components/dropdown-button.tsx
  packages/core-browser/src/toolbar/components/index.ts
  packages/core-browser/src/toolbar/types.ts
  packages/extension/__tests__/hosted/api/sumi/ext.host.toolbar.test.ts
  packages/extension/src/browser/sumi/contributes/toolbar.ts
  packages/extension/src/browser/sumi/main.thread.toolbar.ts
  packages/extension/src/browser/sumi/types.ts
  packages/extension/src/common/sumi/toolbar.ts
  packages/extension/src/hosted/api/sumi/ext.host.toolbar.ts
Labels: 🎨 feature

#2415 fix: namespace conflicts between extHost and extBrowser
  packages/extension/src/browser/vscode/api/debug/extension-debug-service.ts
  packages/extension/src/browser/vscode/api/main.thread.connection.ts
  packages/extension/src/browser/vscode/api/main.thread.debug.ts
  packages/extension/src/browser/vscode/api/main.thread.log.ts
Labels: 🐞 bug

#2393 fix: support haxe hashlink debug
  packages/debug/__tests__/browser/debugModel.test.ts
  packages/debug/__tests__/browser/editor/debug-model.test.ts
  packages/debug/src/browser/breakpoint/breakpoint-manager.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/editor/debug-model.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
  packages/debug/src/browser/view/configuration/debug-toolbar.view.tsx
  packages/debug/src/browser/view/debug-view-model.ts
  packages/extension/src/hosted/api/vscode/ext.host.connection.ts
  packages/extension/src/hosted/api/vscode/ext.host.terminal.ts
Labels: 🐞 bug

#2440 fix: ensure outline is displayed properly
  packages/core-common/src/command.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/outline/__tests__/browser/services/outline-model.service.test.ts
  packages/outline/src/browser/outline.contribution.ts
  packages/outline/src/browser/outline.tsx
  packages/outline/src/browser/services/outline-event.service.ts
  packages/outline/src/browser/services/outline-model.service.ts
  packages/outline/src/browser/services/outline-tree.service.ts
  packages/utils/__tests__/lru-map.test.ts
  packages/utils/src/disposable.ts
  packages/utils/src/lru-map.ts
  packages/utils/src/map.ts
  scripts/module-jest.ts
Labels: 🐞 bug, ⚙️ refactor

#2433 fix: logger should have default value to avoid error to be overridden
  packages/core-node/src/bootstrap/app.ts
Labels: 🐞 bug

#2447 fix: output clear icon lag renderer
  packages/output/src/browser/output-contribution.ts
Labels: 🐞 bug

#2455 fix: file watcher path error on Windows
  packages/extension/src/browser/extension.service.ts
  packages/file-service/src/node/file-service-watcher.ts
Labels: 🐞 bug

#2453 fix: electron menus will be called more than once
  packages/core-electron-main/src/bootstrap/services/menu/index.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/startup/entry/web/app.tsx
  tools/electron/src/main/index.ts
Labels: 🐞 bug

#2451 fix: ensure preference ready before render editor
  packages/file-scheme/__tests__/browser/contribution.test.ts
  packages/file-scheme/src/browser/file-scheme.contribution.ts
Labels: 🐞 bug

#2463 refactor: refactor file-watcher test case
  packages/file-service/__tests__/node/file-service-watcher.test.ts
Labels: ⚙️ refactor

#2466 fix: revert extension host tree kill
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug

#2471 ci: pr workflow check
  .github/workflows/pr-code-review.yml
Labels: 🐞 bug

#2473 ci: fix pull request workflow by adding write permission check
  .github/workflows/pr-code-review.yml
Labels: 🐞 bug

#2475 feat: extension host get path with extensionId
  .github/workflows/ci.yml
  packages/extension-storage/src/browser/storage-path.ts
  packages/extension-storage/src/browser/storage.service.ts
  packages/extension-storage/src/browser/storage.ts
  packages/extension-storage/src/common/storage-path.ts
  packages/extension-storage/src/common/storage.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.extensions.test.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.storage.test.ts
  packages/extension/src/browser/vscode/api/main.thread.workspace.ts
  packages/extension/src/common/vscode/storage.ts
  packages/extension/src/hosted/api/vscode/ext.host.extensions.ts
  packages/extension/src/hosted/api/vscode/ext.host.storage.ts
Labels: 🎨 feature

#2494 fix: quickopen panel display correct localize
  packages/keymaps/src/browser/keymaps.contribution.ts
  packages/preferences/src/browser/preference-contribution.ts
Labels: 🐞 bug

#2492 fix: should set renderMarginRevertIcon=false when diffEditor is readOnly
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug

#2481 fix: localized command show alias
  packages/core-browser/src/common/common.command.ts
  packages/core-common/src/command.ts
  packages/core-common/src/localize.ts
  packages/editor/src/browser/monaco-contrib/command/command.service.ts
  packages/electron-basic/src/browser/index.ts
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/extension/src/browser/vscode/contributes/commands.ts
  packages/extension/src/common/extension.ts
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
  packages/monaco/__tests__/browser/monaco-command.test.ts
  packages/quick-open/src/browser/quick-open.command.service.ts
  packages/theme/src/browser/theme.contribution.ts
Labels: 🐞 bug

#2468 feat: support skipFiles on debug call stack frames view
  packages/debug/src/browser/model/debug-stack-frame.ts
  packages/debug/src/browser/view/frames/debug-call-stack-frame.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack-session.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack-thread.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack.module.less
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#2487 fix: call stack stop at incorrect line because call frame with sameid
  packages/debug/src/browser/model/debug-thread.ts
Labels: 🐞 bug

#2507 fix: output should not be editable
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug

#2485 fix: auto select the latest debug configuration
  packages/debug/src/browser/debug-contribution.ts
Labels: 🐞 bug

#2469 fix: uninstall extension failed in electron
  packages/file-service/src/browser/file-service-client.ts
Labels: 🐞 bug

#2511 style: reset resize handle z-index
  packages/core-browser/src/components/resize/resize.module.less
Labels: 💄 style change

#2517 fix: Add support for buffer type conversion in ObjectTransfer module
  packages/connection/src/common/rpcProtocol.ts
Labels: 🐞 bug

#2498 refactor: replace quickopen label render function from parseLabel to transformLabelWithCodicon
  NOTICE.md
  packages/core-browser/__tests__/utils/parse.test.ts
  packages/core-browser/src/utils/index.ts
  packages/core-browser/src/utils/label.tsx
  packages/core-browser/src/utils/parse.ts
  packages/quick-open/src/browser/components/highlight-label/index.tsx
  packages/quick-open/src/browser/quick-open.view.tsx
  packages/quick-open/src/browser/styles.module.less
Labels: 🐞 bug, ⚙️ refactor

#2527 feat: support setting: editor.unicodeHighlight.ambiguousCharacters
  packages/editor/src/browser/preference/converter.ts
  packages/editor/src/browser/preference/schema.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🎨 feature

#2502 feat: add onWillApplyTheme provider
  packages/theme/__tests__/browser/theme.service.test.ts
  packages/theme/src/browser/index.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/browser/workbench.theme.service.ts
  packages/theme/src/common/index.ts
  packages/theme/src/common/provider.ts
  packages/toolbar/src/browser/types.ts
Labels: 🎨 feature

#2528 fix(scm): fix right click error on folder in scm panel
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
Labels: 🐞 bug

#2532 feat: work host env 增加 language
  packages/extension/src/hosted/api/vscode/env/workerEnvApiFactory.ts
  packages/extension/src/hosted/api/worker/worker.host.api.impl.ts
Labels: 🎨 feature

#2536 fix: 更改搜索打开排出设置回调函数
  packages/extension/src/hosted/api/vscode/env/workerEnvApiFactory.ts
  packages/search/src/browser/search.view.tsx
Labels: 🐞 bug

#2512 feat: support displaying debug breakpoints in a tree view
  packages/components/src/recycle-tree/basic/tree-node.tsx
  packages/components/src/recycle-tree/basic/types.ts
  packages/debug/__tests__/browser/view/breakpoint/debug-breakpoints.service.test.ts
  packages/debug/src/browser/breakpoint/breakpoint-marker.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints-tree.model.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
Labels: 🎨 feature

#2530 fix: clear old listen and initView when extension restart
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug
