Repository opensumi/core, pull requests merged in 2023-04, with the labels that each got.

#2544 fix: return statement will break for..of loop
  packages/file-service/src/node/file-service-watcher.ts
Labels: 🐞 bug

#2513 fix: copy diff uri path at editor tab
  packages/file-tree-next/src/browser/file-tree-contribution.ts
Labels: 🐞 bug

#2543 fix: markdownDescription i18n in launch.json
  packages/core-common/src/json-schema.ts
  packages/extension/src/browser/vscode/contributes/debuggers.ts
Labels: 🐞 bug

#2555 fix: change the way to capture IPC messages so listeners passed to ipcRenderer.on are now disposable
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/utils/electron.ts
  packages/core-electron-main/browser-preload/index.js
  packages/core-electron-main/src/bootstrap/app.ts
  packages/core-electron-main/src/bootstrap/types.ts
  packages/core-electron-main/src/bootstrap/window.ts
  packages/startup/entry/web/app.tsx
  tools/electron/src/main/index.ts
Labels: 🐞 bug

#2570 fix: restart debug session on node-debug
  packages/debug/src/browser/debug-session-connection.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/common/debug-session.ts
Labels: 🐞 bug

#2488 fix: update the active editor when the editor cursor changes
  packages/extension/__tests__/browser/main.thread.editor.test.ts
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
Labels: 🐞 bug

#2491 feat: support show unsaved files in opened editor view
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/accordion/styles.module.less
  packages/opened-editor/__tests__/browser/opened-editor-model.service.test.ts
  packages/opened-editor/__tests__/browser/opened-editor.service.test.ts
  packages/opened-editor/src/browser/opened-editor.contribution.ts
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
  packages/opened-editor/src/common/index.ts
  packages/opened-editor/src/index.ts
Labels: 🎨 feature

#2569 feat: support maxResize props on the panel
  packages/components/src/recycle-tree/basic/index.tsx
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/components/resize/resize.tsx
  packages/startup/entry/web/layout.tsx
  packages/status-bar/src/browser/status-bar.view.tsx
Labels: 🐞 bug, 🎨 feature, 💄 style change

#2558 fix: collapsed tree node on compact mode
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/components/src/recycle-tree/tree/model/treeState/TreeStateManager.ts
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/outline/__tests__/browser/services/outline-model.service.test.ts
  tools/playwright/src/tests/explorer-view.test.ts
Labels: 🐞 bug

#2580 feat(editor): editor save code action notify configuration
  packages/editor/src/browser/doc-model/saveParticipants.ts
  packages/editor/src/browser/preference/schema.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature

#2586 fix: change prefix when open view
  packages/quick-open/src/browser/quick-open.contribution.ts
Labels: 🐞 bug, 🎨 feature

#2577 style: add hover color token to editor tabs
  packages/editor/src/browser/editor.module.less
Labels: 💄 style change

#2579 feat: quick-open support busy option
  packages/core-browser/src/layout/view-id.ts
  packages/core-browser/src/quick-open/index.ts
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/quick-open/src/browser/quick-open.service.tsx
  packages/quick-open/src/browser/quick-open.type.ts
  packages/quick-open/src/browser/quick-open.view.tsx
  packages/quick-open/src/browser/quick-open.widget.tsx
  packages/quick-open/src/browser/quickInput.inputBox.ts
  packages/quick-open/src/browser/styles.module.less
  packages/quick-open/src/common/mocks/quick-open.service.ts
Labels: 🎨 feature, 💄 style change

#2589 fix(theme): foucs first entry theme when then input is not empty
  packages/theme/src/browser/theme.contribution.ts
Labels: 🐞 bug, 🎨 feature

#2591 fix: remove the marked.js warning about sanitize and add sanitizer
  packages/comments/src/browser/comments-body.tsx
  packages/components/package.json
  packages/components/src/markdown/index.tsx
  packages/components/src/utils/marked.ts
  packages/core-browser/src/markdown/index.tsx
  yarn.lock
Labels: 🐞 bug

#2583 fix: improve style and fix breakpoints view init
  packages/components/src/recycle-tree/basic/tree-node.tsx
  packages/core-browser/src/services/storage-service.ts
  packages/debug/__tests__/browser/view/breakpoint/debug-breakpoints.service.test.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferences.view.tsx
  packages/storage/src/browser/storage.contribution.ts
  packages/storage/src/browser/storage.ts
Labels: 🐞 bug, 💄 style change

#2563 feat: support debug configuration and toolbar view component
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/view/configuration/debug-configuration.module.less
  packages/debug/src/browser/view/configuration/debug-configuration.view.tsx
  packages/debug/src/browser/view/configuration/debug-toolbar.view.tsx
Labels: 🎨 feature, 💄 style change

#2564 fix: foreground color of the match highlights on actively focused items
  packages/preferences/src/browser/preferences.module.less
  packages/theme/src/browser/workbench.theme.service.ts
  packages/theme/src/common/color-tokens/custom/index.ts
  packages/theme/src/common/color-tokens/custom/monaco.ts
Labels: 🐞 bug

#2593 fix: open file by vscode.open command
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#2594 style: improve button disable style
  packages/components/src/button/style.less
Labels: 💄 style change

#2597 fix: webview csp source
  packages/extension/src/hosted/api/vscode/ext.host.api.webview.ts
Labels: 🐞 bug

#2562 fix(core-browser): move react to peerDependencies
  packages/core-browser/package.json
  yarn.lock
Labels: 🐞 bug

#2600 fix: transformLabelWithCodicon white space
  packages/core-browser/src/utils/label.tsx
  packages/status-bar/src/browser/status-bar.module.less
Labels: 🐞 bug

#2605 fix(extension): fix extension nls config bug
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/node/extension.service.client.ts
Labels: 🐞 bug

#2606 fix: reference pannel style error
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/accordion/styles.module.less
Labels: 🐞 bug, 💄 style change

#2617 fix: add missing scrollbar component
  packages/components/src/scrollbars/index.tsx
  packages/core-browser/src/components/index.ts
  packages/types/sumi-browser.d.ts
Labels: 🐞 bug

#2612 fix: quickPick trigger options.onChangeValue
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/quick-open/src/browser/quick-open.service.tsx
Labels: 🐞 bug, ⚙️ refactor

#2632 fix: ensure language pack loaded
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/common/extension.ts
Labels: 🐞 bug

#2614 fix: remove wrong effect scrollbar style
  packages/components/src/scrollbars/styles.less
Labels: 🐞 bug, 💄 style change

#2619 fix: delegate closeUnmodifiedEditors command
  packages/editor/src/browser/editor.contribution.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
Labels: 🐞 bug, 🎨 feature

#2635 chore: improve select widget and beauty styles
  packages/components/src/button/style.less
  packages/debug/src/browser/preferences/components/json-widget.module.less
  packages/debug/src/browser/preferences/components/select-widget.tsx
  packages/debug/src/browser/preferences/components/text-widget.tsx
  packages/debug/src/browser/preferences/templates/array-field-item-template.tsx
  packages/debug/src/browser/preferences/templates/array-field-template.tsx
  packages/debug/src/browser/preferences/templates/json-templates.module.less
  packages/debug/src/browser/preferences/templates/object-field-template.tsx
Labels: 💄 style change

#2631 feat: quickInput support hideOnDidAccept
  packages/core-browser/src/quick-open/index.ts
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/quick-open/src/browser/quickInput.inputBox.ts
Labels: 🎨 feature

#2636 fix: capturer uncatch error
  packages/connection/src/common/utils.ts
Labels: 🐞 bug

#2641 fix: select component display type
  packages/components/src/select/index.tsx
Labels: 🐞 bug, 💄 style change

#2643 fix: activate extension without popping up theme quick open
  packages/extension-manager/src/browser/vsx-extension.service.ts
  packages/extension-manager/src/common/index.ts
  packages/extension/src/browser/extension-management.service.ts
Labels: 🐞 bug

#2618 fix: file search open failed in windows
  packages/addons/src/browser/file-search.contribution.ts
  packages/workspace/src/browser/workspace-service.ts
Labels: 🐞 bug, 🎨 feature

#2615 feat: improve the interaction for enabling/disabling breakpoints
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.js
  packages/components/src/icon/iconfont/iconfont.json
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/debug/src/browser/breakpoint/breakpoint-manager.ts
  packages/debug/src/browser/contextkeys/debug-contextkey.service.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/common/commands.ts
  packages/debug/src/common/constants.ts
  packages/theme/src/common/color-tokens/debugToolbar.ts
Labels: 🐞 bug, 🎨 feature

#2648 fix:extension setup nls config
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug

#2611 feat: debug breakpoint file items supports enable/disable switch
  packages/components/src/recycle-tree/basic/tree-node.define.ts
  packages/components/src/recycle-tree/basic/tree-node.tsx
  packages/components/src/recycle-tree/basic/types.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
Labels: 🎨 feature, 💄 style change

#2660 feat: update command open terminal setting
  packages/preferences/src/browser/preference-contribution.ts
  packages/preferences/src/browser/preferences.view.tsx
  packages/terminal-next/src/browser/contribution/terminal.command.ts
Labels: 🎨 feature

#2662 fix(search): auto select search content when expanding search panel (#2522)
  packages/search/src/browser/search.view.tsx
Labels: 🐞 bug
