Repository opensumi/core, pull requests merged in 2023-09, with the labels that each got.

#3041 fix: terminal search box supports toggle switching
  packages/terminal-next/src/browser/contribution/terminal.command.ts
Labels: 🐞 bug

#2932 feat: change createRef to useRef
  packages/components/src/recycle-tree/RecycleTree.tsx
  packages/components/src/recycle-tree/basic/index.tsx
  packages/debug/src/browser/editor/debug-hover.view.tsx
  packages/debug/src/browser/view/variables/debug-variables.view.tsx
  packages/debug/src/browser/view/watch/debug-watch.view.tsx
  packages/extension/src/browser/components/extension-tree-view.tsx
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/markers/src/browser/markers-tree.view.tsx
  packages/opened-editor/src/browser/opened-editor.tsx
  packages/outline/src/browser/outline.tsx
  packages/output/src/browser/output.view.tsx
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/search/src/browser/search.view.tsx
  packages/terminal-next/src/browser/component/resize.view.tsx
  packages/terminal-next/src/browser/component/terminal.view.tsx
  packages/terminal-next/src/browser/component/terminal.widget.tsx
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#3050 feat: drop electron 13 support
  packages/core-electron-main/src/bootstrap/services/ui.ts
  packages/core-electron-main/src/bootstrap/window.ts
  packages/startup/package.json
  tools/electron/package.json
  yarn.lock
Labels: 🎨 feature

#3049 fix: get wrong state in toolbar action delegate
  packages/core-browser/src/toolbar/components/button.tsx
  packages/core-browser/src/toolbar/types.ts
Labels: 🐞 bug

#3037 fix: invalid breakpoints line number error
  packages/debug/__tests__/browser/editor/debug-model.test.ts
  packages/debug/src/browser/editor/debug-model.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
Labels: 🐞 bug, ⚙️ refactor

#3036 fix: custom components are not destroyed after being closed
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/types.ts
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#3053 fix: new file with compact node
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug, ⚙️ refactor

#3065 fix: toolbar width should change when props change
  packages/core-browser/src/toolbar/toolbar.tsx
Labels: 🐞 bug

#3039 fix: search box placeholder color
  packages/terminal-next/src/browser/component/terminal.module.less
  packages/terminal-next/src/browser/component/terminal.view.tsx
Labels: 🐞 bug

#3073 feat: notification support button
  packages/components/src/notification/index.tsx
  packages/core-browser/src/progress/progress.service.tsx
  packages/utils/src/progress.ts
Labels: 🎨 feature

#3080 feat: optimize sumi command prompt
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature

#3081 feat: add ai-action slot
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/core-browser/src/react-providers/slot.tsx
Labels: 🎨 feature

#3083 feat: support ai native run feature registry
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/run/run.feature.registry.ts
  packages/ai-native/src/browser/run/run.service.ts
  packages/ai-native/src/common/index.ts
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#3085 fix: init project requirement while init
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-project/generate.service.ts
Labels: 🐞 bug, 🎨 feature

#3088 doc: add codeblitz badge
  README.md
Labels: 🎨 feature

#3094 chore: improve ai native style & support CancellationToken
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/code-widget/ai-code-widget.tsx
  packages/ai-native/src/browser/components/AIImprove.tsx
  packages/ai-native/src/browser/components/AIInput.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/Thumbs.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/lineVertical.tsx
  packages/ai-native/src/browser/content-widget/ai-inline-chat-panel.tsx
  packages/ai-native/src/browser/content-widget/ai-inline-chat.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/node/index.ts
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.js
  packages/components/src/icon/iconfont/iconfont.json
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
Labels: 💄 style change
