Repository opensumi/core, pull requests merged in 2023-05, with the labels that each got.

#2652 feat: support flashing prompt for focus breakpoints in the editor
  packages/core-browser/src/core-preferences.ts
  packages/debug/__tests__/browser/editor/debug-model.test.ts
  packages/debug/src/browser/debug-style.less
  packages/debug/src/browser/editor/debug-model.ts
  packages/debug/src/browser/editor/debug-styles.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/search/src/browser/search.view.tsx
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#2655 feat: support delete or edit breakpoints when hovering on the it
  packages/debug/src/browser/breakpoint/breakpoint-manager.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
Labels: 🎨 feature, 💄 style change

#2670 style: remove useless z-index
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/core-browser/src/components/layout/styles.module.less
  tools/electron/README.md
Labels: 🐞 bug, 💄 style change

#2682 fix: debug breakpoint in empty line
  packages/debug/src/browser/editor/debug-model.ts
Labels: 🐞 bug

#2681 style: improve toolbar selection icon position
  packages/components/src/select/index.tsx
  packages/core-browser/src/style/toolbar.less
Labels: 💄 style change

#2672 style: optimize sidebar icon size
  packages/main-layout/src/browser/tabbar/styles.module.less
Labels: 💄 style change

#2677 fix: active editor logic
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
Labels: 🐞 bug

#2689 fix: SCM tree view can not be collapsed
  packages/components/src/recycle-tree/RecycleTree.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.ts
Labels: 🐞 bug, ⚙️ refactor, 💄 style change

#2693 chore: fix selection warning
  packages/components/src/select/index.tsx
Labels: 🐞 bug

#2664 refactor: use sumiContributes and compatible with kaitianContributes
  packages/core-browser/src/extensions/extensions-point.service.ts
  packages/core-browser/src/extensions/schema/opensumiExtensionPackageSchema.ts
  packages/extension/__mocks__/extensions.ts
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.extensions.test.ts
  packages/extension/src/browser/extension-management.service.ts
  packages/extension/src/browser/extension-view.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/worker.host.ts
  packages/extension/src/node/extension.scanner.ts
  packages/extension/src/node/merge-contributes.ts
  packages/i18n/src/common/contributes/en-US.lang.ts
  packages/i18n/src/common/contributes/zh-CN.lang.ts
  packages/startup/entry/web-lite/lite-module/extension/utils.ts
  packages/types/sumi.d.ts
Labels: ⚙️ refactor, 💄 style change

#2691 fix: add missing editor related preferences
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🐞 bug

#2698 fix: git scm 1.68.1 actionButton enabled
  packages/extension/src/hosted/api/vscode/ext.host.scm.ts
Labels: 🐞 bug, ⚙️ refactor

#2699 style: improve toolbar button style
  packages/core-browser/src/toolbar/components/button.tsx
  packages/core-browser/src/toolbar/types.ts
Labels: 💄 style change

#2690 refactor: auto update decoration targets
  packages/components/src/recycle-tree/tree/decoration/DecorationManager.ts
  packages/debug/__tests__/browser/editor/debug-hover-model.test.ts
  packages/debug/__tests__/browser/editor/debug-hover-tree.model.service.test.ts
  packages/debug/src/browser/editor/debug-hover-model.ts
  packages/debug/src/browser/editor/debug-hover-tree.model.service.ts
  packages/debug/src/browser/view/console/debug-console-model.ts
  packages/debug/src/browser/view/console/debug-console-tree.model.service.ts
  packages/debug/src/browser/view/variables/debug-variables-model.ts
  packages/debug/src/browser/view/variables/debug-variables-tree.model.service.ts
  packages/debug/src/browser/view/watch/debug-watch-model.ts
  packages/debug/src/browser/view/watch/debug-watch-tree.model.service.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.model.service.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.model.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.node.defined.ts
  packages/file-tree-next/src/browser/dialog/file-dialog-model.service.ts
  packages/file-tree-next/src/browser/file-tree-model.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
  packages/opened-editor/src/browser/services/opened-editor-model.ts
  packages/outline/src/browser/services/outline-model.service.ts
  packages/outline/src/browser/services/outline-model.ts
Labels: ⚙️ refactor

#2711 feat: menuActionList component support style css properties
  packages/core-browser/src/components/actions/index.tsx
Labels: 🎨 feature, 💄 style change

#2709 fix: add rpcMessageTimeout option in appConfig
  packages/connection/__test__/node/index.test.ts
  packages/connection/src/common/rpcProtocol.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-node/src/bootstrap/app.ts
  packages/core-node/src/types.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/common/ext.host.proxy.ts
  packages/extension/src/hosted/ext.host.proxy-base.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/extension/src/node/extension.host.proxy.manager.ts
Labels: 🐞 bug

#2715 fix: modify the extra button.foreground key
  packages/theme/src/common/color-tokens/button.ts
Labels: 🐞 bug

#2707 fix: adjust treenode icon style
  packages/components/src/recycle-tree/basic/index.tsx
  packages/components/src/recycle-tree/basic/styles.less
  packages/components/src/recycle-tree/basic/tree-node.define.ts
  packages/components/src/recycle-tree/basic/tree-node.tsx
  packages/components/src/recycle-tree/basic/types.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferences.view.tsx
Labels: 🐞 bug, 💄 style change

#2703 refactor: consolidated clientId retrieval code
  packages/core-browser/src/application/application.service.ts
  packages/core-common/src/types/application.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/remote-opener/src/browser/remote.opener.contribution.ts
  packages/terminal-next/__tests__/browser/inject.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/browser/terminal.service.ts
Labels: ⚙️ refactor

#2717 fix: convertEmbeddedLanguages should not activate language
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: 🐞 bug

#2730 fix: execute command will throw wrong error
  packages/core-common/src/command.ts
  packages/editor/src/browser/monaco-contrib/command/command.service.ts
Labels: 🐞 bug

#2720 fix: monaco Action Bar style
  packages/testing/src/browser/outputPeek/test-peek-widget.less
Labels: 🐞 bug, 💄 style change

#2736 feat: launch UI support delete properties
  packages/debug/src/browser/preferences/components/fields/object-filed.tsx
  packages/debug/src/browser/preferences/launch.module.less
  packages/debug/src/browser/preferences/launch.service.ts
  packages/debug/src/browser/preferences/launch.view.tsx
  packages/debug/src/browser/preferences/templates/button-template.tsx
  packages/debug/src/browser/preferences/templates/json-templates.module.less
  packages/debug/src/browser/preferences/templates/object-field-template.tsx
  packages/debug/src/common/debug-service.ts
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#2727 style: improve problem panel style
  packages/markers/src/browser/markers-tree.view.tsx
  packages/markers/src/browser/tree/marker-node.tsx
  packages/markers/src/browser/tree/tree-node.module.less
Labels: 🐞 bug, 💄 style change

#2738 feat: support for mutual open between launch.json and launch editor
  packages/core-browser/src/common/common.command.ts
  packages/debug/src/browser/components/floating-click-widget/index.module.less
  packages/debug/src/browser/components/floating-click-widget/index.tsx
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/preferences/launch-preferences-contribution.ts
  packages/debug/src/browser/view/configuration/debug-configuration.service.ts
  packages/debug/src/common/constants.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature, 💄 style change

#2728 feat: support icon menubar
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/components/actions/styles.module.less
  packages/core-browser/src/menu/next/menu-id.ts
  packages/menu-bar/src/browser/menu-bar.module.less
  packages/menu-bar/src/browser/menu-bar.view.tsx
Labels: 🎨 feature, 💄 style change

#2747 fix: add default debug server host
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-starter.ts
Labels: 🐞 bug

#2758 style: improve section label and badge style
  packages/main-layout/src/browser/accordion/styles.module.less
Labels: 🐞 bug, ⚙️ refactor, 💄 style change

#2762 fix: add default input value for TerminalSearchService
  packages/terminal-next/src/browser/terminal.search.ts
Labels: 🐞 bug

#2764 fix: check if element of popover exists when delayed hidden
  packages/components/src/popover/index.tsx
Labels: 🐞 bug

#2766 fix: check if currentGroup is empty when split terminal
  packages/terminal-next/src/browser/contribution/terminal.command.ts
Labels: 🐞 bug

#2751 fix: input component defaultValue failed
  packages/components/src/input/Input.tsx
Labels: 🐞 bug

#2753 fix: only add default color once
  packages/theme/src/browser/workbench.theme.service.ts
Labels: 🐞 bug
