Repository opensumi/core, pull requests merged in 2023-06, with the labels that each got.

#2769 feat: open resource when click comment item
  packages/comments/src/browser/tree/tree-model.service.ts
Labels: 🎨 feature

#2763 feat: add arrow for zonewidget
  packages/comments/__test__/browser/comment.service.test.ts
  packages/comments/src/browser/comments-thread.ts
  packages/comments/src/browser/comments-zone.view.tsx
  packages/comments/src/browser/comments.service.ts
  packages/debug/__tests__/browser/editor/debug-breakpoint-widget.test.ts
  packages/monaco-enhance/src/browser/zone-widget.ts
  packages/monaco/__mocks__/monaco/editor/code-editor.ts
Labels: 🎨 feature

#2742 refactor: extract electron essentials
  packages/core-browser/src/application/application.service.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/inner-providers-electron.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/common/common.contribution.ts
  packages/core-browser/src/common/common.module.ts
  packages/core-browser/src/common/electron.contribution.ts
  packages/core-browser/src/common/web.contribution.ts
  packages/core-browser/src/opener/opener-electron.contribution.ts
  packages/core-browser/src/opener/opener.contribution.ts
  packages/core-browser/src/utils/env.ts
  packages/core-common/src/error.ts
  packages/core-common/src/module.ts
  packages/core-common/src/types/application.ts
  packages/editor/src/browser/editor-electron.contribution.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/index.ts
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
  packages/extension/src/browser/sumi/main.thread.lifecycle.ts
  packages/extension/src/browser/vscode/api/main.thread.env.ts
  packages/menu-bar/src/browser/index.ts
  packages/menu-bar/src/browser/menu-bar-web.contribution.ts
  packages/menu-bar/src/browser/menu-bar.contribution.ts
  packages/utils/src/os.ts
Labels: ⚙️ refactor

#2754 feat: support xterm render type select
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/terminal-next/src/browser/xterm.ts
  packages/terminal-next/src/common/preference.ts
  packages/terminal-next/src/common/xterm.ts
Labels: 🎨 feature, 💄 style change

#2770 fix: treenode styles
  packages/file-tree-next/src/browser/file-tree-node.module.less
Labels: 🐞 bug, 💄 style change

#2774 feat: add registered scheme
  packages/comments/src/browser/comments.service.ts
  packages/editor/src/browser/resource.service.ts
  packages/editor/src/common/resource.ts
Labels: 🎨 feature

#2630 feat: support input number component
  packages/components/package.json
  packages/components/src/input/InputNumber.tsx
  packages/components/src/input/index.tsx
  packages/components/src/input/input-number.less
  packages/components/src/style/base.less
  yarn.lock
Labels: 🎨 feature, 💄 style change

#2574 feat: support launch editor UI
  packages/components/src/button/index.tsx
  packages/components/src/button/style.less
  packages/components/src/dropdown/dropdown.tsx
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/menu/next/menu.interface.ts
  packages/core-browser/src/utils/schema.ts
  packages/debug/__tests__/browser/debug-configuration-manager.test.ts
  packages/debug/__tests__/browser/editor/debug-model-manager.test.ts
  packages/debug/package.json
  packages/debug/src/browser/components/floating-click-widget/index.module.less
  packages/debug/src/browser/components/floating-click-widget/index.tsx
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/debug-schema-manager.ts
  packages/debug/src/browser/debugUtils.ts
  packages/debug/src/browser/index.ts
  packages/debug/src/browser/preferences/components/checkbox-widget.tsx
  packages/debug/src/browser/preferences/components/fields/any-of-field.tsx
  packages/debug/src/browser/preferences/components/fields/array-field.tsx
  packages/debug/src/browser/preferences/components/fields/object-filed.tsx
  packages/debug/src/browser/preferences/components/fields/title-field.tsx
  packages/debug/src/browser/preferences/components/json-widget.module.less
  packages/debug/src/browser/preferences/components/select-widget.tsx
  packages/debug/src/browser/preferences/components/text-widget.tsx
  packages/debug/src/browser/preferences/launch-preferences-contribution.ts
  packages/debug/src/browser/preferences/launch.module.less
  packages/debug/src/browser/preferences/launch.service.ts
  packages/debug/src/browser/preferences/launch.view.tsx
  packages/debug/src/browser/preferences/model/configuration-items.ts
  packages/debug/src/browser/preferences/templates/additional-template.tsx
  packages/debug/src/browser/preferences/templates/array-field-item-template.tsx
  packages/debug/src/browser/preferences/templates/array-field-template.tsx
  packages/debug/src/browser/preferences/templates/base-input-template.tsx
  packages/debug/src/browser/preferences/templates/button-template.tsx
  packages/debug/src/browser/preferences/templates/description-field-template.tsx
  packages/debug/src/browser/preferences/templates/field-template.tsx
  packages/debug/src/browser/preferences/templates/json-templates.module.less
  packages/debug/src/browser/preferences/templates/object-field-template.tsx
  packages/debug/src/browser/view/configuration/debug-configuration.service.ts
  packages/debug/src/common/constants.ts
  packages/debug/src/common/debug-schema-updater.ts
  packages/debug/src/common/debug-schema.ts
  packages/debug/src/common/debug-service.ts
  packages/debug/src/common/index.ts
  packages/editor/src/browser/types.ts
  packages/extension/src/browser/vscode/contributes/debuggers.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  yarn.lock
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#2773 feat: throw error if get file stat error
  packages/connection/src/common/connect.ts
  packages/connection/src/common/proxy.ts
  packages/core-common/src/types/file.ts
  packages/file-service/src/common/files.ts
  packages/file-service/src/node/disk-file-system.provider.ts
Labels: 🎨 feature

#2666 fix: conditional breakpoint centering
  packages/debug/__tests__/browser/editor/debug-breakpoint-widget.test.ts
  packages/debug/src/browser/editor/debug-breakpoint-zone-widget.tsx
Labels: 🐞 bug

#2779 feat: improve breakpoint style
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
Labels: 🎨 feature, 💄 style change

#2778 feat: menu action support codicon
  configs/ts/tsconfig.build.json
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/components/actions/styles.module.less
  packages/menu-bar/package.json
  packages/menu-bar/src/browser/menu-bar.view.tsx
  packages/overlay/package.json
  packages/overlay/src/browser/ctx-menu/ctx-menu.view.tsx
  yarn.lock
Labels: 🎨 feature, 💄 style change

#2777 feat: auto expand the comment widget when click comment tree item
  packages/comments/src/browser/tree/tree-model.service.ts
Labels: 🎨 feature

#2784 style: stop flexbox removing trailing whitespace on menu action
  packages/core-browser/src/components/actions/styles.module.less
Labels: 💄 style change

#2785 fix: on disposeResource delete resourceDecoration
  packages/editor/src/browser/resource.service.ts
Labels: 🐞 bug

#2783 style: improve terminal split view border style
  packages/terminal-next/src/browser/component/resize.module.less
  packages/terminal-next/src/browser/terminal.color.ts
Labels: 💄 style change

#2800 fix: auto open tab when expend bottom
  packages/main-layout/src/browser/layout.service.ts
Labels: 🐞 bug

#2798 feat: bottom panel support accordion
  packages/main-layout/src/browser/tabbar/panel.view.tsx
Labels: 🎨 feature

#2790 fix: support hidden vertical or horizontal scroller bar
  packages/components/src/recycle-list/RecycleList.tsx
  packages/components/src/scrollbars/index.tsx
  packages/quick-open/src/browser/quick-open.view.tsx
Labels: 🐞 bug, 💄 style change

#2804 chore: use @rjsf/validator-ajv6
  packages/debug/package.json
  packages/debug/src/browser/preferences/launch.view.tsx
  yarn.lock
Labels: 🐞 bug

#2795 chore: fix warnings and remove some useless code
  packages/components/src/recycle-list/RecycleList.tsx
  packages/components/src/recycle-tree/RecycleTree.tsx
  packages/components/src/recycle-tree/TreeNodeRendererWrap.ts
  packages/extension-manager/src/browser/vsx-extension.view.tsx
Labels: 🐞 bug

#2799 feat: support InlineCompletionItemProvider.handleDidShowCompletionItem API
  packages/addons/src/browser/file-search.contribution.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/extension/src/hosted/api/vscode/language/inlineCompletion.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/types/sumi-worker/worker.language.d.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.language.d.ts
  packages/types/vscode/typings/vscode.proposed.inlineCompletionsAdditions.d.ts
  packages/types/vscode/typings/vscode.workspace.d.ts
Labels: 🐞 bug, 🎨 feature

#2809 fix: add key for MenuActionList
  packages/core-browser/src/components/actions/index.tsx
Labels: 🐞 bug

#2812 fix: add keys for fragment
  packages/core-browser/src/components/actions/index.tsx
Labels: 🐞 bug

#2810 fix: update the style of the currently selected file menu
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug, 💄 style change

#2807 fix: navigation menu style rendering problem
  packages/components/src/scrollbars/index.tsx
  packages/editor/src/browser/navigation.view.tsx
Labels: 🐞 bug, 💄 style change

#2823 fix: plugin panel height adjustment
  packages/extension-manager/src/browser/extension/extension.module.less
Labels: 🐞 bug

#2808 fix: launch editor component rendering exception
  packages/debug/src/browser/preferences/components/text-widget.tsx
  packages/debug/src/browser/preferences/launch.service.ts
  packages/debug/src/browser/preferences/launch.view.tsx
  packages/debug/src/browser/preferences/templates/additional-template.tsx
  packages/debug/src/common/debug-configuration.ts
  packages/debug/src/common/debug-schema.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug, 🎨 feature

#2813 feat: support search preference by @ext expression
  packages/core-browser/src/preferences/settings.ts
  packages/extension/src/browser/vscode/contributes/configuration.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferences.module.less
Labels: 🎨 feature, 💄 style change

#2821 fix: terminal adds top whitespace
  packages/terminal-next/src/browser/component/resize.module.less
Labels: 🐞 bug

#2834 fix: check undefined of preference item default value
  packages/preferences/src/browser/preferenceItem.view.tsx
Labels: 🐞 bug

#2840 fix: add key for preference item description list
  packages/preferences/src/browser/preferenceItem.view.tsx
Labels: 🐞 bug

#2846 feat: support overwrite when editor save
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#2830 feat: support use npmmirror cdn url
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/extension/src/browser/shadowRoot.tsx
Labels: 🎨 feature

#2848 feat: editor tab support revealInExplorer
  packages/editor/src/browser/editor.contribution.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
Labels: 🎨 feature

#2839 feat: support merge editor accept left or right
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#2832 feat: improve render blank lines breakpoints
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature, 💄 style change

#2837 style: merge editor left view padding
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 💄 style change

#2836 fix: merge editor not support wordwrap
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug, 🎨 feature

#2819 feat: support resolve in merge editor
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/editor/src/browser/merge-editor/merge-editor.contribution.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/scm/src/browser/scm-model.ts
Labels: 🎨 feature, 💄 style change

#2835 feat: improve merge editor result title
  packages/monaco/__tests__/browser/merge-editor/merge-editor.service.test.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
Labels: 🎨 feature

#2842 fix: select not current file, need update targets
  packages/opened-editor/__tests__/browser/opened-editor-model.service.test.ts
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
Labels: 🐞 bug

#2853 feat: location opened editor when open file
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/opened-editor/src/browser/opened-editor.contribution.ts
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
Labels: ⚙️ refactor, 🎨 feature

#2847 feat: support register view container in bottom panel
  packages/core-browser/src/layout/layout.interface.ts
  packages/extension/src/browser/vscode/contributes/view-containers.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/common/main-layout.definition.ts
Labels: 🎨 feature

#2841 feat: support merge editor reset
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/menu/next/menu-id.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/monaco.contribution.ts
Labels: 🎨 feature

#2824 fix: unwatchFileChanges api do not work on file service
  packages/file-service/src/node/file-service.ts
Labels: 🐞 bug

#2855 chore: add lint rules for ignore warning
  .eslintignore
  .eslintrc.js
  packages/opened-editor/__tests__/browser/opened-editor-model.service.test.ts
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
Labels: ⚙️ refactor

#2858 fix: connection state deferred
  packages/core-browser/src/application/application-state-service.ts
Labels: 🐞 bug

#2857 fix: language re-register if disposed
  packages/core-browser/src/toolbar/types.ts
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: 🐞 bug

#2854 style: improve statusbar popover tooltip
  packages/status-bar/src/browser/status-bar.module.less
Labels: 💄 style change
