Repository opensumi/core, pull requests merged in 2023-12, with the labels that each got.

#3225 fix: to #3224, Omit display description information
  packages/opened-editor/src/browser/opened-editor-node.tsx
Labels: 🐞 bug

#3229 feat: support ai native capabilities config
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-config.ts
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/code-widget/ai-code-document.provider.ts
  packages/ai-native/src/browser/code-widget/ai-code-widget.tsx
  packages/ai-native/src/browser/common-reponse.ts
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/override/layout/layout-config.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.contribution.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/tabbar.view.tsx
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-common/src/types/ai-native.ts
  packages/core-common/src/types/index.ts
  packages/startup/entry/sample-modules/ai-native.contribution.ts
  packages/startup/entry/sample-modules/index.ts
  packages/startup/entry/web/app.tsx
Labels: ⚙️ refactor, 🎨 feature, v3

#3171 refactor: upgrade to react 18
  .github/workflows/ci.yml
  jest.config.js
  jest.setup.jsdom.js
  package.json
  packages/comments/__test__/browser/comment-thread.test.ts
  packages/comments/__test__/browser/comment.service.test.ts
  packages/comments/src/browser/comments-item.view.tsx
  packages/comments/src/browser/comments-zone.view.tsx
  packages/components/src/dropdown/dropdown.tsx
  packages/components/src/icon/iconfont-cn.tsx
  packages/components/src/menu/index.tsx
  packages/components/src/modal/Modal.tsx
  packages/components/src/overlay/index.tsx
  packages/components/src/recycle-tree/RecycleTree.tsx
  packages/components/src/select/index.tsx
  packages/core-browser/package.json
  packages/core-browser/src/bootstrap/app.view.tsx
  packages/core-browser/src/components/layout/box-panel.tsx
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/components/portal/index.tsx
  packages/core-browser/src/react-providers/slot.tsx
  packages/core-browser/src/toolbar/components/button.tsx
  packages/core-browser/src/toolbar/toolbar.tsx
  packages/core-browser/src/utils/create-overlay.tsx
  packages/debug/__tests__/browser/editor/debug-breakpoint-widget.test.ts
  packages/debug/__tests__/browser/editor/debug-model.test.ts
  packages/debug/__tests__/browser/model/debug-breakpoint.test.ts
  packages/debug/src/browser/debug-exception-widget.tsx
  packages/debug/src/browser/editor/debug-breakpoint-zone-widget.tsx
  packages/debug/src/browser/editor/debug-hover-widget.tsx
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/frames/debug-call-stack.module.less
  packages/debug/src/browser/view/frames/debug-call-stack.view.tsx
  packages/debug/src/browser/view/variables/debug-variables.module.less
  packages/debug/src/browser/view/watch/debug-watch.module.less
  packages/editor/src/browser/editor.view.tsx
  packages/extension-storage/__tests__/browser/storage.service.test.ts
  packages/extension/__tests__/browser/activation.service.test.ts
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/extension/src/browser/require-interceptor.contribution.ts
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/main-layout/__tests__/browser/layout.service.test.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/monaco/__tests__/browser/merge-editor/merge-editor.service.test.ts
  packages/monaco/__tests__/browser/textmate.test.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/output/src/browser/output.service.ts
  packages/quick-open/src/browser/quick-open.service.tsx
  packages/startup/package.json
  packages/testing/src/browser/outputPeek/test-message-container.tsx
  packages/testing/src/browser/outputPeek/test-peek-widget.tsx
  tools/dev-tool/package.json
  tools/electron/package.json
  tools/playwright/src/explorer-view.ts
  tools/playwright/src/tests/explorer-view.test.ts
  yarn.lock
Labels: 🐞 bug, ⚙️ refactor, 🎨 feature, v3

#3235 feat: add log for nsfw watcher
  packages/file-service/src/node/file-service-watcher.ts
Labels: 🎨 feature

#3240 style: fix eslint
  packages/components/src/input/ValidateInput.tsx
  packages/core-electron-main/src/bootstrap/services/ui.ts
  packages/debug/src/browser/view/console/debug-console.view.tsx
  packages/extension/src/browser/sumi/contributes/scm.ts
  packages/scm/src/common/scm.service.ts
  packages/theme/src/common/color-tokens/custom/button.ts
Labels: 🐞 bug, 💄 style change

#3245 fix: restart extProcess on reconnect
  packages/extension/src/browser/extension.contribution.ts
Labels: 🐞 bug

#3251 feat: merged nsfw event
  packages/file-service/src/node/recursive/file-service-watcher.ts
Labels: 🐞 bug, 🎨 feature

#3255 feat: add oninput event
  packages/terminal-next/src/browser/terminal.addon.ts
  packages/terminal-next/src/browser/terminal.client.ts
Labels: 🎨 feature
