Repository opensumi/core, pull requests merged in 2023-10, with the labels that each got.

#3100 fix: terminal shortcut kill process in windows
  packages/core-browser/src/common/common.command.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/terminal-next/src/browser/contribution/terminal.command.ts
  packages/terminal-next/src/browser/contribution/terminal.keybinding.ts
Labels: 🐞 bug

#3072 fix: register sumi api in worker
  packages/extension/src/browser/extension-worker.service.ts
Labels: 🐞 bug

#3113 fix: fix electron ide build error
  packages/extension/src/common/vscode/localization.ts
Labels: 🐞 bug

#3103 style: open editor displays the delete button in its selected state
  packages/opened-editor/src/browser/opened-editor-node.module.less
Labels: 🐞 bug, 🎨 feature

#3108 fix: filetree rename file correctly
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
  packages/file-tree-next/src/common/file-tree-node.define.ts
Labels: 🐞 bug, 💄 style change

#3118 fix: error color
  packages/core-common/src/log.ts
Labels: 🐞 bug

#3109 fix: clear tree node cache after the tree node is disposed
  packages/components/__tests__/recycle-tree/tree/TreeNode.test.ts
  packages/components/src/recycle-tree/basic/tree-service.ts
  packages/components/src/recycle-tree/tree/Tree.ts
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/file-tree-next/src/browser/file-tree.service.ts
Labels: 🐞 bug

#3125 style: improve editor tab style & chat icon
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/ai-editor-tab.service.tsx
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/main-slot-renderer.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/editor.tab.service.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/browser/types.ts
Labels: 💄 style change

#3130 feat: support inline chat auto visiable preference
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/core-preferences.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#3132 feat: support keybinding inline chat
  packages/ai-native/src/browser/ai-chat.contribution.ts
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/override/ai-editor-tab.service.tsx
  packages/ai-native/src/common/command.ts
Labels: 🎨 feature

#3134 feat: support editor view theme changes
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/override/theme/default-theme.ts
Labels: 🎨 feature

#3137 feat: support custom render submenu & menubars contributes icon render
  packages/ai-native/package.json
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/override/ai-menu.service.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/override.module.less
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/menu/next/base.ts
  packages/core-browser/src/menu/next/renderer/ctxmenu/browser.ts
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/extension/src/browser/sumi/contributes/menubar.ts
  packages/menu-bar/src/browser/menu-bar.store.ts
  packages/overlay/src/browser/ctx-menu/ctx-menu.service.ts
  packages/overlay/src/browser/ctx-menu/ctx-menu.view.tsx
Labels: 🎨 feature

#3138 refactor: ai menubar render & ctx menu
  packages/ai-native/src/browser/components/Icon.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/core-browser/src/components/actions/index.tsx
Labels: ⚙️ refactor

#3140 feat: support anchor extra ctx menu
  packages/ai-native/src/browser/components/Icon.tsx
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/tabbar.view.tsx
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🎨 feature

#3141 feat: generate support code
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-project/generate.service.ts
Labels: 🎨 feature

#3142 feat: support custom ctx menuitem render
  packages/ai-native/src/browser/override/ai-menu.service.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.contribution.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/override.module.less
  packages/core-browser/src/common/common.contribution.ts
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/menu/next/renderer/ctxmenu/browser.ts
  packages/menu-bar/src/browser/menu-bar.store.ts
  packages/overlay/src/browser/ctx-menu/ctx-menu.service.ts
  packages/overlay/src/browser/ctx-menu/ctx-menu.view.tsx
Labels: 🎨 feature

#3133 fix: extension nls resource initialization error
  package.json
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/browser/vscode/contributes/localization.ts
  packages/extension/src/common/extension.ts
  packages/terminal-next/src/browser/terminal.client.ts
  yarn.lock
Labels: 🐞 bug, ⚙️ refactor

#3095 feat: achieve noRecursive fileWatcher
  packages/core-browser/src/markdown/index.tsx
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/file-service/__tests__/browser/file-service-client.test.ts
  packages/file-service/__tests__/node/file-node-watcher.test.ts
  packages/file-service/__tests__/node/file-service-watcher.test.ts
  packages/file-service/__tests__/node/index.test.ts
  packages/file-service/src/common/watcher.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-service/src/node/file-change-collection.ts
  packages/file-service/src/node/recursive/file-service-watcher.ts
  packages/file-service/src/node/un-recursive/file-service-watcher.ts
  packages/utils/src/disposable.ts
  scripts/download.js
Labels: 🎨 feature
