Repository opensumi/core, pull requests merged in 2023-07, with the labels that each got.

#2861 style: input disabled style
  packages/components/src/input/input.less
Labels: 💄 style change

#2863 feat: support scm setInputBoxEnablement API & getSourceControl API
  packages/extension/src/browser/vscode/api/main.thread.scm.ts
  packages/extension/src/common/vscode/scm.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.scm.ts
  packages/extension/src/hosted/api/worker/worker.host.api.impl.ts
  packages/scm/src/browser/components/scm-resource-input.tsx
  packages/scm/src/common/scm.service.ts
  packages/scm/src/common/scm.ts
Labels: 🎨 feature

#2877 fix: add version to download-extension targetDirName
  scripts/download.js
Labels: 🐞 bug

#2859 feat: support merge editor minimap
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/view/mini-map.tsx
Labels: 🎨 feature, 💄 style change

#2880 fix: rerender select component if label changed
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/preferences/src/browser/preferences.view.tsx
Labels: 🐞 bug

#2879 fix: worker api not execute
  packages/extension/src/hosted/api/worker/worker.host.api.impl.ts
Labels: 🐞 bug, ⚙️ refactor

#2868 style: change resize handler z-index
  packages/core-browser/src/components/resize/resize.module.less
Labels: 🐞 bug, 💄 style change

#2888 fix: left panel style lower right menu style
  packages/main-layout/src/browser/tabbar/styles.module.less
Labels: 🐞 bug, 💄 style change

#2878 fix: except breakpoint blank description
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.view.tsx
Labels: 🐞 bug

#2867 feat: implement scm contributes
  packages/extension/src/browser/extension-view.service.ts
  packages/extension/src/browser/sumi/contributes/index.ts
  packages/extension/src/browser/sumi/contributes/scm.ts
  packages/extension/src/common/sumi/extension.ts
  packages/i18n/src/common/contributes/zh-CN.lang.ts
  packages/scm/src/browser/components/scm-resource-input.tsx
  packages/scm/src/common/scm.service.ts
  packages/scm/src/common/scm.ts
Labels: 🎨 feature, 💄 style change

#2889 fix(ext): extension cannot reset validateMessage to undefined
  packages/components/src/input/ValidateInput.tsx
  packages/extension/__tests__/hosted/api/vscode/ext.host.quickopen.test.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/types/vscode/typings/vscode.quickpick.d.ts
Labels: 🐞 bug

#2890 style: improve secondary button hover style
  packages/theme/src/common/color-tokens/custom/button.ts
Labels: 💄 style change

#2898 fix: debug console repl not show
  packages/debug/src/browser/view/console/debug-console.service.ts
  packages/debug/src/browser/view/console/debug-console.view.tsx
Labels: 🐞 bug

#2852 feat: infer second terminal cwd from the first one
  packages/terminal-next/__tests__/browser/mock.service.ts
  packages/terminal-next/__tests__/node/terminal.service.client.test.ts
  packages/terminal-next/src/browser/contribution/terminal.command.ts
  packages/terminal-next/src/browser/terminal.client.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/browser/terminal.internal.service.ts
  packages/terminal-next/src/browser/terminal.service.ts
  packages/terminal-next/src/common/pty.ts
  packages/terminal-next/src/common/service.ts
  packages/terminal-next/src/node/pty.manager.ts
  packages/terminal-next/src/node/pty.proxy.remote.exec.ts
  packages/terminal-next/src/node/pty.proxy.ts
  packages/terminal-next/src/node/pty.ts
  packages/terminal-next/src/node/shell.ts
  packages/terminal-next/src/node/terminal.service.client.ts
  packages/terminal-next/src/node/terminal.service.ts
Labels: 🎨 feature

#2905 fix: title-bar add i18n tips (#2903)
  packages/core-browser/src/components/actions/index.tsx
  packages/i18n/src/common/zh-CN.lang.ts
  packages/scm/src/browser/scm-view-container.tsx
Labels: 🐞 bug

#2892 fix(preference): rerender Select component if localized string changed
  packages/components/src/select/index.tsx
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/utils/__tests__/event.test.ts
  packages/utils/src/event.ts
Labels: 🐞 bug

#2902 feat: support showBreakpointsInOverviewRuler
  packages/core-browser/src/core-preferences.ts
  packages/debug/src/browser/editor/debug-model.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/theme/src/common/color-tokens/debug.ts
Labels: 🎨 feature

#2906 chore: remove deprecated usage of less expression
  packages/addons/src/browser/toolbar-customize/style.module.less
  packages/components/README.md
  packages/connection/README.md
  packages/connection/__test__/node/index.test.ts
  packages/core-browser/src/components/actions/styles.module.less
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-browser/src/style/entry.less
  packages/core-browser/src/style/icon.less
  packages/core-browser/src/style/override.less
  packages/core-browser/src/style/toolbar.less
  packages/core-common/src/types/reporter.ts
  packages/debug/src/browser/view/configuration/debug-configuration.module.less
  packages/debug/src/browser/view/watch/debug-watch.module.less
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/navigation.module.less
  packages/file-tree-next/src/browser/file-tree-node.module.less
  packages/file-tree-next/src/browser/file-tree.module.less
  packages/markers/src/browser/markers-filter.module.less
  packages/menu-bar/src/browser/menu-bar.module.less
  packages/output/src/browser/output.module.less
  packages/scm/src/browser/components/scm-provider-list.module.less
  packages/scm/src/browser/components/scm-resource-input.module.less
  packages/scm/src/browser/dirty-diff/dirty-diff.module.less
  packages/scm/src/browser/scm.module.less
  packages/startup/entry/styles.less
  packages/startup/entry/web-lite/styles.less
  packages/terminal-next/src/browser/component/resize.module.less
  packages/terminal-next/src/browser/component/terminal.module.less
  packages/testing/src/browser/outputPeek/test-peek-widget.less
Labels: 🐞 bug, 💄 style change

#2910 fix: delete watcherMap when watcher is disposed
  packages/file-service/src/browser/file-service-client.ts
  packages/file-service/src/browser/watcher.ts
Labels: 🐞 bug

#2912 fix: improve file tree render speed
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug

#2925 fix: less import css path
  packages/core-browser/src/style/icon.less
Labels: 🐞 bug

#2915 fix: lazy refresh treeview
  packages/comments/src/browser/tree/tree-model.service.ts
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/markers/src/browser/tree/tree-model.service.ts
  packages/search/src/browser/tree/tree-model.service.ts
Labels: 🐞 bug

#2928 fix: add "locks" dep for split-panel element memo
  packages/core-browser/src/components/layout/split-panel.tsx
Labels: 🐞 bug, 🎨 feature

#2927 fix: fix save sequence for editor to avoid conflict when save frequently
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/file-scheme/src/node/file-scheme-doc.service.ts
Labels: 🐞 bug

#2929 fix(component): remove select component unreasonable span selector
  packages/components/src/select/index.tsx
  packages/components/src/select/style.less
  yarn.lock
Labels: 🐞 bug

#2930 feat: add activate keybinding for explorer and search view
  packages/explorer/src/browser/explorer-contribution.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/search/src/browser/search.contribution.ts
Labels: 🎨 feature

#2935 fix: editor tab cannot be scrolled
  packages/editor/src/browser/editor.module.less
Labels: 🐞 bug

#2943 fix: make panel view as observable
  packages/main-layout/src/browser/tabbar/panel.view.tsx
Labels: 🐞 bug

#2951 fix: change extension window.state default true
  packages/extension/src/hosted/api/vscode/ext.host.window-state.ts
Labels: 🐞 bug

#2945 fix: fix treeview would not render
  packages/extension/src/browser/components/extension-tree-view.tsx
  packages/file-tree-next/src/browser/file-tree.tsx
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
Labels: 🐞 bug, ⚙️ refactor

#2949 fix: fix select component style
  packages/components/src/select/style.less
Labels: 🐞 bug, 💄 style change

#2947 fix: opened editor reveal error
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
Labels: 🐞 bug

#2946 fix: improve comment node style and support twistier click
  packages/comments/src/browser/comments-panel.view.tsx
  packages/comments/src/browser/tree/comment-node.tsx
  packages/comments/src/browser/tree/tree-model.service.ts
  packages/comments/src/browser/tree/tree-node.module.less
Labels: 🐞 bug, ⚙️ refactor, 💄 style change

#2937 fix: scm support double click to openfile
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
Labels: 🐞 bug
