Repository opensumi/core, pull requests merged in 2023-01, with the labels that each got.

#2151 fix: highlight search content when ignore case
  packages/search/src/browser/search.view.tsx
  packages/search/src/browser/tree/search-node.tsx
  packages/search/src/browser/tree/search-tree.view.tsx
Labels: 🐞 bug

#2161 style: improve button overflow style
  packages/i18n/src/common/en-US.lang.ts
  packages/main-layout/src/browser/accordion/styles.module.less
  packages/scm/src/browser/components/scm-resource-input.module.less
Labels: 💄 style change

#2160 feat: register debug editor decoration type when the browser is idle
  packages/debug/src/browser/debug-contribution.ts
Labels: 🎨 feature

#2167 fix: first install of the extension does not work
  packages/extension/src/common/index.ts
Labels: 🐞 bug

#2169 style: dialog message title center
  packages/components/src/dialog/styles.less
Labels: 💄 style change

#2171 chore: yarn lock
  yarn.lock
Labels: 🐞 bug

#2168 fix: improve SCM experience on the workspace project
  packages/scm/src/browser/components/scm-provider-list.module.less
  packages/scm/src/browser/components/scm-provider-list.tsx
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.view.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree.service.ts
  packages/scm/src/browser/scm-model.ts
  packages/scm/src/browser/scm-view-container.tsx
Labels: 🐞 bug

#2163 fix: merge editor conflict action error
  packages/monaco/src/browser/contrib/merge-editor/model/document-mapping.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
Labels: 🐞 bug

#2175 style: update the padding at the top/bottom of popover component
  packages/components/src/popover/styles.less
Labels: 💄 style change

#2172 fix: prefix quick open should trim input
  packages/quick-open/src/browser/quick-open.service.tsx
Labels: 🐞 bug

#2177 feat: add more image types
  packages/file-service/src/common/file-ext.ts
Labels: 🎨 feature

#2185 fix: improve regexp search ux
  packages/addons/src/browser/file-search.contribution.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/search/src/browser/replace.ts
  packages/search/src/browser/search.input.widget.tsx
  packages/search/src/browser/search.rules.widget.tsx
  packages/search/src/browser/search.view.tsx
  packages/search/src/browser/tree/search-node.tsx
  packages/search/src/browser/tree/search-tree.view.tsx
Labels: 🐞 bug

#2186 style: remove some useless tree style
  packages/comments/src/browser/tree/tree-node.module.less
  packages/components/src/recycle-tree/basic/styles.less
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/variables/debug-variables.module.less
  packages/debug/src/browser/view/watch/debug-watch.module.less
  packages/extension/src/browser/vscode/api/tree-view/tree-view-node.module.less
  packages/file-tree-next/src/browser/file-tree-node.module.less
  packages/markers/src/browser/markers-tree.view.tsx
  packages/markers/src/browser/tree/tree-node.module.less
  packages/opened-editor/src/browser/opened-editor-node.module.less
  packages/opened-editor/src/browser/opened-editor.tsx
  packages/outline/src/browser/outline-node.module.less
  packages/outline/src/browser/services/outline-model.service.ts
  packages/preferences/src/browser/preferences.module.less
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.module.less
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.view.tsx
  packages/search/src/browser/tree/tree-node.module.less
Labels: 🐞 bug, 💄 style change

#2180 feat: upgrade @parcel/watcher to support glob expression
  packages/core-browser/src/core-preferences.ts
  packages/file-service/package.json
  packages/file-service/src/node/file-service-watcher.ts
  tools/electron/package.json
  yarn.lock
Labels: 🎨 feature

#2188 style: fix file dialog style
  packages/file-tree-next/src/browser/dialog/file-dialog.module.less
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
Labels: 🐞 bug, 💄 style change

#2183 fix: resizeObserver unobserve error
  packages/core-browser/src/layout/layout-hooks.ts
Labels: 🐞 bug

#2182 feat(status-bar): do not display info icon if there is no info
  packages/markers/src/browser/markers-contribution.ts
Labels: 🎨 feature

#2189 feat: get file type by mime
  packages/file-service/src/common/file-ext.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-service/src/node/file-service.ts
  packages/file-service/src/node/shared/file-type.ts
  packages/startup/entry/web-lite/lite-module/file-provider/browser-fs-provider.ts
  packages/terminal-next/__tests__/browser/inject.ts
Labels: 🎨 feature

#2192 fix(editor): add missing edit stack when save
  packages/editor/src/browser/doc-model/editor-document-model.ts
  tools/playwright/package.json
  tools/playwright/src/editor.ts
  tools/playwright/src/tests/editor/undoRedo.test.ts
  tools/playwright/src/tests/workspaces/default/editor-undo-redo.text
  tools/playwright/src/text-editor.ts
  yarn.lock
Labels: 🐞 bug

#2181 fix: settings.json should be jsonc
  packages/core-browser/src/preferences/preference-contribution.ts
  packages/core-common/src/editor.ts
  packages/core-common/src/json-schema.ts
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/common/debug-schema-updater.ts
  packages/file-scheme/src/browser/file-doc.ts
  packages/monaco/src/browser/schema-registry.ts
  packages/output/src/browser/output-contribution.ts
  packages/preferences/src/browser/preference-contribution.ts
  packages/task/src/browser/task.schema.ts
  packages/utils/__tests__/objects.test.ts
  packages/utils/src/objects.ts
Labels: 🐞 bug

#2193 fix: support collaborationWsPath config
  packages/collaboration/__tests__/browser/textmodel-binding.test.ts
  packages/collaboration/src/browser/collaboration.service.ts
  packages/collaboration/src/node/y-websocket-server.ts
  packages/core-browser/src/react-providers/config-provider.tsx
Labels: 🐞 bug

#2195 fix: fix the marker outer area click error
  packages/markers/src/browser/markers-tree.view.tsx
  packages/markers/src/browser/tree/marker-node.tsx
Labels: 🐞 bug

#2196 fix: get valid preference value from the user scope
  packages/core-browser/src/preferences/preference-service.ts
Labels: 🐞 bug

#2135 fix: create diff and merge editor as needed
  packages/debug/src/browser/view/variables/debug-variables.contribution.ts
  packages/editor/__tests__/browser/editor-service.test.ts
  packages/editor/__tests__/browser/editor.feature.test.ts
  packages/editor/__tests__/browser/test-providers.ts
  packages/editor/src/browser/diff/index.ts
  packages/editor/src/browser/editor.override.ts
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/history/index.ts
  packages/editor/src/browser/merge-editor/merge-editor.contribution.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/electron-basic/src/browser/welcome/contribution.ts
  packages/extension-manager/src/browser/vsx-extension.contribution.ts
  packages/extension/__tests__/browser/main.thread.editor.test.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/sumi-browser/contribution/editor.ts
  packages/extension/src/browser/vscode/api/main.thread.doc.ts
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
  packages/extension/src/browser/vscode/contributes/customEditors.tsx
  packages/extension/src/browser/vscode/contributes/walkthroughs.tsx
  packages/file-scheme/__tests__/browser/contribution.test.ts
  packages/file-scheme/src/browser/file-scheme.contribution.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/keymaps/src/browser/keymaps.contribution.ts
  packages/markdown/src/browser/contribution.ts
  packages/preferences/src/browser/preference-contribution.ts
  packages/scm/src/browser/dirty-diff/index.ts
  packages/testing/src/browser/testing.contribution.ts
  packages/webview/src/browser/webview.service.ts
  tools/playwright/src/tests/editor.test.ts
  tools/playwright/src/text-editor.ts
Labels: 🐞 bug

#2198 style: improve extension manager style
  packages/extension-manager/src/browser/extension/extension.module.less
  packages/extension-manager/src/browser/extension/index.tsx
  packages/extension-manager/src/browser/vsx-extension.module.less
  packages/types/manifest.json
Labels: 💄 style change

#2201 fix: fix some preference panel issues
  packages/components/src/recycle-tree/basic/styles.less
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-contribution.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferences.module.less
  packages/theme/src/common/color-tokens/input.ts
Labels: 🐞 bug, 💄 style change

#2203 style: fix the toggle icon style on the panel header
  .github/workflows/e2e.yml
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.module.less
  packages/main-layout/src/browser/accordion/styles.module.less
Labels: 🐞 bug, 💄 style change

#2205 fix: dispose error
  packages/core-browser/src/react-hooks/injectable-hooks.tsx
  packages/search/src/browser/index.ts
  packages/search/src/browser/search.service.ts
Labels: 🐞 bug

#2207 fix: collaboration initialize
  packages/collaboration/src/browser/collaboration.contribution.ts
  packages/collaboration/src/browser/collaboration.service.ts
  packages/collaboration/src/common/types.ts
Labels: 🐞 bug

#2194 feat: support electron titlebar string template
  packages/core-browser/src/preferences/preference-service.ts
  packages/core-browser/src/preferences/types.ts
  packages/electron-basic/__mocks__/index.ts
  packages/electron-basic/src/browser/electron-preference.contribution.ts
  packages/electron-basic/src/browser/header/header.service.ts
  packages/electron-basic/src/browser/index.ts
  packages/electron-basic/src/common/header.ts
  packages/electron-basic/src/common/i18n/en-US.lang.ts
  packages/electron-basic/src/common/i18n/setup.ts
  packages/electron-basic/src/common/i18n/zh-CN.lang.ts
Labels: 🎨 feature

#2202 feat: add empty implementation for `Terminal Location` API
  packages/extension/src/browser/vscode/api/main.thread.terminal.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/common/pty.ts
  packages/types/vscode/typings/vscode.d.ts
Labels: 🎨 feature

#2219 chore: update release workflow
  .github/workflows/release.yml
  packages/file-service/src/node/file-service.ts
  packages/types/manifest.json
  scripts/build.ts
Labels: 📌 patch

#2221 fix: remove collaboration preference code
  packages/collaboration/src/browser/collaboration.contribution.ts
Labels: 🐞 bug
