Repository opensumi/core, pull requests merged in 2024-06, with the labels that each got.

#3729 feat: communication with worker threads does not require serialization
  packages/connection/src/common/rpc-service/proxy/json.ts
  packages/connection/src/common/rpc-service/proxy/sumi.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/common/vscode/protocols.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/extension/src/hosted/worker.host.ts
Labels: 🎨 feature

#3726 feat: support inline chat interactive input
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-native.service.ts
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.module.less
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/components/src/input/input.less
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/core-browser/src/components/ai-native/ai-action/index.tsx
  packages/core-browser/src/components/ai-native/index.ts
  packages/core-browser/src/components/ai-native/interactive-input/index.module.less
  packages/core-browser/src/components/ai-native/interactive-input/index.tsx
  packages/core-browser/src/components/ai-native/loading/index.module.less
  packages/core-browser/src/components/ai-native/loading/index.tsx
  packages/core-common/src/types/ai-native/reporter.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/theme/src/common/color-tokens/design.ts
Labels: 🎨 feature

#3731 refactor(file-tree): optimize compact mode handling and node updates
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/common/file-tree-node.define.ts
Labels: ⚙️ refactor

#3732 feat: add a command to open the command palette with value
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/quick-open/index.ts
  packages/quick-open/src/browser/prefix-quick-open.service.ts
  packages/quick-open/src/browser/quick-open.contribution.ts
Labels: 🎨 feature

#3733 style: adjust find-widget close button position in monaco editor
  packages/core-browser/src/style/monaco-override.less
Labels: 💄 style change

#3738 fix: should not change user defined ai capabilities
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/browser-module.ts
Labels: 🐞 bug

#3735 feat: support interactive input run strategy
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#3740 feat: add preference to controller whether enable prompt engineering
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/constants.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/inline-completions/provider.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/inline-completions/types.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#3741 feat: update preference service typing
  packages/core-browser/src/preferences/preference-service.ts
  packages/core-browser/src/preferences/types.ts
  packages/terminal-next/__tests__/browser/mock.service.ts
Labels: 🎨 feature

#3739 fix: inline chat controller code block
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: 🐞 bug

#3719 feat: support multiline comment
  packages/comments/__test__/browser/comment.service.test.ts
  packages/comments/src/browser/comments-item.view.tsx
  packages/comments/src/browser/comments-thread.ts
  packages/comments/src/browser/comments-zone.service.ts
  packages/comments/src/browser/comments-zone.view.tsx
  packages/comments/src/browser/comments.module.less
  packages/comments/src/browser/comments.service.ts
  packages/comments/src/common/index.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/design/src/browser/theme/default-theme.ts
  packages/design/src/browser/theme/light-theme.ts
  packages/editor/src/browser/diff/index.ts
  packages/extension/src/browser/extension.service.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/monaco-enhance/package.json
  packages/monaco-enhance/src/browser/styles.module.less
  packages/monaco-enhance/src/browser/zone-widget.ts
  packages/theme/src/common/color-tokens/comment-glyph.ts
  packages/theme/src/common/color-tokens/comment.ts
  packages/theme/src/common/color-tokens/editor.ts
  packages/theme/src/common/color-tokens/index.ts
  packages/theme/src/common/color.ts
  packages/theme/src/common/utils.ts
  yarn.lock
Labels: 🎨 feature

#3744 fix: inline diff widget layout
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
Labels: 🐞 bug

#3743 feat: add rpc timing event track
  packages/connection/src/common/rpc-service/center.ts
  packages/core-browser/src/bootstrap/connection.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-common/src/reporter.ts
  packages/core-common/src/types/reporter.ts
  packages/startup/entry/web/app.tsx
  packages/startup/entry/web/render-app.tsx
  packages/utils/src/functional.ts
Labels: 🎨 feature

#3750 fix: adjust zone widget width for scrollbar
  packages/monaco-enhance/src/browser/zone-widget.ts
Labels: 🐞 bug

#3752 style: add border-radius to scrollbar thumbs
  packages/components/src/scrollbars/styles.less
Labels: 💄 style change

#3749 style: adjust tabbar close popover styles
  packages/design/src/browser/override/editor-tab.service.tsx
  packages/design/src/browser/style/design.module.less
  packages/design/src/browser/style/global.less
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 💄 style change

#3754 fix: validate copy and move operations
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/utils/src/file-uri.ts
Labels: 🐞 bug

#3748 style: improve action widget styles
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/design/src/browser/index.ts
  packages/design/src/browser/style/global.less
  packages/design/src/browser/theme/override.token.ts
Labels: 💄 style change

#3756 style: adjust status bar colors for default and light themes
  packages/design/src/browser/theme/default-theme.ts
  packages/design/src/browser/theme/light-theme.ts
Labels: 💄 style change

#3757 fix: conditionally show HorizontalVertical component based on visible
  packages/ai-native/src/browser/layout/tabbar.view.tsx
Labels: 🐞 bug

#3759 style: add box-sizing and border-radius properties
  packages/design/src/browser/style/design.module.less
Labels: 💄 style change

#3760 fix: update default editor background color to #181818
  packages/design/src/browser/style/design.module.less
  packages/design/src/browser/theme/default-theme.ts
Labels: 🐞 bug

#3755 fix: correct uri equality check with comments service
  packages/comments/src/browser/comments.service.ts
Labels: 🐞 bug

#3763 refactor(ai-native): optimize monaco contrib registration
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/base/index.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/interface-navigation/interface-navigation.contribution.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/preferences/index.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: ⚙️ refactor

#3742 feat: optimize tree performance
  packages/components/__tests__/recycle-tree/tree/path.test.ts
  packages/components/src/recycle-tree/path.ts
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/components/src/recycle-tree/tree/model/treeState/TreeStateManager.ts
  packages/components/src/recycle-tree/types/watcher.ts
  packages/debug/src/browser/editor/debug-hover-tree.model.service.ts
  packages/debug/src/browser/view/console/debug-console-tree.model.service.ts
  packages/debug/src/browser/view/watch/debug-watch-tree.model.service.ts
  packages/markers/src/browser/tree/tree-model.service.ts
  packages/opened-editor/__tests__/browser/opened-editor.service.test.ts
  packages/opened-editor/src/browser/opened-editor-node.define.ts
  packages/opened-editor/src/browser/services/opened-editor-model.service.ts
  packages/opened-editor/src/browser/services/opened-editor-tree.service.ts
  packages/outline/src/browser/services/outline-model.service.ts
  packages/utils/__tests__/path.test.ts
  packages/utils/src/path.ts
Labels: 🎨 feature

#3765 style: adjust title actions style
  packages/design/src/browser/style/design.module.less
Labels: 💄 style change

#3769 style: adjust z-index values for layout components
  packages/ai-native/src/browser/layout/ai-layout.tsx
  packages/design/src/browser/menu-bar/menu-bar.module.less
Labels: 💄 style change

#3766 style: add styles for markdown popover and icons
  packages/components/src/markdown/styles.less
  packages/design/src/browser/theme/light-theme.ts
Labels: 💄 style change

#3768 style: remove unnecessary overflow:hidden from menubar in global style
  packages/design/src/browser/style/global.less
Labels: 💄 style change

#3767 feat: avoid send too many log request
  packages/core-browser/__mocks__/logger.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/connection.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/logger/browser-logger.ts
  packages/core-common/src/log.ts
  packages/logs-core/__tests__/browser/log-manage.test.ts
  packages/logs-core/__tests__/browser/log.service.test.ts
  packages/logs-core/src/browser/index.ts
  packages/logs-core/src/browser/log-manager.ts
  packages/logs-core/src/browser/log.service.ts
  packages/logs-core/src/common/log-core.ts
  packages/logs-core/src/node/log.service.ts
Labels: 🎨 feature

#3773 refactor(ai-native): optimize monaco contrib registration
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/base/index.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/interface-navigation/interface-navigation.contribution.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/preferences/index.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: ⚙️ refactor

#3771 fix: improve handling extra menu nodes on left tabbar
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/core-browser/src/components/ai-native/enhanceIcon/index.tsx
Labels: 🐞 bug

#3762 feat: support inline chat on empty lines
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-actions/result-items/index.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.module.less
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-hint/inline-hint-line-widget.tsx
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.handler.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.module.less
  packages/ai-native/src/browser/widget/inline-input/inline-input-widget.tsx
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.module.less
  packages/ai-native/src/browser/widget/inline-input/inline-input.service.ts
  packages/ai-native/src/browser/widget/internal.type.ts
  packages/core-browser/src/components/ai-native/ai-action/index.tsx
  packages/core-browser/src/components/ai-native/interactive-input/index.tsx
  packages/core-browser/src/contextkey/ai-native.ts
  packages/core-common/src/ai-native/views.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#3781 fix: use ext message io for worker
  packages/connection/src/common/rpc/message-io.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/hosted/worker.host.ts
Labels: 🐞 bug

#3772 feat: prevent accidentally opening binary file
  packages/ai-native/src/browser/widget/light-bulb/index.ts
  packages/debug/__tests__/browser/view/configuration/debug-configuration.service.test.ts
  packages/editor/src/browser/component.ts
  packages/editor/src/browser/fs-resource/fs-editor-doc.ts
  packages/editor/src/browser/fs-resource/fs-resource.ts
  packages/editor/src/browser/preference/schema.ts
  packages/editor/src/browser/types.ts
  packages/extension/src/browser/vscode/api/main.thread.doc.ts
  packages/file-scheme/__tests__/browser/contribution.test.ts
  packages/file-scheme/src/browser/external.view.tsx
  packages/file-scheme/src/browser/file-scheme.contribution.ts
  packages/file-scheme/src/browser/prevent.view.tsx
  packages/file-scheme/src/browser/style.module.less
  packages/file-service/package.json
  packages/file-service/src/common/file-ext.ts
  packages/file-service/src/node/shared/file-type.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/__tests__/browser/preference-settings.test.ts
  packages/utils/src/buffer.ts
  packages/workspace/__tests__/browser/workspace-service.test.ts
  yarn.lock
Labels: 🎨 feature

#3785 fix: server's incorrect dispose of service center
  packages/connection/__test__/browser/index.test.ts
  packages/connection/__test__/common/fury-extends/one-of.test.ts
  packages/connection/src/common/channel/types.ts
  packages/connection/src/common/rpc-service/center.ts
  packages/connection/src/common/serializer/fury.ts
  packages/connection/src/common/server-handler.ts
  packages/connection/src/common/ws-channel.ts
  packages/core-node/src/connection.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/terminal-next/src/node/terminal.service.client.ts
  packages/terminal-next/src/node/terminal.service.ts
  packages/utils/__tests__/event.test.ts
  packages/utils/src/event.ts
  packages/utils/src/linked-list.ts
  packages/utils/src/strings.ts
Labels: 🐞 bug

#3788 style: improve SCM action button style
  packages/design/src/browser/style/design.module.less
Labels: 💄 style change

#3787 feat: optimize merge conflicts
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/components/actions/index.tsx
  packages/core-common/src/commands/git.ts
  packages/core-common/src/commands/terminal.ts
  packages/editor/src/browser/merge-conflict/merge-conflict.model.ts
  packages/editor/src/browser/merge-conflict/merge-conflict.service.ts
  packages/editor/src/browser/merge-conflict/types.ts
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/extension/src/browser/vscode/api/main.thread.treeview.ts
  packages/monaco/src/browser/contrib/merge-editor/components/merge-actions/index.tsx
  packages/monaco/src/browser/contrib/merge-editor/components/merge-actions/merge-actions.module.less
  packages/monaco/src/browser/contrib/merge-editor/index.ts
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.store.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/navigate-to.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/mini-map.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-api.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree.service.ts
  packages/scm/src/browser/scm.contribution.ts
Labels: 🎨 feature

#3774 feat: support show inline chat on diff editor
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint-line-widget.tsx
  packages/ai-native/src/browser/widget/inline-input/inline-input-widget.tsx
  packages/components/src/popover/styles.less
  packages/design/src/browser/style/design.module.less
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/common/editor.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#3792 fix: diff editor display error model content
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#3789 fix: improve inline completion report
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
Labels: 🐞 bug

#3793 fix: lazy get layout modules
  packages/core-browser/src/react-providers/slot.tsx
Labels: 🐞 bug

#3799 fix(merge-editor): some scm provider cannot switch to text editor
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
Labels: 🐞 bug

#3797 fix: skip locked panels during resize check
  packages/core-browser/src/components/layout/split-panel.service.ts
  packages/editor/src/browser/tab.view.tsx
  packages/main-layout/src/browser/accordion/section.view.tsx
Labels: 🐞 bug

#3804 fix: adjust search icon styles
  packages/core-browser/src/components/ai-native/interactive-input/index.module.less
Labels: 🐞 bug, 💄 style change

#3803 fix: dialog buttons cannot show
  packages/overlay/src/browser/dialog.service.ts
Labels: 🐞 bug

#3809 fix: inline chat code blocks controller
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
Labels: 🐞 bug

#3810 fix: inline live diff zone range
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug
