Repository opensumi/core, pull requests merged in 2024-07, with the labels that each got.

#3814 feat: support partial edit widget
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/model/enhanceDecorationsCollection.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.service.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/contextkey/ai-native.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/theme/src/common/color-tokens/ai-native.ts
  packages/theme/src/common/color-tokens/index.ts
Labels: 🎨 feature

#3817 fix: sync dirty state when will save document
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/editor/src/browser/doc-model/types.ts
  packages/extension/src/browser/vscode/api/main.thread.doc.ts
  packages/extension/src/common/vscode/doc.ts
  packages/extension/src/hosted/api/vscode/doc/doc-manager.host.ts
Labels: 🐞 bug

#3801 fix: skip locked panels during resize check
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/main-layout/src/browser/accordion/accordion.view.tsx
  packages/main-layout/src/browser/accordion/section.view.tsx
Labels: 🐞 bug

#3826 style: inline-hint line height
  packages/ai-native/src/browser/widget/inline-hint/inline-hint-line-widget.tsx
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.module.less
Labels: 💄 style change

#3819 fix: add intersection observer for resize detection
  jest.setup.jsdom.js
  jest.setup.node.js
  package.json
  packages/monaco-enhance/src/browser/zone-widget.ts
  yarn.lock
Labels: 🐞 bug

#3829 feat: add autoApplyNonConflictChanges configuration
  packages/core-browser/src/core-preferences.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🎨 feature

#3823 feat: support live inline diff undo/redo edit
  packages/ai-native/src/browser/model/enhanceDecorationsCollection.ts
  packages/ai-native/src/browser/model/styles.module.less
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/utils/src/strings.ts
Labels: 🎨 feature

#3831 fix: will watch same folder multiple times
  packages/file-service/src/node/recursive/file-service-watcher.ts
Labels: 🐞 bug

#3832 fix: improve chat reporter
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/contrib/terminal/ps1-terminal.service.tsx
  packages/core-common/src/types/ai-native/reporter.ts
Labels: 🐞 bug

#3827 fix: copy/paste in symbolic file
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-api.service.ts
Labels: 🐞 bug

#3837 fix: improve live inline diff prioritization and fix discard functionality
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug

#3840 feat(editor-collection): add getEditorByUri method
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/common/editor.ts
Labels: 🎨 feature

#3834 fix: add pty socket timeout
  packages/terminal-next/__tests__/node/pty.proxy.test.ts
  packages/terminal-next/src/node/pty.manager.remote.ts
Labels: 🐞 bug

#3838 feat: support disable restore editor group state
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🎨 feature

#3833 feat: request completion support workspaceDir
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/inline-completions/types.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/browser/types.ts
  packages/core-common/src/settings/ai-native.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#3836 feat: optimize inline diff viewer
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/index.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.service.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/index.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
Labels: 🎨 feature

#3847 fix: textmate service is not compatible with monaco 0.47
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: 🐞 bug

#3846 feat(editor): add a preference prevent scroll after get focused
  packages/core-browser/src/dom/index.ts
  packages/core-browser/src/services/clipboard.service.ts
  packages/core-common/src/settings/general.ts
  packages/editor/src/browser/monaco-contrib/command/command.service.ts
  packages/editor/src/browser/preference/schema.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/theme/src/browser/icon.service.ts
Labels: 🎨 feature

#3848 fix: enable multi-root workspace support
  configs/vscode-extensions.json
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/common/common.contribution.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/overlay/src/common/index.ts
  packages/terminal-next/src/browser/terminal.client.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/browser/terminal.view.ts
  packages/terminal-next/src/common/resize.ts
  packages/workspace/src/browser/workspace-preferences.ts
  packages/workspace/src/common/mocks/workspace-service.ts
  packages/workspace/src/common/workspace.interface.ts
Labels: 🐞 bug

#3863 fix: open folder on web
  packages/file-tree-next/src/browser/file-tree-contribution.ts
Labels: 🐞 bug

#3852 fix: debug console readonly status
  packages/debug/src/browser/view/console/debug-console.service.ts
Labels: 🐞 bug

#3855 feat(inline-diff): support serialize state
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/base/index.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/model/enhanceDecorationsCollection.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/index.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.service.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/utils/src/async.ts
Labels: 🎨 feature

#3868 style: inline diff removed widget style
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 💄 style change

#3870 fix: overlap between inline hint and gitlens
  packages/ai-native/src/browser/widget/inline-hint/inline-hint-line-widget.tsx
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.handler.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.module.less
Labels: 🐞 bug

#3851 feat: support 3-way change encoding
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/menu/next/base.ts
  packages/core-browser/src/menu/next/menu.interface.ts
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/monaco.contribution.ts
Labels: 🎨 feature

#3850 fix: not restore diff editor state
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug

#3872 fix: check potential null
  packages/debug/src/browser/debug-configuration-model.ts
  packages/utils/src/errors.ts
Labels: 🐞 bug

#3873 fix: left tabbar item cannot drag
  packages/core-browser/src/dom/index.ts
  packages/core-browser/src/toolbar/toolbar.tsx
  packages/debug/src/browser/editor/debug-model.ts
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🐞 bug

#3877 style: improve inline diff partial style
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
Labels: 💄 style change

#3876 fix: inline input edit operations
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
Labels: 🐞 bug

#3882 fix(inline-diff): remove-widget at first line cannot be dismissed
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug

#3884 style: improve light theme editor style
  packages/design/src/browser/style/design.module.less
Labels: 💄 style change

#3885 refactor: optimize the logic of inline widget display
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
Labels: 🐞 bug, ⚙️ refactor

#3888 feat: control whether previewer to dispose when editor closed
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
Labels: 🎨 feature

#3887 fix: avoid multi ServerApp instance share one path handler
  packages/connection/__test__/node/channel-handler.test.ts
  packages/connection/__test__/node/index.test.ts
  packages/connection/src/common/server-handler.ts
  packages/connection/src/electron/channel-handler.ts
  packages/connection/src/node/common-channel-handler.ts
  packages/core-node/src/bootstrap/app.ts
  packages/core-node/src/connection.ts
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug

#3896 feat: support rate edit controller
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/preferences/src/browser/preferences.view.tsx
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/terminal-next/src/browser/component/terminal.view.tsx
  packages/utils/src/async.ts
Labels: 🎨 feature

#3897 fix: inline chat shortcut display
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
Labels: 🐞 bug

#3898 fix: memory leak
  packages/monaco/src/browser/monaco.contribution.ts
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-decoration.service.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.view.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree.service.ts
  packages/scm/src/browser/scm-view-container.tsx
  packages/scm/src/common/scm.service.ts
  packages/scm/src/common/scm.ts
  packages/utils/src/disposable.ts
Labels: 🐞 bug

#3895 fix: render tabbar correctly on initial load
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🐞 bug
