Repository opensumi/core, pull requests merged in 2024-10, with the labels that each got.

#4066 feat(inline-diff): support hide accpet widget
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🎨 feature

#4069 fix: build error in node16
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-starter.ts
Labels: 🐞 bug

#4074 fix(inline-diff): fix error in calculating lines of code change
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug

#4071 feat(iframe): support load webview by srcdoc
  package.json
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/startup/entry/web/render-app.tsx
  packages/startup/package.json
  packages/webview/__tests__/webview/webview.channel.test.ts
  packages/webview/package.json
  packages/webview/scripts/bundle-webview.mjs
  packages/webview/src/browser/iframe-webview.ts
  packages/webview/src/browser/iframe/prebuilt.ts
  packages/webview/src/browser/webview.service.ts
  packages/webview/src/electron-webview/host-channel.ts
  packages/webview/src/webview-host/common.ts
  packages/webview/src/webview-host/web-iframe-channel.ts
  packages/webview/src/webview-host/web-preload-builtin.ts
  packages/webview/src/webview-host/web-preload.ts
  packages/webview/src/webview-host/webview-manager.ts
  tools/cli-engine/configs/webpack.config.webview.js
  tools/dev-tool/src/server.ts
  yarn.lock
Labels: 🎨 feature

#4075 fix: tab keybinding invalid when always visible
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
Labels: 🐞 bug

#4073 fix: fix unexpected file operations on explorer
  packages/file-tree-next/src/browser/file-tree.service.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🐞 bug

#4076 fix(pty): cannot run bash with bash integration
  packages/terminal-next/src/node/pty.ts
Labels: 🐞 bug

#4079 fix: slash command unseen
  packages/ai-native/src/browser/chat/chat.view.tsx
Labels: 🐞 bug

#4080 fix: inline diff interactive input invalid
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
Labels: 🐞 bug

#4081 feat: enhance data store
  packages/core-common/__tests__/remote-service/data-store/index.test.ts
  packages/core-common/src/remote-service/README.md
  packages/core-common/src/remote-service/data-store/decorators.ts
  packages/core-common/src/remote-service/data-store/select.ts
  packages/core-common/src/remote-service/data-store/store.ts
  packages/utils/src/disposable.ts
  packages/utils/src/event.ts
Labels: 🎨 feature

#4084 fix: incorrect actionType in data reporting
  packages/ai-native/src/browser/components/ChatEditor.tsx
Labels: 🐞 bug

#4088 fix(inline-diff): fix cannot listen partial accept event
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/widget/inline-diff/index.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.service.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug

#4089 fix: ai feature accidental invalid
  packages/ai-native/src/browser/contrib/base/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
Labels: 🐞 bug, 🎨 feature

#4095 fix: chat render unusual
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/components/src/markdown-react/index.ts
  packages/components/src/markdown-react/parse.tsx
  packages/components/src/markdown-react/render.ts
Labels: 🐞 bug

#4096 fix: add config for diff editor state restore
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#4099 style: editor tab design style
  packages/ai-native/src/browser/ai-core.contribution.ts
Labels: 💄 style change

#4092 feat(ext): support `sumiContributesOverride` field
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/extension/src/browser/vscode/contributes/view-containers.ts
  packages/extension/src/node/extension.scanner.ts
  packages/startup/entry/sample-modules/overrides/extension/extension-node.service.ts
  packages/startup/entry/web/app.tsx
  packages/startup/entry/web/render-app.tsx
Labels: 🎨 feature

#4100 fix: improve inline diff widget render
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug

#4102 feat: improve ghost text render
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
Labels: 🎨 feature

#4101 style: beautify suggest style
  packages/design/src/browser/style/global.less
Labels: 💄 style change

#4103 fix: rewrite content minimum width
  packages/ai-native/src/browser/widget/rewrite/rewrite-widget.tsx
Labels: 🐞 bug

#4105 refactor: intelligent completion & implement code edits api
  packages/ai-native/__test__/browser/contrib/intelligent-completions/multi-line.decoration.test.ts
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.controller.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/inlineCompletionRequestTask.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/decoration/additions-deletions.decoration.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/decoration/multi-line.decoration.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.feature.registry.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/lint-error.source.ts
  packages/ai-native/src/browser/types.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: ⚙️ refactor

#4109 fix: diff editor model not exist error
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
Labels: 🐞 bug

#4106 feat: implement line change code edits api
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/line-change.source.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/lint-error.source.ts
Labels: 🎨 feature

#4113 feat: add option to render removed widget immediately
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug, 🎨 feature

#4116 feat: support VSCode API: provideDocumentRangesFormattingEdits
  packages/types/vscode/typings/vscode.language.d.ts
Labels: 🎨 feature

#4119 fix: markdown html link render error
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/components/src/markdown-react/parse.tsx
  packages/components/src/markdown-react/render.tsx
Labels: 🐞 bug

#4118 feat: add code edits api reporter
  packages/ai-native/src/browser/ai-core.contextkeys.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.controller.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/inlineCompletionRequestTask.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/line-change.source.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/lint-error.source.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.controller.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/contrib/terminal/ps1-terminal.service.tsx
  packages/ai-native/src/browser/widget/ghost-text-widget/index.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/ai-native/ai-reporter.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/ai-native/conflict-report.service.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-common/src/types/ai-native/reporter.ts
  packages/monaco/src/common/index.ts
  packages/monaco/src/common/observable.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/utils/src/cancellation.ts
Labels: 🎨 feature

#4125 fix: diff computer null reference errors
  packages/ai-native/src/browser/contrib/intelligent-completions/diff-computer.ts
Labels: 🐞 bug

#4117 feat: support AutoClosingPair
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/model.api.ts
  packages/extension/src/common/vscode/utils.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/types/vscode/typings/vscode.language.d.ts
Labels: 🎨 feature

#4126 fix: improve keybinding performance
  packages/monaco/src/browser/monaco.contribution.ts
  packages/monaco/src/browser/monaco.service.ts
  packages/monaco/src/common/command.ts
Labels: 🐞 bug

#4130 feat: add zsh integration support
  packages/terminal-next/src/node/pty.ts
  packages/terminal-next/src/node/shell-integration.service.ts
Labels: 🎨 feature

#4134 feat: support QuickPickItem.iconPath
  packages/core-browser/src/quick-open/index.ts
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/quick-open/src/browser/quick-open-item.service.ts
  packages/quick-open/src/browser/quick-open.view.tsx
  packages/quick-open/src/browser/quick-pick.service.ts
  packages/quick-open/src/browser/quick-title-bar.ts
  packages/quick-open/src/common/icon.ts
  packages/types/vscode/typings/vscode.quickpick.d.ts
Labels: 🎨 feature

#4136 feat: Implementing an Empty Function for registerDocumentDropEditProvider and registerDocumentPasteEditProvider
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.language.d.ts
  packages/types/vscode/typings/vscode.proposed.documentPaste.d.ts
  packages/types/vscode/typings/vscode.proposed.dropMetadata.d.ts
Labels: 🎨 feature
