Repository opensumi/core, pull requests merged in 2024-05, with the labels that each got.

#3608 feat: use border-box as box-sizing
  packages/components/src/style/base.less
  packages/core-browser/src/style/normalize.less
  packages/webview/src/browser/webview.service.ts
  tools/electron/src/browser/index.html
Labels: 🎨 feature

#3612 fix: reconnecting ws channel not work
  packages/components/src/notification/index.tsx
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/connection/drivers/reconnecting-websocket.ts
  packages/connection/src/common/connection/drivers/stream.ts
  packages/connection/src/common/rpc-service/center.ts
  packages/connection/src/node/common-channel-handler.ts
  packages/connection/src/node/ws.ts
  packages/core-browser/src/bootstrap/connection.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/node/extension.service.ts
  packages/overlay/src/browser/message.service.tsx
  packages/overlay/src/common/index.ts
  packages/utils/src/async.ts
  packages/utils/src/cancellation.ts
  packages/utils/src/map.ts
Labels: 🐞 bug

#3616 refactor: update ext protocol registration
  packages/connection/src/common/rpc/multiplexer.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/extension/__tests__/browser/main.thread.task.test.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.comments.test.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.task.test.ts
  packages/extension/src/browser/extension-command-management.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/browser/sumi/main.thread.api.impl.ts
  packages/extension/src/browser/vscode/api/main.thread.api.impl.ts
  packages/extension/src/browser/vscode/api/main.thread.api.shared-impl.ts
  packages/extension/src/browser/vscode/api/main.thread.commands.ts
  packages/extension/src/browser/vscode/api/main.thread.comments.ts
  packages/extension/src/browser/vscode/api/main.thread.tasks.ts
  packages/extension/src/common/extension.service.ts
  packages/extension/src/common/vscode/index.ts
Labels: ⚙️ refactor

#3617 fix: lock tree-sitter version
  package.json
  packages/ai-native/package.json
  packages/ai-native/src/browser/languages/service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/core-browser/src/application/runtime/constants.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  yarn.lock
Labels: 🐞 bug

#3618 fix: inline diff editor format
  packages/ai-native/src/browser/ai-editor.contribution.ts
Labels: 🐞 bug

#3603 fix: fix design light theme button color
  packages/design/src/browser/theme/light-theme.ts
Labels: 🐞 bug

#3622 fix: delete request error log
  packages/connection/src/common/rpc/connection.ts
Labels: 🐞 bug

#3623 style: adjust overlay close button margin and handle disposed diff editor model
  packages/components/src/overlay/styles.less
  packages/editor/src/browser/editor-collection.service.ts
Labels: 💄 style change

#3626 feat: support stream on error event
  packages/connection/src/common/rpc/connection.ts
  packages/utils/src/stream.ts
Labels: 🎨 feature

#3593 feat: support interface quick navigation
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/interface-navigation/interface-navigation.contribution.ts
  packages/ai-native/src/browser/interface-navigation/interface-navigation.module.less
  packages/ai-native/src/browser/languages/parser.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/typescript.ts
  packages/core-browser/src/common/container-id.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-common/src/settings/ai-native.ts
  packages/debug/src/browser/editor/debug-model.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#3628 fix(style): update menubar right style
  packages/core-browser/src/react-providers/slot.tsx
  packages/design/src/browser/menu-bar/menu-bar.module.less
  packages/design/src/browser/menu-bar/menu-bar.view.tsx
  packages/startup/entry/web/app.tsx
  packages/startup/entry/web/render-app.tsx
  packages/startup/src/browser/menu-bar-help-icon.tsx
  packages/startup/src/browser/startup.contribution.ts
  tools/electron/src/browser/index.ts
Labels: 🐞 bug, 💄 style change

#3631 refactor: optimize SCM tree component initialization and remove warnings
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-model.service.ts
  packages/scm/src/browser/scm-model.ts
  packages/scm/src/browser/scm-view-container.tsx
Labels: ⚙️ refactor

#3634 style: update Popover component usage
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/i18n/src/common/en-US.lang.ts
Labels: 💄 style change

#3632 fix: diff editor support revive
  packages/editor/src/browser/diff/index.ts
  packages/editor/src/browser/doc-model/editor-document-model-service.ts
  packages/editor/src/browser/merge-editor/merge-editor.provider.ts
  packages/extension/src/browser/activation.service.ts
  packages/extension/src/browser/extension.service.ts
  packages/file-service/__mocks__/file-service-client.ts
  packages/file-service/src/browser/file-service-client.ts
  packages/file-service/src/common/file-service-client.ts
  packages/file-service/src/common/files.ts
Labels: 🐞 bug

#3636 fix: refresh not found provider
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug

#3637 feat: optimize tree node handling collapse/expand logic
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/extension/src/browser/components/extension-tree-view-node.tsx
  packages/extension/src/browser/vscode/api/tree-view/tree-view.model.service.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.node.defined.ts
  packages/extension/src/hosted/api/vscode/ext.host.treeview.ts
Labels: 🎨 feature

#3638 feat: optimize typescript interface navigation
  packages/ai-native/src/browser/interface-navigation/interface-navigation.contribution.ts
Labels: 🎨 feature

#3635 feat: optimize extension host restart logic
  packages/connection/__test__/common/fury-extends/any.test.ts
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/fury-extends/any.ts
  packages/connection/src/common/rpc-service/center.ts
  packages/connection/src/common/rpc-service/registry.ts
  packages/connection/src/common/rpc/connection.ts
  packages/connection/src/common/rpc/message-io.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/node/extension.host.proxy.manager.ts
  packages/extension/src/node/extension.service.client.ts
  packages/startup/entry/web-lite/lite-module/extension/index.ts
  packages/utils/src/async.ts
  packages/utils/src/decorators.ts
Labels: 🎨 feature

#3630 refactor: chat invoke & chat api
  packages/ai-native/__test__/browser/chat/chat-model.test.ts
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat-agent.view.service.ts
  packages/ai-native/src/browser/chat/chat-manager.service.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/ai-native/src/browser/chat/chat.feature.registry.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/StreamReplyRender.tsx
  packages/ai-native/src/browser/components/utils.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/node/index.ts
  packages/connection/src/common/rpc-service/index.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-node/src/ai-native/base-back.service.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/startup/entry/sample-modules/ai-native/SlashCommand.tsx
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
  packages/utils/src/stream.ts
Labels: ⚙️ refactor

#3640 style: improve actionbar selection background color
  packages/design/src/browser/theme/default-theme.ts
  packages/design/src/browser/theme/light-theme.ts
Labels: 💄 style change

#3629 feat: optimize merge editor
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/ai-native/src/browser/merge-conflict/override-resolve-result-widget.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.module.less
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/core-browser/src/bootstrap/connection.ts
  packages/core-browser/src/components/ai-native/thumbs/index.tsx
  packages/core-browser/src/components/portal/index.tsx
  packages/core-browser/src/components/resize/resize.module.less
  packages/core-browser/src/design/rule.ts
  packages/core-browser/src/react-hooks/git/use-in-merge-changes.ts
  packages/core-browser/src/react-hooks/index.ts
  packages/core-browser/src/react-hooks/portal-hooks.tsx
  packages/core-browser/src/react-hooks/uuid.tsx
  packages/core-common/src/types/ai-native/index.ts
  packages/design/src/browser/menu-bar/menu-bar.module.less
  packages/editor/src/browser/merge-conflict/conflict-parser.ts
  packages/editor/src/browser/merge-conflict/types.ts
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/extension/src/node/extension.service.ts
  packages/i18n/src/common/merge-conflicts/en-US.lang.ts
  packages/i18n/src/common/merge-conflicts/zh-CN.lang.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/monaco/src/browser/contrib/merge-editor/components/merge-actions/index.tsx
  packages/monaco/src/browser/contrib/merge-editor/components/merge-actions/merge-actions.module.less
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.store.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/facotry.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/utils/src/uri.ts
Labels: 🎨 feature

#3645 fix: menu bar items for design mode will be registered multiple times
  packages/core-browser/src/common/common.contribution.ts
  packages/core-browser/src/menu/next/base.ts
  packages/design/src/browser/menu-bar/menu-bar.contribution.tsx
Labels: 🐞 bug, 🎨 feature

#3647 style: chat input instruction options
  packages/ai-native/src/browser/components/ChatInput.tsx
Labels: 💄 style change

#3648 fix: fix tab ext-host complaining about 'INVALID TAB'
  packages/extension/src/browser/vscode/api/main.thread.editor-tabs.ts
Labels: 🐞 bug

#3649 feat: support shellExecutionSupported context key
  packages/core-browser/src/contextkey/terminal.ts
  packages/terminal-next/src/browser/terminal.context-key.ts
Labels: 🎨 feature

#3650 fix: agent ext sampleQuestions not render
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
Labels: 🐞 bug

#3652 refactor: refactor the restart interaction of extension host
  packages/extension/src/browser/extension.service.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: ⚙️ refactor

#3654 fix(terminal): ui state is not sync from data
  packages/design/src/browser/menu-bar/menu-bar.contribution.tsx
  packages/terminal-next/src/browser/component/terminal.view.tsx
  packages/terminal-next/src/browser/contribution/terminal.command.ts
  packages/terminal-next/src/browser/terminal.client.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/browser/terminal.error.ts
  packages/terminal-next/src/browser/terminal.search.ts
  packages/terminal-next/src/common/controller.ts
  packages/terminal-next/src/common/error.ts
  packages/terminal-next/src/node/pty.proxy.ts
  packages/terminal-next/src/node/terminal.service.client.ts
Labels: 🐞 bug

#3657 refactor: do not kill the last extension host
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug, ⚙️ refactor

#3644 fix: terminal ai suggest z-index fix, remove click event
  packages/ai-native/src/browser/ai-terminal/component/terminal-command-suggest-controller.module.less
  packages/ai-native/src/browser/ai-terminal/ps1-terminal.service.tsx
  packages/core-browser/src/design/rule.ts
Labels: 🐞 bug

#3659 fix: activating extension should not abort the whole restart progress
  packages/extension/src/browser/activation.service.ts
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug

#3660 fix(chat): show chat view first when send message by api
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/main-layout/src/common/main-layout.definition.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/index.ts
Labels: 🐞 bug

#3658 fix: wschannel timing issues
  packages/connection/__test__/browser/index.test.ts
  packages/connection/__test__/node/index.test.ts
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/connection/src/common/server-handler.ts
  packages/connection/src/common/ws-channel.ts
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug

#3661 fix(ext): clean up possible zombie processes
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug

#3667 refactor: remove msg stream manager
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/components/SlashCustomRender.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/ai-native/src/browser/model/msg-stream-manager.ts
  packages/ai-native/src/browser/types.ts
Labels: ⚙️ refactor

#3670 fix: register design menubar item not work
  packages/design/src/browser/menu-bar/menu-bar.contribution.tsx
Labels: 🐞 bug

#3668 style: adjust statusbar padding for better display
  packages/design/src/browser/style/global.less
Labels: 💄 style change

#3671 feat: add debug command for python-debug
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
Labels: 🎨 feature

#3672 fix: remove components css-loader hash
  packages/components/webpack.config.js
Labels: 🐞 bug

#3674 feat: support shell integration customize
  packages/terminal-next/src/node/easy-shell-intergration.ts
  packages/terminal-next/src/node/index.ts
  packages/terminal-next/src/node/pty.ts
  packages/terminal-next/src/node/shell-integration.service.ts
Labels: 🎨 feature

#3673 Revert "refactor: refactor the restart interaction of extension host"
  packages/extension/src/browser/extension.service.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: ⚙️ refactor

#3675 fix: add null check before calling collapseNode and expandNode
  packages/extension/src/browser/vscode/api/tree-view/tree-view.model.service.ts
Labels: 🐞 bug

#3679 fix: ai code-action duplicate registration
  packages/ai-native/src/browser/ai-editor.contribution.ts
Labels: 🐞 bug

#3669 fix: optimize ext progress restart
  packages/addons/src/browser/status-bar-contribution.ts
  packages/connection/__test__/browser/index.test.ts
  packages/connection/__test__/common/fury-extends/one-of.test.ts
  packages/connection/__test__/common/server-handler.test.ts
  packages/connection/benchmarks/gateway.bench.ts
  packages/connection/package.json
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/connection/drivers/reconnecting-websocket.ts
  packages/connection/src/common/fury-extends/one-of.ts
  packages/connection/src/common/rpc/connection.ts
  packages/connection/src/common/server-handler.ts
  packages/connection/src/common/ws-channel.ts
  packages/connection/src/node/ws.ts
  packages/core-browser/src/services/status-bar-service.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/browser/sumi/main.thread.api.impl.ts
  packages/extension/src/browser/vscode/api/main.thread.api.impl.ts
  packages/extension/src/browser/vscode/api/main.thread.editor-tabs.ts
  packages/extension/src/node/extension.service.ts
  packages/status-bar/src/browser/status-bar.service.ts
  packages/status-bar/src/browser/status-bar.view.tsx
  packages/utils/src/async.ts
  yarn.lock
Labels: 🐞 bug

#3683 fix: mobx action fix in debugConfigurationService
  packages/debug/src/browser/view/configuration/debug-configuration.service.ts
Labels: 🐞 bug

#3680 fix: diagnostic cannot show
  package.json
  packages/core-common/__tests__/types/markers/markers-manager.test.ts
  packages/core-common/src/types/markers/markers.ts
  packages/editor/__tests__/browser/language/language.service.test.ts
  packages/editor/src/browser/language/language.service.ts
  packages/extension/src/common/vscode/converter.ts
  packages/markers/src/browser/tree/marker-node.tsx
  packages/utils/src/uri.ts
Labels: 🐞 bug

#3686 fix: terminal cannot use after ws reconnect, blank terminal when created
  packages/ai-native/src/browser/ai-terminal/ps1-terminal.service.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/terminal-next/src/browser/contribution/terminal.command.ts
  packages/terminal-next/src/browser/terminal.client.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/terminal-next/src/browser/terminal.view.ts
  packages/terminal-next/src/common/client.ts
  packages/terminal-next/src/node/terminal.service.client.ts
  packages/terminal-next/src/node/terminal.service.ts
Labels: 🐞 bug

#3688 fix: dirty-diff editor hide unchanged regions
  packages/scm/__tests__/browser/dirty-diff/dirty-diff-model.test.ts
  packages/scm/src/browser/dirty-diff/dirty-diff-model.ts
Labels: 🐞 bug

#3689 fix: ensure valid theme
  packages/design/src/browser/index.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/browser/workbench.theme.service.ts
  packages/theme/src/common/mocks/theme.service.ts
  packages/theme/src/common/theme.service.ts
Labels: 🐞 bug

#3691 feat: allow configure tabbar max visible counts
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🎨 feature

#3692 fix: default theme ahead render
  packages/theme/src/browser/theme.contribution.ts
Labels: 🐞 bug

#3694 fix: code action first invalid
  packages/ai-native/src/browser/ai-editor.contribution.ts
Labels: 🐞 bug

#3693 feat: support send component message in chat
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/common/index.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/types/sumi.d.ts
Labels: 🎨 feature

#3695 fix: code action click invaild
  packages/ai-native/src/browser/ai-editor.contribution.ts
Labels: 🐞 bug

#3696 fix: improve default ai theme preloaded
  packages/design/src/browser/index.ts
  packages/theme/src/browser/theme-store.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/common/theme.service.ts
Labels: 🐞 bug

#3698 fix: extension process cannot be started when using webpack to bundle
  packages/extension/src/node/extension.service.ts
Labels: 🐞 bug

#3699 fix: use node18 in nixpacks
  nixpacks.toml
  railway.toml
Labels: 🐞 bug

#3700 fix: design theme preload
  packages/design/src/browser/index.ts
  packages/design/src/browser/theme/override.token.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/common/utils.ts
Labels: 🐞 bug

#3697 fix(ext-tree-view): reveal an element is not work
  packages/extension/src/browser/vscode/api/main.thread.treeview.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.model.service.ts
  packages/extension/src/common/vscode/treeview.ts
  packages/extension/src/hosted/api/vscode/ext.host.treeview.ts
Labels: 🐞 bug

#3706 feat: support test results panel, icons in test view
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/testing/src/browser/components/testing.explorer.tree.tsx
  packages/testing/src/browser/components/testing.module.less
  packages/testing/src/browser/outputPeek/test-message-container.tsx
  packages/testing/src/browser/outputPeek/test-peek-widget.tsx
  packages/testing/src/browser/outputPeek/test-tree-container.tsx
  packages/testing/src/browser/testing.contribution.ts
  packages/testing/src/common/test-result.ts
Labels: 🎨 feature

#3708 refactor(connection): interface-oriented rather than implementation
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/connection/drivers/base.ts
  packages/connection/src/common/connection/drivers/socket.ts
  packages/core-browser/src/application/runtime/base-socket.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/connection.ts
Labels: ⚙️ refactor

#3709 fix: lifecycle starting register design theme
  packages/design/src/browser/index.ts
Labels: 🐞 bug

#3710 feat: support diff editor widget readable stream
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/merge-conflict/override-resolve-result-widget.tsx
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-actions.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/ai-native/src/common/index.ts
  packages/connection/src/common/rpc/connection.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-node/src/ai-native/base-back.service.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
  packages/startup/entry/web/server.ts
  packages/utils/src/errors.ts
  packages/utils/src/stream.ts
Labels: 🎨 feature

#3713 fix: terminal not restore
  packages/terminal-next/src/common/preference.ts
Labels: 🐞 bug

#3714 feat: chat api support scrollToBottom
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
Labels: 🎨 feature

#3716 refactor: split ai editor feature capabilities
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/constants.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/const.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/importedFiles.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/jaccardMatcher.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/languages.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/matcher.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/prompt.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/similarSnippets.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/tokenizer.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/inline-completions/provider.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/inline-completions/types.ts
  packages/ai-native/src/browser/contrib/interface-navigation/interface-navigation.contribution.ts
  packages/ai-native/src/browser/contrib/interface-navigation/interface-navigation.module.less
  packages/ai-native/src/browser/contrib/merge-conflict/index.ts
  packages/ai-native/src/browser/contrib/merge-conflict/merge-conflict.feature.registry.ts
  packages/ai-native/src/browser/contrib/merge-conflict/override-resolve-result-widget.tsx
  packages/ai-native/src/browser/contrib/rename/rename.feature.registry.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/contrib/rename/rename.service.ts
  packages/ai-native/src/browser/contrib/run-toolbar/run-toolbar.module.less
  packages/ai-native/src/browser/contrib/run-toolbar/run-toolbar.tsx
  packages/ai-native/src/browser/contrib/terminal/ai-terminal.service.ts
  packages/ai-native/src/browser/contrib/terminal/component/terminal-command-suggest-controller.module.less
  packages/ai-native/src/browser/contrib/terminal/component/terminal-command-suggest-controller.tsx
  packages/ai-native/src/browser/contrib/terminal/component/terminal-inline-chat-controller.module.less
  packages/ai-native/src/browser/contrib/terminal/component/terminal-inline-chat-controller.tsx
  packages/ai-native/src/browser/contrib/terminal/decoration/terminal-decoration.tsx
  packages/ai-native/src/browser/contrib/terminal/index.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/base.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/index.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/java.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/node.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/npm.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/shell.ts
  packages/ai-native/src/browser/contrib/terminal/matcher/tsc.ts
  packages/ai-native/src/browser/contrib/terminal/ps1-terminal.service.tsx
  packages/ai-native/src/browser/contrib/terminal/terminal-ai.contributon.ts
  packages/ai-native/src/browser/contrib/terminal/terminal.feature.registry.ts
  packages/ai-native/src/browser/contrib/terminal/utils/ansi-parser.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-actions.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/light-bulb/index.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/light-bulb-widget/index.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: ⚙️ refactor, 🎨 feature

#3722 refactor: code action register
  packages/ai-native/src/browser/contrib/code-action/code-action.contribution.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/core-browser/src/ai-native/command.ts
Labels: ⚙️ refactor

#3723 fix: design module no register top layout
  packages/core-browser/src/layout/constants.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/design/src/browser/design.contribution.ts
  packages/startup/entry/web/app.tsx
Labels: 🐞 bug

#3712 feat: add api for rendering chat message history messages
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/common/index.ts
Labels: 🎨 feature

#3711 refactor: channel can use custom serializer
  packages/connection/__test__/browser/index.test.ts
  packages/connection/__test__/common/fury-extends/any.test.ts
  packages/connection/__test__/common/fury-extends/one-of.test.ts
  packages/connection/__test__/common/message-io.test.ts
  packages/connection/__test__/common/rpc/registry.test.ts
  packages/connection/__test__/common/rpc/utils.ts
  packages/connection/__test__/common/ws-channel.ts
  packages/connection/__test__/node/channel-handler.test.ts
  packages/connection/__test__/node/index.test.ts
  packages/connection/__test__/node/ws-channel.test.ts
  packages/connection/benchmarks/gateway.bench.ts
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/channel/index.ts
  packages/connection/src/common/channel/types.ts
  packages/connection/src/common/connection/drivers/simple.ts
  packages/connection/src/common/index.ts
  packages/connection/src/common/rpc-service/index.ts
  packages/connection/src/common/rpc-service/registry.ts
  packages/connection/src/common/rpc/connection.ts
  packages/connection/src/common/rpc/message-io.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/connection/src/common/serializer/fury.ts
  packages/connection/src/common/serializer/index.ts
  packages/connection/src/common/serializer/raw.ts
  packages/connection/src/common/serializer/types.ts
  packages/connection/src/common/server-handler.ts
  packages/connection/src/common/ws-channel.ts
  packages/core-browser/__tests__/bootstrap/connection.test.ts
  packages/core-browser/src/application/runtime/base-socket.ts
  packages/core-browser/src/application/runtime/index.ts
  packages/core-browser/src/bootstrap/app.interface.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/connection.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/terminal-next/__tests__/browser/mock.service.ts
  packages/terminal-next/__tests__/browser/proxy.ts
Labels: ⚙️ refactor
