Repository opensumi/core, pull requests merged in 2024-09, with the labels that each got.

#3764 feat: avoid layouts thrashing
  packages/core-browser/__tests__/dom/fastdom.test.ts
  packages/core-browser/src/bootstrap/app.view.tsx
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/components/resize/resize.tsx
  packages/core-browser/src/dom/fastdom.ts
  packages/core-browser/src/dom/index.ts
  packages/core-browser/src/dom/resize-observer.ts
  packages/core-browser/src/layout/layout-hooks.ts
  packages/core-browser/src/layout/layout.interface.ts
  packages/core-browser/src/layout/render.tsx
  packages/core-browser/src/react-providers/slot.tsx
  packages/core-common/src/event-bus/event-bus-types.ts
  packages/core-common/src/event-bus/event-bus.ts
  packages/editor/src/browser/doc-model/types.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/grid/grid.service.ts
  packages/editor/src/browser/navigation.view.tsx
  packages/editor/src/browser/preference/converter.ts
  packages/editor/src/browser/preference/schema.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/browser/types.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/editor/src/common/types.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
  packages/monaco/src/browser/monaco.service.ts
  packages/terminal-next/src/browser/terminal.controller.ts
  packages/utils/__tests__/heap.test.ts
  packages/utils/src/heap.ts
  packages/utils/src/index.ts
  tools/dev-tool/src/index.html
  yarn.lock
Labels: 🎨 feature

#3987 fix: workbench cannot layout editor
  packages/editor/__tests__/browser/editor-service.test.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
Labels: 🐞 bug

#3991 fix: workbench editor layout
  packages/editor/__tests__/browser/editor-service.test.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
Labels: 🐞 bug

#3993 fix: suppress EPIPE errors when log
  packages/core-common/src/node/index.ts
  packages/core-common/src/node/utils.ts
  packages/core-electron-main/src/bootstrap/app.ts
  packages/core-node/src/bootstrap/app.ts
  packages/extension/src/hosted/ext.process-base.ts
Labels: 🐞 bug

#3990 fix: getFileType is not work after Node.js 20
  packages/file-service/src/node/shared/file-type.ts
  packages/utils/src/encoding.ts
Labels: 🐞 bug

#3950 chore: update data reporting parameter
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/SlashCustomRender.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/ai-native/src/browser/contrib/code-action/code-action.service.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/inlineCompletionRequestTask.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/contrib/terminal/ps1-terminal.service.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/ai-native/ai-reporter.ts
  packages/core-common/src/types/ai-native/reporter.ts
  tools/electron/package.json
  tools/electron/yarn.lock
  yarn.lock
Labels: 🎨 feature

#3994 fix: editor tabbar cannot scroll
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug

#3998 fix: update data reporting parameter
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
Labels: 🐞 bug

#4000 fix: update data reporting parameter
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/core-common/src/types/ai-native/reporter.ts
Labels: 🐞 bug

#4003 fix: split panel layout
  packages/core-browser/src/components/layout/split-panel.tsx
Labels: 🐞 bug

#3963 feat: add notebook extension api
  packages/core-common/src/mime.ts
  packages/editor/src/browser/index.ts
  packages/editor/src/browser/notebook.service.ts
  packages/editor/src/common/index.ts
  packages/editor/src/common/language.ts
  packages/editor/src/common/notebook.ts
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
  packages/extension/src/browser/vscode/api/main.thread.api.shared-impl.ts
  packages/extension/src/browser/vscode/api/main.thread.notebook.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/index.ts
  packages/extension/src/common/vscode/notebook.ts
  packages/extension/src/hosted/api/vscode/debug/ext.host.debug.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/extension/src/hosted/api/vscode/ext.host.notebook.ts
  packages/extension/src/hosted/api/vscode/ext.host.notebookdocument.ts
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
  packages/extension/src/hosted/api/vscode/language/util.ts
  packages/extension/src/hosted/api/worker/worker.host.api.impl.ts
  packages/types/vscode/typings/vscode.debug.d.ts
  packages/types/vscode/typings/vscode.doc.d.ts
  packages/types/vscode/typings/vscode.language.d.ts
Labels: 🎨 feature

#4006 feat: support using editor AI in notebook
  packages/ai-native/src/browser/ai-editor.contribution.ts
Labels: 🐞 bug, 🎨 feature

#3999 feat: support problem fix api
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.component.tsx
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.feature.registry.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.handler.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.module.less
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-common/src/types/ai-native/reporter.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🐞 bug, 🎨 feature

#4010 fix: inline chat controller timing
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
Labels: 🐞 bug

#4011 fix: inline chat first line overflow visible
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug

#4013 chore: fix typos
  packages/markers/src/browser/markers-service.ts
  packages/markers/src/common/match.ts
Labels: 🐞 bug

#4016 style: design light selected background color
  packages/design/src/browser/theme/light-theme.ts
Labels: 💄 style change

#4015 fix: store diff editor state while docs not destory
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
Labels: 🐞 bug

#4014 fix: fire properties change on time
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
Labels: 🐞 bug

#4021 fix: platform detect logic
  packages/utils/src/platform.ts
Labels: 🐞 bug

#4022 fix: remove global from browser
  packages/addons/src/browser/chrome-devtools.contribution.ts
  packages/addons/src/browser/connection-rtt-contribution.ts
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/server-handler.ts
  packages/core-browser/src/preferences/early-preferences.ts
  packages/core-browser/src/progress/progress-indicator.ts
  packages/core-common/src/node/port.ts
  packages/extension/src/hosted/api/vscode/ext.host.output.ts
  packages/extension/src/hosted/api/vscode/ext.host.statusbar.ts
  packages/extension/src/hosted/ext.host.proxy-base.ts
  packages/extension/src/node/extension.service.ts
  packages/main-layout/__tests__/browser/layout.service.test.tsx
  packages/terminal-next/src/node/pty.manager.remote.ts
  packages/terminal-next/src/node/terminal.service.ts
Labels: 🐞 bug

#3936 feat: support inline chat proposed extension api
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/types/sumi.d.ts
Labels: 🎨 feature

#4027 fix: ai feature support multiple instances
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.handler.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.handler.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.handler.ts
  packages/core-common/src/network.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/common/notebook.ts
Labels: 🐞 bug, 🎨 feature

#4030 fix: highlight component affects global style after uninstallation
  packages/ai-native/src/browser/components/ChatEditor.tsx
Labels: 🐞 bug, 💄 style change

#4031 fix: direct debug adapter fix, and runInTerminal fix
  packages/debug/src/browser/debug-session-connection.ts
  packages/extension/src/browser/vscode/contributes/debuggers.ts
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-starter.ts
Labels: 🐞 bug

#4033 refactor: ai feature binding editor lifecycle
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contrib/base/index.ts
  packages/ai-native/src/browser/contrib/code-action/code-action.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.ts
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.component.tsx
  packages/ai-native/src/browser/contrib/problem-fix/problem-fix.controller.ts
  packages/ai-native/src/browser/contrib/rename/rename.handler.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/index.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.service.ts
Labels: ⚙️ refactor, 🎨 feature

#3941 fix: layout state restore not work
  packages/addons/src/browser/file-content-update-time.contribution.ts
  packages/core-browser/src/bootstrap/app.view.tsx
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/core-browser/src/layout/layout-state.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/index.ts
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🐞 bug

#4012 feat: support extension register panel to ai chat
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/layout/layout.module.less
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/core-browser/src/layout/constants.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/extension/src/browser/vscode/contributes/view-containers.ts
  packages/main-layout/package.json
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/styles.module.less
Labels: 🎨 feature

#4039 feat: support intelligent completions always visible
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#4042 fix: avoid rpc proxy leak
  packages/connection/src/common/capturer.ts
  packages/connection/src/common/rpc/connection.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/extension/src/browser/vscode/api/main.thread.commands.ts
  packages/extension/src/hosted/api/vscode/doc/ext-data.host.ts
  packages/extension/src/hosted/api/vscode/ext.host.command.ts
  packages/extension/src/hosted/api/vscode/ext.host.output.ts
  packages/extension/src/hosted/api/vscode/ext.host.scm.ts
Labels: 🐞 bug

#3989 feat: supports ai history relative feature
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/ai-native/src/browser/chat/chat.feature.registry.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/chat/chat.render.registry.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
Labels: 🎨 feature

#4043 feat: support intelligent completions always visible preference
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/inlineCompletionRequestTask.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.source.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: 🎨 feature

#4044 feat: revert an API that will be removed in a future version of VSCode
  packages/extension/src/hosted/api/vscode/ext.host.scm.ts
Labels: 🎨 feature

#4047 feat: upgrade inline completion extension api
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/inlineCompletionRequestTask.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.source.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/common/index.ts
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/extension/src/common/vscode/languages.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/extension/src/hosted/api/vscode/language/inlineCompletion.ts
  packages/types/vscode/typings/vscode.proposed.inlineCompletionsAdditions.d.ts
Labels: 🎨 feature

#4045 feat: support detect EOL from file content
  packages/editor/src/browser/doc-model/editor-document-model-service.ts
  packages/editor/src/browser/fs-resource/fs-editor-doc.ts
  packages/monaco/src/common/types.ts
Labels: 🎨 feature

#4037 feat: introduce new remote service
  packages/ai-native/src/node/index.ts
  packages/connection/README.md
  packages/connection/src/common/rpc-service/index.ts
  packages/core-common/__tests__/remote-service/data-store/index.test.ts
  packages/core-common/__tests__/remote-service/data-store/select.test.ts
  packages/core-common/__tests__/remote-service/index.test.ts
  packages/core-common/package.json
  packages/core-common/src/index.ts
  packages/core-common/src/module.ts
  packages/core-common/src/remote-service/README.md
  packages/core-common/src/remote-service/data-store/decorators.ts
  packages/core-common/src/remote-service/data-store/index.ts
  packages/core-common/src/remote-service/data-store/select.ts
  packages/core-common/src/remote-service/data-store/store.ts
  packages/core-common/src/remote-service/index.ts
  packages/core-node/src/bootstrap/app.ts
  packages/core-node/src/connection.ts
  packages/core-node/src/types.ts
  packages/extension-manager/src/browser/index.ts
  packages/extension-manager/src/common/index.ts
  packages/extension-manager/src/node/index.ts
  packages/extension-manager/src/node/vsx-extension.service.ts
  packages/main-layout/package.json
  packages/terminal-next/src/common/pty.ts
  packages/terminal-next/src/node/data-store.ts
  packages/terminal-next/src/node/pty.ts
  packages/terminal-next/src/node/terminal.service.client.ts
  packages/terminal-next/src/node/terminal.service.ts
  packages/utils/src/types.ts
  yarn.lock
Labels: 🎨 feature

#4049 feat: compatibility with the experimental API registerEditSessionIdentityProvider
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
  packages/types/vscode/typings/vscode.proposed.editSessionIdentityProvider.d.ts
Labels: 🎨 feature

#4054 fix: back service register completion not work
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
Labels: 🐞 bug
