Repository opensumi/core, pull requests merged in 2024-03, with the labels that each got.

#3372 fix: style issue by desktop
  packages/ai-native/src/browser/override/layout/override.less
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
Labels: 🐞 bug, 💄 style change

#3374 style: improve design styles
  packages/design/src/browser/override/override.module.less
  packages/design/src/browser/style/design.module.less
  packages/design/src/browser/style/global.less
  packages/design/src/browser/theme/default-theme.ts
  packages/design/src/browser/theme/light-theme.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/scm/src/browser/components/scm-resource-input.tsx
  packages/theme/src/common/color-tokens/design.ts
Labels: 💄 style change, v3, AI

#3375 fix: ai panel background color issue
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.module.less
  packages/core-browser/src/components/ai-native/inline-chat/styles.module.less
Labels: 🐞 bug

#3380 feat: replace the extension script download source with Alipay CloudIDE Marketplace
  configs/alipay-cloud-extensions.json
  scripts/download.js
Labels: 🎨 feature

#3382 fix(rpc): cancel cannot work
  packages/connection/__test__/common/frame-decoder.test.ts
  packages/connection/__test__/common/rpc/sumi-rpc.test.ts
  packages/connection/src/common/buffers/index.ts
  packages/connection/src/common/buffers/pool.ts
  packages/connection/src/common/connection/drivers/frame-decoder.ts
  packages/connection/src/common/connection/drivers/stream.ts
  packages/connection/src/common/fury-extends/any.ts
  packages/connection/src/common/rpc/connection.ts
Labels: 🐞 bug

#3378 feat: support ai inline chat
  configs/ts/tsconfig.build.json
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-native.service.ts
  packages/ai-native/src/browser/components/Loading.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.module.less
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.module.less
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/ai-native/src/common/index.ts
  packages/components/src/popover/index.tsx
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/ai-native/index.ts
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/core-browser/src/components/ai-native/ai-action/index.tsx
  packages/core-browser/src/components/ai-native/enhanceIcon/background-logo-icon.svg
  packages/core-browser/src/components/ai-native/enhanceIcon/index.tsx
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
  packages/core-browser/src/components/ai-native/index.ts
  packages/core-browser/src/components/ai-native/inline-chat/result.tsx
  packages/core-browser/src/components/ai-native/inline-chat/styles.module.less
  packages/core-browser/src/components/ai-native/line-vertical/index.tsx
  packages/core-browser/src/components/ai-native/popover/index.tsx
  packages/core-browser/src/components/ai-native/thumbs/index.tsx
  packages/core-browser/src/contextkey/ai-native.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-browser/src/index.ts
  packages/core-common/src/settings/ai-native.ts
  packages/core-common/src/settings/index.ts
  packages/core-node/src/ai-native/base-back.service.ts
  packages/extension/src/browser/components/walkthroughs-view.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/ai-native/content-widget/containerPanel.tsx
  packages/monaco/src/browser/ai-native/content-widget/index.tsx
  packages/monaco/src/browser/ai-native/content-widget/styles.module.less
  packages/preferences/src/common/types.ts
  packages/startup/entry/sample-modules/ai-native.contribution.ts
  packages/startup/entry/sample-modules/index.ts
  packages/startup/entry/sample-modules/menu-bar/menu-bar.view.tsx
  packages/startup/package.json
  packages/startup/src/browser/common-modules.ts
  packages/startup/src/node/common-modules.ts
  yarn.lock
Labels: 🎨 feature, v3, AI

#3381 feat: replace marketplace to alipay cloudide marketplace
  packages/core-common/src/const/application.ts
  packages/core-node/src/bootstrap/app.ts
  packages/extension-manager/src/common/index.ts
  packages/extension-manager/src/common/vsx-registry-types.ts
  packages/extension-manager/src/node/index.ts
  packages/extension-manager/src/node/marketplace/alipay-cloud-marketplace.service.ts
  packages/extension-manager/src/node/marketplace/index.ts
  packages/extension-manager/src/node/marketplace/openvsx-marketplace.service.ts
  packages/extension-manager/src/node/vsx-extension.service.ts
  tools/cli-engine/src/node/server.ts
  tools/electron/src/node/server.ts
Labels: 🎨 feature

#3376 feat: add log outputchannel api
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/window.ts
  packages/extension/src/hosted/api/vscode/ext.host.output.ts
  packages/extension/src/hosted/api/vscode/ext.host.window.api.impl.ts
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.window.d.ts
Labels: 🎨 feature

#3384 fix: fix extension download error
  packages/extension-manager/src/node/marketplace/alipay-cloud-marketplace.service.ts
Labels: 🐞 bug

#3385 fix: uri should support serialize to json
  packages/connection/src/common/rpc/connection.ts
  packages/utils/src/uri.ts
Labels: 🐞 bug

#3387 fix: unexpected static resoure service import
  packages/theme/src/browser/product-icon.service.ts
Labels: 🐞 bug

#3391 style: improve design module style
  packages/design/src/browser/style/design.module.less
  packages/startup/entry/sample-modules/menu-bar/menu-bar.module.less
Labels: 💄 style change

#3392 fix: fix default layout state
  package.json
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/tabbar-handler.ts
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
  packages/startup/entry/web/layout.tsx
  yarn.lock
Labels: 🐞 bug

#3396 fix: remove deprecated usage of less import statement
  packages/status-bar/src/browser/status-bar.module.less
Labels: 🐞 bug

#3398 feat: imporve tree property performance
  packages/components/src/recycle-tree/tree/TreeNode.ts
Labels: 🎨 feature

#3400 feat: support ai inline completions
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/inline-completions/constants.ts
  packages/ai-native/src/browser/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/inline-completions/promptCache.ts
  packages/ai-native/src/browser/inline-completions/provider.ts
  packages/ai-native/src/browser/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/types.ts
  packages/core-browser/src/ai-native/ai-reporter.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/common/common.command.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-common/src/types/ai-native/reporter.ts
Labels: 🎨 feature

#3406 fix: restore layout state on web lite
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
  packages/output/src/browser/output.service.ts
  packages/output/src/browser/output.view.tsx
Labels: 🐞 bug

#3345 feat: support SourceControl.historyProvider
  packages/extension/src/browser/vscode/api/main.thread.scm.ts
  packages/extension/src/common/vscode/scm.ts
  packages/extension/src/hosted/api/vscode/ext.host.scm.ts
  packages/scm/src/common/index.ts
  packages/scm/src/common/scm-history.ts
  packages/scm/src/common/scm.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.proposed.scmHistoryProvider.d.ts
Labels: 🎨 feature

#3411 fix: ai reporter repeat
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-common/src/types/ai-native/reporter.ts
Labels: 🐞 bug

#3412 fix: design title actions style
  packages/design/src/browser/style/design.module.less
Labels: 🐞 bug, 💄 style change

#3399 feat: support configure collaboration server opts
  packages/collaboration/__tests__/browser/collaboration-service.test.ts
  packages/collaboration/__tests__/browser/textmodel-binding.test.ts
  packages/collaboration/src/browser/collaboration.service.ts
  packages/collaboration/src/common/constants.ts
  packages/collaboration/src/node/y-websocket-server.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-node/src/types.ts
Labels: 🎨 feature

#3404 feat: support ai 3 way merge
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/merge-conflict/merge-conflict.feature.registry.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/prompts/base-prompt-manager.ts
  packages/ai-native/src/common/prompts/merge-conflict-prompt.ts
  packages/components/src/dialog/index.tsx
  packages/components/src/dialog/styles.less
  packages/components/src/input/Input.tsx
  packages/core-browser/src/ai-native/conflict-report.service.ts
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/components/ai-native/content-widget/containerPanel.tsx
  packages/core-browser/src/components/ai-native/content-widget/styles.module.less
  packages/core-browser/src/components/ai-native/index.ts
  packages/core-browser/src/components/ai-native/inline-chat/result.tsx
  packages/core-common/src/types/ai-native/index.ts
  packages/core-common/src/types/ai-native/reporter.ts
  packages/design/src/browser/index.ts
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/editor/src/browser/merge-editor/merge-editor.contribution.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/extension/src/browser/sumi-browser/contribution/chat.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/__mocks__/monaco/editor/merge-editor.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
  packages/monaco/src/browser/index.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  yarn.lock
Labels: 🎨 feature, v3, AI

#3416 style: improve input style on design mode
  packages/components/src/input/input.less
  packages/components/src/input/validate-input.less
Labels: 💄 style change

#3409 feat: support SourceControlInputBox extension api
  packages/extension/src/browser/vscode/api/main.thread.scm.ts
  packages/extension/src/common/vscode/scm.ts
  packages/extension/src/hosted/api/vscode/ext.host.scm.ts
  packages/scm/src/common/scm.service.ts
  packages/scm/src/common/scm.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.proposed.scm.d.ts
  packages/types/vscode/typings/vscode.proposed.scmInputBoxActionButton.d.ts
Labels: 🎨 feature

#3414 feat: support collapse unchanged regions
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/diff/compare.ts
  packages/editor/src/browser/preference/converter.ts
  packages/editor/src/browser/preference/schema.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/web/app.tsx
Labels: 🎨 feature

#3419 chore: remove duplicate code
  packages/editor/src/browser/diff/compare.ts
Labels: 🐞 bug

#3418 feat: upgrade to monaco 0.47.0
  packages/debug/src/browser/view/console/debug-console.service.ts
  packages/editor/__tests__/browser/editor.collection.test.ts
  packages/extension/__tests__/browser/main.thread.editor.test.ts
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/extension/src/common/vscode/model.api.ts
  packages/extension/src/hosted/api/vscode/language/completion.ts
  packages/monaco/__mocks__/monaco/editor/code-editor.ts
  packages/monaco/package.json
  packages/monaco/src/browser/monaco-snippet-suggest-provider.ts
  packages/monaco/src/browser/monaco.context-key.service.ts
  packages/monaco/src/browser/monaco.resolved-keybinding.ts
  packages/monaco/src/browser/monaco.service.ts
  yarn.lock
Labels: 🎨 feature

#3424 fix: default theme register icons contribution
  packages/theme/__tests__/browser/product-icon.service.test.ts
  packages/theme/src/browser/product-icon.service.ts
  tools/playwright/src/tests/scm.test.ts
Labels: 🐞 bug

#3421 feat: support ai rename suggestions
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/rename/rename.feature.registry.ts
  packages/ai-native/src/browser/rename/rename.service.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/prompts/rename-prompt.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/editor/src/browser/monaco-contrib/callHierarchy/callHierarchy.service.ts
  packages/monaco/src/browser/monaco-api/languages.ts
  packages/monaco/src/common/types.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: 🎨 feature

#3423 feat: support ai native layout config
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/layout/layout-config.ts
  packages/ai-native/src/browser/layout/layout.module.less
  packages/ai-native/src/browser/layout/menu-bar/logo.svg
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.contribution.tsx
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
  packages/core-browser/src/menu/next/base.ts
  packages/core-browser/src/menu/next/menu-id.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/design/src/browser/design.contribution.ts
  packages/design/src/browser/layout/tabbar.view.tsx
  packages/design/src/browser/style/design.module.less
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/menu-bar/src/browser/menu-bar.contribution.ts
  packages/menu-bar/src/browser/menu-bar.store.ts
  yarn.lock
Labels: 🎨 feature

#3429 fix: rename widget show keycode
  packages/monaco/src/browser/index.ts
  packages/monaco/src/browser/monaco.service.ts
Labels: 🐞 bug

#3431 fix: design module publish
  packages/design/package.json
Labels: 🐞 bug

#3422 feat: terminal ai feature
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-terminal/ai-terminal.service.ts
  packages/ai-native/src/browser/ai-terminal/component/terminal-command-suggest-controller.module.less
  packages/ai-native/src/browser/ai-terminal/component/terminal-command-suggest-controller.tsx
  packages/ai-native/src/browser/ai-terminal/component/terminal-inline-chat-controller.module.less
  packages/ai-native/src/browser/ai-terminal/component/terminal-inline-chat-controller.tsx
  packages/ai-native/src/browser/ai-terminal/decoration/terminal-decoration.tsx
  packages/ai-native/src/browser/ai-terminal/index.ts
  packages/ai-native/src/browser/ai-terminal/matcher/base.ts
  packages/ai-native/src/browser/ai-terminal/matcher/index.ts
  packages/ai-native/src/browser/ai-terminal/matcher/java.ts
  packages/ai-native/src/browser/ai-terminal/matcher/node.ts
  packages/ai-native/src/browser/ai-terminal/matcher/npm.ts
  packages/ai-native/src/browser/ai-terminal/matcher/shell.ts
  packages/ai-native/src/browser/ai-terminal/matcher/tsc.ts
  packages/ai-native/src/browser/ai-terminal/ps1-terminal.service.tsx
  packages/ai-native/src/browser/ai-terminal/terminal-ai.contributon.ts
  packages/ai-native/src/browser/ai-terminal/terminal.feature.registry.ts
  packages/ai-native/src/browser/ai-terminal/utils/ansi-parser.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/common/prompts/terminal-detection-prompt.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/components/ai-native/ai-action/index.tsx
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
  packages/terminal-next/src/node/easy-shell-intergration.ts
  packages/terminal-next/src/node/pty.ts
  yarn.lock
Labels: 🎨 feature

#3432 fix: chatService di
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
Labels: 🐞 bug

#3433 fix: add mssing pkg
  packages/connection/package.json
  yarn.lock
Labels: 🐞 bug

#3435 fix: ai chat panel cannot be persisted after closing the panel
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/override/layout/main-slot-renderer.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.service.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/common/index.ts
Labels: 🐞 bug

#3043 feat: terminal split screen operation supports single deletion
  packages/terminal-next/src/browser/component/resize.module.less
  packages/terminal-next/src/browser/component/resize.view.tsx
Labels: ⚙️ refactor, 🎨 feature, 💄 style change

#3437 fix: collaborationOptions not pass
  packages/core-node/src/bootstrap/app.ts
Labels: 🐞 bug

#3448 ci: fix release ci
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: 🐞 bug

#3449 fix: remove all import from src
  .eslintrc.js
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/inline-completions/service/ai-completions.service.ts
  packages/comments/src/common/index.ts
Labels: 🐞 bug

#3420 fix: file tree dialog style
  packages/components/src/dialog/index.tsx
  packages/components/src/dropdown/dropdown.tsx
  packages/components/src/modal/Modal.tsx
  packages/core-browser/package.json
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/overlay/__tests__/browser/dialog.service.test.tsx
  packages/overlay/src/browser/dialog.service.ts
  packages/overlay/src/browser/dialog.view.tsx
  packages/overlay/src/common/index.ts
  yarn.lock
Labels: 🐞 bug, 💄 style change

#3451 fix: tree do not need refresh when invisible
  packages/core-browser/src/contextkey/markers.ts
  packages/core-browser/src/contextkey/search.ts
  packages/markers/src/browser/markers-contextkey.ts
  packages/markers/src/browser/markers-contribution.ts
  packages/markers/src/browser/markers-service.ts
  packages/markers/src/browser/markers-tree.view.tsx
  packages/markers/src/browser/tree/tree-model.service.ts
  packages/search/src/browser/search-contextkey.ts
  packages/search/src/browser/search.contribution.ts
  packages/search/src/browser/search.service.ts
  packages/search/src/browser/tree/search-tree.service.ts
  packages/search/src/browser/tree/tree-model.service.ts
Labels: 🐞 bug

#3453 fix: improve diff editor first region position
  packages/editor/src/browser/editor-collection.service.ts
Labels: 🐞 bug

#3454 fix: do toggle view error
  packages/main-layout/src/browser/accordion/accordion.service.ts
Labels: 🐞 bug

#3456 style(design): fix menu bar style
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.module.less
Labels: 🐞 bug, 💄 style change

#3458 feat: optimize chat agent
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat.feature.registry.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/common/index.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/types/sumi.d.ts
Labels: 🎨 feature

#3461 style: improve debug frame style with design mode
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/frames/debug-call-stack.module.less
Labels: 💄 style change

#3462 style: use design mode specific layout
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/components/actions/styles.module.less
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/core-browser/src/react-providers/slot.tsx
  packages/design/src/browser/style/global.less
  packages/startup/entry/web/layout.tsx
Labels: 💄 style change, v3

#3463 refactor: use better design token name
  packages/ai-native/src/browser/ai-terminal/component/terminal-command-suggest-controller.module.less
  packages/ai-native/src/browser/ai-terminal/component/terminal-inline-chat-controller.module.less
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/layout/layout.module.less
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.module.less
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/core-browser/src/components/ai-native/content-widget/styles.module.less
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
  packages/design/src/browser/override/override.module.less
  packages/design/src/browser/style/design.module.less
  packages/design/src/browser/style/global.less
  packages/editor/src/browser/editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/theme/src/common/color-tokens/design.ts
Labels: v3

#3467 fix: monaco hover widget styles
  packages/design/src/browser/style/global.less
Labels: 🐞 bug, 💄 style change

#3469 fix: product icons contribution not initial
  packages/extension/src/browser/vscode/contributes/icon.ts
  packages/extension/src/browser/vscode/contributes/productIconTheme.ts
  packages/theme/src/browser/product-icon.service.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/common/theme.service.ts
Labels: 🐞 bug

#3389 feat: when click file node, resize the bottom panel
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/file-tree-next/__tests__/browser/file-tree.test.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
Labels: 🎨 feature, v3

#3466 style: improve design style
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.view.tsx
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/layout/constants.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/design/src/browser/style/design.module.less
  packages/main-layout/src/browser/accordion/accordion.view.tsx
  typings/style/index.d.ts
Labels: 💄 style change

#3464 fix: missing zh-Hans translation
  package.json
  packages/monaco/__mocks__/monaco/editor/model.ts
  packages/monaco/package.json
  tools/dev-tool/src/webpack.js
  yarn.lock
Labels: 🐞 bug
