Repository opensumi/core, pull requests merged in 2024-01, with the labels that each got.

#3233 style: merge editor style fix
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/preferences/src/browser/preferences.module.less
Labels: 🐞 bug, 💄 style change

#3266 fix(electron): avoid incorrect dispose of connection
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  packages/core-node/src/connection.ts
Labels: 🐞 bug

#3274 feat: add type to chatMessageStructure
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/reporter.ts
Labels: 🎨 feature

#3259 feat: update dark theme styles for ai native
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/Thumbs.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/lineVertical.tsx
  packages/ai-native/src/browser/diff-widget/diff-widget.module.less
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.module.less
  packages/ai-native/src/browser/override/ai-menu.service.tsx
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/comments/src/browser/tree/comment-node.tsx
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/components/src/scrollbars/index.tsx
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/debug/src/browser/view/frames/debug-call-stack-session.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack-thread.view.tsx
  packages/debug/src/browser/view/watch/debug-watch.view.tsx
  packages/editor/src/browser/tab.view.tsx
  packages/extension-manager/src/browser/vsx-extension.module.less
  packages/extension/__mocks__/extensions/vscode-extensions.vscode-language-pack-zh-hans-1.37.1/translations/main.i18n.json
  packages/extension/src/browser/components/extension-tree-view-node.tsx
  packages/file-tree-next/src/browser/dialog/file-dialog-node.tsx
  packages/file-tree-next/src/browser/file-tree-node.tsx
  packages/i18n/src/common/zh-CN.lang.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/accordion/styles.module.less
  packages/markers/src/browser/markers-filter.view.tsx
  packages/markers/src/browser/tree/marker-node.tsx
  packages/markers/src/browser/tree/tree-node.module.less
  packages/outline/src/browser/outline-node.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.view.tsx
  packages/search/src/browser/tree/search-node.tsx
  packages/theme/src/common/color-tokens/ai-native.ts
Labels: 🎨 feature, 💄 style change

#3278 fix: update dark style
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/lineVertical.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.module.less
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/theme/src/common/color-tokens/ai-native.ts
Labels: 🐞 bug, 💄 style change

#3282 feat: optimize stream packet parse performance
  packages/connection/__test__/common/buffers.test.ts
  packages/connection/__test__/common/stream-decoder.test.ts
  packages/connection/__test__/node/ws-channel.test.ts
  packages/connection/src/common/connection/buffers.ts
  packages/connection/src/common/connection/drivers/stream-decoder.ts
Labels: 🎨 feature

#3288 feat: implement ai ux of 3-way merge editor
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/ai-native/index.ts
  packages/core-browser/src/index.ts
  packages/core-common/src/types/ai-native.ts
  packages/extension/src/browser/vscode/builtin-commands.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 🎨 feature

#3289 style: update merge conflict bottom
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 💄 style change

#3293 feat: support 3-way inline widget
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/ai-project/generate.service.ts
  packages/ai-native/src/browser/ai-reporter.ts
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatMoreActions.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.module.less
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/override/layout/tabbar.view.tsx
  packages/ai-native/src/browser/run/run.service.ts
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/ai-native/index.ts
  packages/core-browser/src/ai-native/reporter.ts
  packages/core-browser/src/components/ai-native/content-widget/containerPanel.tsx
  packages/core-browser/src/components/ai-native/content-widget/index.tsx
  packages/core-browser/src/components/ai-native/content-widget/styles.module.less
  packages/core-browser/src/components/ai-native/enhanceIcon/index.tsx
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
  packages/core-browser/src/components/ai-native/index.ts
  packages/core-browser/src/components/ai-native/inline-chat/result.tsx
  packages/core-browser/src/components/ai-native/inline-chat/styles.module.less
  packages/core-browser/src/components/ai-native/line-vertical/index.tsx
  packages/core-browser/src/components/ai-native/thumbs/index.tsx
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
Labels: 🎨 feature, v3

#3296 feat: support merge editor dev command
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
Labels: 🎨 feature

#3295 fix: stop event bubble when click comment
  packages/comments/src/browser/comments.service.ts
Labels: 🐞 bug

#3297 feat: support 3-way stop widget
  packages/core-browser/src/components/ai-native/inline-chat/result.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
Labels: 🎨 feature

#3298 refactor: ai native back service
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-project/generate.service.ts
  packages/ai-native/src/browser/ai-sumi/sumi.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/run/run.feature.registry.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/index.ts
  packages/ai-native/src/node/ai.service.ts
  packages/ai-native/src/node/index.ts
  packages/connection/src/common/proxy.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-common/src/ai-native/base-back.service.ts
  packages/core-common/src/ai-native/index.ts
  packages/core-common/src/proxy.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
  packages/startup/entry/sample-modules/ai-native.contribution.ts
Labels: ⚙️ refactor, v3

#3302 feat: support 3-way one-click ai resolve conflict
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
Labels: 🎨 feature, v3

#3252 feat: add chat agent extension api in sumi
  configs/ts/tsconfig.build.json
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/chat-agent.service.ts
  packages/ai-native/src/browser/chat-manager.service.ts
  packages/ai-native/src/browser/chat-model.ts
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/Markdown.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/common/index.ts
  packages/components/src/utils/marked.ts
  packages/core-browser/src/utils/react-hooks.ts
  packages/extension/package.json
  packages/extension/src/browser/sumi/main.thread.api.impl.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/common/sumi/index.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/sumi/ext.host.api.impl.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/theme/src/common/color-tokens/editor.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.proposed.chat.d.ts
  packages/types/vscode/typings/vscode.proposed.chatAgents2.d.ts
  packages/types/vscode/typings/vscode.proposed.chatAgents2Additions.d.ts
  packages/types/vscode/typings/vscode.proposed.chatVariables.d.ts
  packages/types/vscode/typings/vscode.proposed.interactive.d.ts
  packages/utils/src/disposable.ts
  yarn.lock
Labels: 🎨 feature, v3

#3304 feat: support 3-way stop all ai resolve & regenerate
  packages/ai-native/package.json
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
  yarn.lock
Labels: 🎨 feature, v3

#3307 feat: report chat editor operate
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/core-browser/src/ai-native/reporter.ts
Labels: 🎨 feature

#3309 fix: ai run components props
  packages/ai-native/src/browser/types.ts
Labels: 🐞 bug

#3312 feat: support custom chat component
  packages/ai-native/src/browser/chat-agent.view.service.ts
  packages/ai-native/src/browser/chat-model.ts
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/index.ts
  packages/extension/src/browser/sumi-browser/contribution/chat.ts
  packages/extension/src/browser/sumi-browser/contribution/index.ts
  packages/extension/src/browser/sumi-browser/types.ts
  packages/extension/src/browser/sumi/contributes/browser-views.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/types/sumi.d.ts
  typings/sumi/index.d.ts
Labels: 🎨 feature

#3318 fix: typeof error
  packages/ai-native/src/browser/components/Thinking.tsx
Labels: 🐞 bug

#3320 fix: markdown list style
  packages/ai-native/src/browser/components/components.module.less
Labels: 🐞 bug, 💄 style change

#3317 feat: merge contlict ai resolve
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/merge-conflict/cacheConflicts.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/ai-native/src/browser/merge-conflict/types.ts
  packages/core-common/src/types/extension.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/extension/src/browser/extension.service.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 🎨 feature

#3322 fix: 3-way format provider
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/editor/src/browser/merge-editor/merge-editor.provider.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/mini-map.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/stickiness-connect-manager.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/index.ts
Labels: 🐞 bug, v3

#3324 fix: 3-way merge-range error for range
  packages/components/src/dialog/index.tsx
  packages/components/src/dialog/styles.less
  packages/core-browser/src/components/ai-native/inline-chat/result.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
Labels: 🐞 bug

#3308 style: lint import statement
  .eslintrc.js
  package.json
  packages/comments/src/browser/comments-zone.view.tsx
  packages/components/src/badge/index.tsx
  packages/components/src/button/index.tsx
  packages/components/src/checkbox/index.tsx
  packages/components/src/dialog/index.tsx
  packages/components/src/dropdown/dropdown-button.tsx
  packages/components/src/dropdown/dropdown.tsx
  packages/components/src/icon/icon.tsx
  packages/components/src/icon/iconfont-cn.tsx
  packages/components/src/input/Input.tsx
  packages/components/src/input/InputNumber.tsx
  packages/components/src/input/ValidateInput.tsx
  packages/components/src/menu/index.tsx
  packages/components/src/modal/Modal.tsx
  packages/components/src/notification/index.tsx
  packages/components/src/overlay/index.tsx
  packages/components/src/popover/index.tsx
  packages/components/src/recycle-tree/basic/menubar-item.tsx
  packages/components/src/select/index.tsx
  packages/components/src/tabs/index.tsx
  packages/components/src/tooltip/index.tsx
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/components/layout/box-panel.tsx
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/components/resize/resize.tsx
  packages/core-browser/src/progress/progress-bar.tsx
  packages/core-browser/src/services/label-service.ts
  packages/core-browser/src/toolbar/components/button.tsx
  packages/core-browser/src/toolbar/components/dropdown-button.tsx
  packages/core-browser/src/toolbar/components/select.tsx
  packages/core-browser/src/toolbar/toolbar.tsx
  packages/core-browser/src/utils/label.tsx
  packages/editor/src/browser/decoration-applier.ts
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/navigation.view.tsx
  packages/editor/src/browser/tab.view.tsx
  packages/extension/src/browser/components/extension-portal-root.tsx
  packages/extension/src/browser/components/walkthroughs-view.tsx
  packages/extension/src/browser/shadowRoot.tsx
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/welcome.view.tsx
  packages/menu-bar/src/browser/menu-bar.view.tsx
  packages/menu-bar/src/browser/toolbar-action.view.tsx
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/quick-open/src/browser/components/keybinding/index.tsx
  packages/quick-open/src/browser/components/quick-open-tabs/index.tsx
  packages/quick-open/src/browser/quick-open.view.tsx
  packages/scm/src/browser/components/scm-provider-list.tsx
  packages/scm/src/browser/components/scm-resource-tree/index.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.view.tsx
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/terminal-next/src/browser/component/terminal.view.tsx
  packages/toolbar/src/browser/toolbar.view.tsx
  scripts/ast-grep/replace-import-default.js
  scripts/eslint_rules/rules/classnames-import-rule.js
  yarn.lock
Labels: 💄 style change

#3327 fix: ai merge conflict
  packages/ai-native/src/browser/merge-conflict/cache-conflicts.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/ai-native/src/browser/merge-conflict/override-resolve-result-widget.tsx
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 🐞 bug

#3331 feat: support 3-way report
  packages/ai-native/src/browser/ai-chat.service.ts
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-reporter.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/run/run.service.ts
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/ai-native/conflict-report.service.ts
  packages/core-browser/src/ai-native/index.ts
  packages/core-browser/src/ai-native/reporter.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
Labels: 🎨 feature

#3330 feat: support send message in agent directly
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/chat-agent.service.ts
  packages/ai-native/src/browser/chat-agent.view.service.ts
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/index.ts
  packages/extension/src/browser/sumi-browser/contribution/chat.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/types/sumi.d.ts
Labels: 🎨 feature
