Repository opensumi/core, pull requests merged in 2024-11, with the labels that each got.

#4139 fix: open recent workspace in web
  packages/core-browser/src/window/window.service.ts
Labels: 🐞 bug

#4142 style: improve notice toast style
  packages/components/src/message/style.less
Labels: 💄 style change

#4141 style: improve notification buttons style
  packages/components/src/notification/notification.less
Labels: 💄 style change

#4140 style: improve statusbar popover style
  packages/components/src/popover/index.tsx
  packages/components/src/popover/styles.less
  packages/core-browser/src/services/status-bar-service.ts
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/status-bar/src/browser/status-bar.module.less
  packages/status-bar/src/browser/status-bar.view.tsx
Labels: 💄 style change

#4135 feat: support MessageOptions.detail
  packages/components/src/dialog/index.tsx
  packages/components/src/dialog/styles.less
  packages/editor/src/browser/fs-resource/fs-resource.ts
  packages/editor/src/browser/untitled-resource.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/extension/src/browser/vscode/api/main.thread.file-system-event.ts
  packages/extension/src/browser/vscode/api/main.thread.message.ts
  packages/extension/src/hosted/api/vscode/ext.host.message.ts
  packages/file-tree-next/src/browser/dialog/window-dialog.service.tsx
  packages/overlay/src/browser/dialog.service.ts
  packages/overlay/src/browser/dialog.view.tsx
  packages/overlay/src/browser/message.service.tsx
  packages/overlay/src/common/index.ts
  packages/search/src/browser/replace.ts
  packages/search/src/browser/search.contribution.ts
  packages/types/vscode/typings/vscode.message.d.ts
  packages/workspace-edit/src/browser/refactor-preview.service.tsx
Labels: 🎨 feature

#4143 fix: tiktoken dependencies build error
  tools/cli-engine/configs/webpack.config.browser.js
Labels: 🐞 bug

#4153 fix: code edits reporter code
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/core-common/src/types/ai-native/reporter.ts
Labels: 🐞 bug

#4146 feat: add support for VSCode API: TextEditorOptions.indentSize
  packages/types/sumi-worker/worker.editor.d.ts
  packages/types/vscode/typings/vscode.editor.d.ts
Labels: 🎨 feature

#4145 feat: support VSCode API: inputBox.valueSelection
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/quick-open/src/browser/quick-open.widget.tsx
  packages/types/vscode/typings/vscode.quickpick.d.ts
Labels: 🎨 feature

#4155 feat: add code edits perferences
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/line-change.source.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/lint-error.source.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4163 fix: quick pick update options
  packages/core-browser/src/menu/next/menu-service.ts
  packages/core-browser/src/quick-open/index.ts
  packages/extension/src/browser/vscode/api/main.thread.quickopen.ts
  packages/extension/src/common/vscode/window.ts
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
  packages/quick-open/src/browser/quick-open.service.tsx
  packages/quick-open/src/browser/quick-open.type.ts
  packages/quick-open/src/browser/quick-open.widget.tsx
  packages/quick-open/src/browser/quick-pick.service.ts
Labels: 🐞 bug

#4167 feat: empty implement testing 1.84 api
  packages/extension/src/browser/vscode/api/main.thread.tests.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/tests.ts
  packages/extension/src/hosted/api/vscode/ext.host.tests.ts
  packages/testing/src/common/testCollection.ts
  packages/types/vscode/typings/vscode.tests.d.ts
  packages/utils/src/event.ts
Labels: 🎨 feature

#4154 feat: support VSCode API: SnippetTextEdit
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.editor.d.ts
Labels: 🎨 feature

#4137 feat: support VSCode API: TaskPresentationOptions
  packages/extension/src/common/vscode/tasks.ts
  packages/task/src/browser/task-executor.ts
  packages/task/src/common/task.ts
  packages/types/vscode/typings/vscode.tasks.d.ts
Labels: 🎨 feature

#4169 feat: support VSCode API: EnvironmentVariableMutator.option
  packages/extension/__tests__/hosted/api/vscode/ext.host.terminal.test.ts
  packages/extension/src/hosted/api/vscode/ext.host.terminal.ts
  packages/terminal-next/src/common/environmentVariable.ts
  packages/terminal-next/src/common/environmentVariableCollection.ts
  packages/types/vscode/typings/vscode.d.ts
Labels: 🎨 feature

#4150 fix: use modified uri handling for diff editor
  packages/extension/src/browser/vscode/contributes/menu.ts
Labels: 🐞 bug

#4170 fix: correct width calculation in resize component
  packages/core-browser/src/components/resize/resize.tsx
Labels: 🐞 bug

#4165 fix: support ensure save file dialog by enter keyboard event
  packages/components/src/dialog/index.tsx
  packages/components/src/dialog/styles.less
  packages/components/src/overlay/styles.less
  packages/core-browser/src/contextkey/dialog.ts
  packages/core-browser/src/keybinding/keybinding.ts
  packages/editor/__tests__/browser/resource.test.ts
  packages/editor/src/browser/index.ts
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/browser/untitled-resource.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.comments.test.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-tree-next/src/browser/dialog/file-dialog-model.service.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.contextkey.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.module.less
  packages/file-tree-next/src/browser/dialog/file-dialog.service.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/file-tree-next/src/browser/dialog/window-dialog.service.tsx
  packages/overlay/src/browser/dialog.contribution.ts
  packages/scm/__tests__/browser/dirty-diff/index.test.ts
Labels: 🐞 bug

#4172 feat: empty implement VSCode proposed API: registerMultiDocumentHighlightProvider
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.language.d.ts
  packages/types/vscode/typings/vscode.proposed.multiDocumentHighlightProvider.d.ts
Labels: 🎨 feature

#4171 feat：support VSCode API: GlobalEnvironmentVariableCollectoin
  packages/core-common/src/collections.ts
  packages/core-common/src/index.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.terminal.test.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/common/vscode/terminal.ts
  packages/extension/src/hosted/api/vscode/env/envApiFactory.ts
  packages/extension/src/hosted/api/vscode/ext.host.extensions.ts
  packages/extension/src/hosted/api/vscode/ext.host.terminal.ts
  packages/types/vscode/typings/vscode.d.ts
Labels: 🎨 feature

#4178 fix: right panel container view
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🐞 bug

#4182 fix: when context key cause different menu bars change at same time. only one menu bar refreshed
  packages/core-browser/src/menu/next/menubar-service.ts
Labels: 🐞 bug

#4184 feat: empty implement VSCode API: DebugSessionOptions
  packages/types/vscode/typings/vscode.debug.d.ts
Labels: 🎨 feature

#4181 fix: when using language pack extensions, extensions that use i10n do not load correctly
  packages/extension/__mocks__/extension.service.client.ts
  packages/extension/src/browser/vscode/api/main.thread.localization.ts
  packages/extension/src/browser/vscode/contributes/configuration.ts
  packages/extension/src/browser/vscode/contributes/localization.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/node/extension.service.client.ts
  packages/startup/entry/web-lite/lite-module/extension/index.ts
  scripts/download.js
Labels: 🐞 bug, 🎨 feature

#4174 fix: restored notebook have invalid keybinding
  packages/notebook/src/browser/libro-keybind-contribution.ts
  packages/notebook/src/browser/libro/libro-opensumi-content-contribution.ts
Labels: 🐞 bug

#4186 feat: add notebook variable inspector panel
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/notebook/src/browser/index.ts
  packages/notebook/src/browser/kernel-panel/index.ts
  packages/notebook/src/browser/kernel-panel/kernel.panel.contribution.ts
  packages/notebook/src/browser/libro.contribution.tsx
  packages/notebook/src/browser/variables/index.less
  packages/notebook/src/browser/variables/inspector-script.ts
  packages/notebook/src/browser/variables/libro-variable-color-registry.ts
  packages/notebook/src/browser/variables/libro-variable-module.ts
  packages/notebook/src/browser/variables/variable-panel.tsx
  packages/notebook/src/browser/variables/variable-protocol.ts
  packages/notebook/src/browser/variables/variable-view.tsx
Labels: 🎨 feature

#4188 fix: terminal open link on changed cwd
  packages/terminal-next/src/browser/links/link-manager.ts
Labels: 🐞 bug
