Repository opensumi/core, pull requests merged in 2024-04, with the labels that each got.

#3468 feat: support dynamic debugConfiguration provider
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/run/toolbar/run-toolbar.module.less
  packages/ai-native/src/browser/run/toolbar/run-toolbar.tsx
  packages/components/src/select/index.tsx
  packages/components/src/select/style.less
  packages/debug/src/browser/components/floating-click-widget/index.tsx
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/view/configuration/debug-configuration.module.less
  packages/debug/src/browser/view/configuration/debug-configuration.service.ts
  packages/debug/src/browser/view/configuration/debug-configuration.view.tsx
  packages/debug/src/common/commands.ts
  packages/debug/src/common/debug-configuration.ts
  packages/debug/src/common/debug-service.ts
  packages/extension/src/browser/vscode/api/debug/extension-debug-adapter-contribution.ts
  packages/extension/src/browser/vscode/api/debug/extension-debug-service.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/common/vscode/debug.ts
  packages/extension/src/hosted/api/vscode/debug/ext.host.debug.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native.contribution.ts
  packages/startup/entry/web/app.tsx
Labels: 🎨 feature

#3478 feat: support ai code action
  package.json
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/languages/parser.ts
  packages/ai-native/src/browser/languages/tree-sitter/common.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/base.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/golang.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/index.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/java.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/javascript.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/javascriptreact.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/python.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/rust.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/types.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/typescript.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/typescriptreact.ts
  packages/ai-native/src/browser/languages/tree-sitter/wasm-manager.ts
  packages/ai-native/src/node/index.ts
  packages/core-common/src/ai-native/reporter.ts
  yarn.lock
Labels: 🎨 feature

#3486 feat: cherry-pick agent update from main branch
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat.feature.registry.ts
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/index.ts
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/extension/src/common/sumi/chat-agents.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/types/sumi.d.ts
Labels: 🎨 feature

#3485 feat: support ai rename
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/merge-conflict/cache-conflicts.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/ai-native/src/browser/merge-conflict/types.ts
  packages/ai-native/src/browser/prompts/rename-prompt.ts
  packages/ai-native/src/browser/rename/rename.feature.registry.ts
  packages/ai-native/src/browser/rename/rename.service.ts
  packages/ai-native/src/browser/types.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-common/src/types/ai-native.ts
  packages/editor/src/browser/monaco-contrib/callHierarchy/callHierarchy.service.ts
  packages/monaco/src/browser/monaco-api/languages.ts
  packages/monaco/src/common/types.ts
  packages/startup/entry/sample-modules/ai-native.contribution.ts
Labels: 🎨 feature

#3493 feat: set default welcome message
  packages/ai-native/src/browser/ai-chat.view.tsx
Labels: 🎨 feature

#3489 fix: hide editor readonly popup on output view
  packages/output/src/browser/output.service.ts
Labels: 🐞 bug

#3477 fix: restore resource missing editor open types menu
  packages/editor/src/browser/menu/open-type-menu.contribution.ts
Labels: 🐞 bug

#3490 feat: support ai layout renderer
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/layout/ai-layout.tsx
  packages/ai-native/src/browser/layout/layout-config.ts
  packages/ai-native/src/browser/layout/menu-bar/menu-bar.view.tsx
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/ai-native/src/common/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/main-layout/__tests__/browser/layout.service.test.tsx
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🎨 feature, v3

#3494 feat: add rename event track and optimize ai actions
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.service.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-content-widget.tsx
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.service.ts
  packages/ai-native/src/node/index.ts
  packages/core-browser/src/monaco/index.ts
  packages/core-common/src/ai-native/reporter.ts
  packages/monaco/src/browser/ai-native/content-widget/index.tsx
  packages/monaco/src/browser/monaco.contribution.ts
  packages/monaco/src/browser/telemetry.service.ts
Labels: 🎨 feature

#3491 fix: show all types debug session output
  packages/debug/__tests__/browser/tree/debug-tree-node.define.test.ts
  packages/debug/__tests__/browser/view/console/debug-console-tree.model.service.test.ts
  packages/debug/__tests__/browser/view/variables/debug-variables-tree.model.service.test.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/tree/debug-tree-node.define.ts
  packages/debug/src/browser/view/console/debug-console-session.ts
  packages/debug/src/browser/view/console/debug-console-tree.model.service.ts
Labels: 🐞 bug

#3472 fix: language config maybe not match its location
  packages/editor/src/browser/monaco-contrib/tokenizer/textmate.service.ts
Labels: 🐞 bug

#3495 style: improve ai native layout
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/layout/ai-layout.tsx
  packages/ai-native/src/browser/layout/layout.module.less
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/design/src/browser/layout/tabbar.view.tsx
  packages/design/src/browser/style/design.module.less
  packages/design/src/browser/style/global.less
Labels: 💄 style change

#3496 fix(dep): semver need an old version lru-cache
  .github/workflows/check.yml
  nixpacks.toml
  package.json
  packages/ai-native/src/browser/model/msg-stream-manager.ts
  packages/core-node/__tests__/helper.ts
  packages/extension/package.json
  packages/startup/package.json
  packages/startup/webpack.preview.config.js
  packages/terminal-next/package.json
  packages/terminal-next/src/browser/terminal.service.ts
  packages/types/package.json
  tools/cli-engine/package.json
  tools/dev-tool/package.json
  tools/dev-tool/src/server.ts
  tools/dev-tool/src/webpack.js
  tools/electron/package.json
  yarn.lock
Labels: 🐞 bug

#3503 style: improve tabbar icon style
  packages/design/src/browser/style/design.module.less
  packages/main-layout/src/browser/tabbar/styles.module.less
  packages/startup/package.json
Labels: 💄 style change

#3504 fix: monaco keybinding registry
  packages/monaco/src/browser/monaco.contribution.ts
Labels: 🐞 bug

#3413 feat: implement Tab APIs
  packages/editor/src/browser/merge-editor/merge-editor.provider.ts
  packages/editor/src/browser/types.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/extension/src/browser/vscode/api/main.thread.api.webview.ts
  packages/extension/src/browser/vscode/api/main.thread.editor-tabs.ts
  packages/extension/src/browser/vscode/contributes/customEditors.tsx
  packages/extension/src/common/vscode/editor-tabs.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/index.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.editor-tabs.ts
  packages/extension/src/hosted/api/vscode/ext.host.window.api.impl.ts
  packages/types/vscode/typings/vscode.editor.d.ts
  packages/utils/src/functional.ts
  packages/utils/src/types.ts
  packages/webview/src/browser/types.ts
  packages/webview/src/browser/webview.service.ts
Labels: 🎨 feature, v3

#3514 feat: add inline chat event track
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/core-common/src/types/ai-native/reporter.ts
Labels: 🎨 feature

#3520 fix: monaco hover widget styles
  packages/ai-native/src/browser/override/layout/override.less
Labels: 🐞 bug, 💄 style change

#3498 fix(electron): keep defaultWebPreferences field
  packages/core-electron-main/src/bootstrap/window.ts
Labels: 🐞 bug

#3499 feat: support custom chat render
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat.render.registry.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/Thinking.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/core-common/src/types/ai-native/index.ts
Labels: 🎨 feature, v3, AI

#3511 style: improve monaco hover widget style
  packages/core-browser/src/style/monaco-hover.less
  packages/core-browser/src/style/monaco-override.less
  packages/core-browser/src/style/override.less
Labels: 💄 style change

#3522 fix: diff editor missing dirty state indicator
  packages/collaboration/src/browser/collaboration.service.ts
  packages/debug/src/browser/editor/debug-breakpoint-zone-widget.tsx
  packages/editor/src/browser/diff/index.ts
  packages/editor/src/browser/resource.service.ts
  packages/editor/src/common/editor.ts
  packages/theme/src/browser/style.service.ts
  packages/theme/src/common/style.ts
Labels: 🐞 bug

#3523 feat: support slash command provider render api
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/chat/chat.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/components/SlashCustomRender.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/StreamReplyRender.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/utils.ts
  packages/ai-native/src/browser/types.ts
Labels: 🎨 feature

#3524 style: fix merge toolbar z-index
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 🐞 bug, 💄 style change

#3528 fix: chat input auto focus
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/SlashCustomRender.tsx
Labels: 🐞 bug

#3512 fix: show comfirm button when dialog buttons is undefined
  packages/comments/src/browser/comments-thread.ts
  packages/file-tree-next/src/browser/dialog/window-dialog.service.tsx
  packages/overlay/src/browser/dialog.contribution.ts
  packages/overlay/src/browser/dialog.service.ts
  packages/overlay/src/browser/dialog.view.tsx
  packages/overlay/src/common/index.ts
Labels: 🐞 bug

#3521 fix: diff editor missing dirty state indicator
  packages/editor/src/browser/diff/index.ts
  packages/editor/src/browser/resource.service.ts
Labels: 🐞 bug

#3533 fix: registerChatRender render error
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/types.ts
Labels: 🐞 bug

#3530 fix: more stable layout view restore process
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🐞 bug

#3501 fix: preferred formatter not work
  packages/core-browser/src/monaco/index.ts
  packages/editor/__tests__/browser/editor.feature.test.ts
  packages/editor/__tests__/browser/format.service.test.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/format/format.service.ts
  packages/editor/src/browser/format/formatter-selector.ts
  packages/editor/src/browser/format/formatterSelect.ts
  packages/editor/src/browser/preference/converter.ts
  packages/i18n/src/common/editor/en-US.ts
  packages/i18n/src/common/editor/zh-CN.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/monaco-api/index.ts
  packages/monaco/src/browser/monaco.contribution.ts
Labels: 🐞 bug

#3515 feat: allow config ext process restart policy
  packages/extension/__mocks__/extension.service.client.ts
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/node/extension.service.client.ts
  packages/extension/src/node/extension.service.ts
  packages/utils/src/async.ts
Labels: 🎨 feature

#3536 fix: inline chat reporter
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/inline-completions/completeProvider.ts
Labels: 🐞 bug

#3540 fix: agent chat custom render
  packages/ai-native/src/browser/components/ChatReply.tsx
Labels: 🐞 bug, AI

#3532 fix: debug hover no background
  packages/core-browser/src/style/monaco-override.less
  packages/debug/src/browser/editor/debug-hover.module.less
  packages/debug/src/browser/view/variables/debug-variables.module.less
Labels: 🐞 bug

#3541 feat(ai): optimize code action
  packages/ai-native/__test__/browser/tree-sitter/index.test.ts
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/languages/parser.ts
  packages/ai-native/src/browser/languages/service.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/base.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/golang.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/index.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/java.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/javascript.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/javascriptreact.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/python.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/rust.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/typescript.ts
  packages/ai-native/src/browser/languages/tree-sitter/language-facts/typescriptreact.ts
  packages/ai-native/src/browser/languages/tree-sitter/wasm-manager.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/core-browser/src/monaco/index.ts
  packages/core-browser/src/style/icon/icon.ts
  packages/core-common/src/codicons.ts
  packages/core-common/src/theme.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/editor.less
  packages/editor/src/browser/light-bulb-widget/index.ts
  packages/monaco/package.json
  packages/monaco/src/browser/monaco.contribution.ts
  packages/theme/src/common/icons.ts
  packages/utils/src/types.ts
  yarn.lock
Labels: 🎨 feature

#3545 fix: message open duration should be ms
  packages/overlay/src/browser/message.service.tsx
Labels: 🐞 bug

#3544 fix: chat thinking render
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/StreamReplyRender.tsx
Labels: 🐞 bug

#3552 style: improve tabbar margin style
  packages/design/src/browser/style/design.module.less
Labels: 💄 style change

#3553 feat: support chat visible type preference
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.service.ts
  packages/ai-native/src/common/index.ts
  packages/core-browser/src/core-preferences.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#3542 fix: multiplexer rpc id can have slash
  packages/connection/__test__/common/multiplexer.test.ts
  packages/connection/__test__/node/index.test.ts
  packages/connection/src/common/rpc/multiplexer.ts
Labels: 🐞 bug

#3554 feat: support chat visible preference
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/core-preferences.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#3559 feat: support getHistoryMessages API
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/SlashCustomRender.tsx
  packages/ai-native/src/browser/components/StreamMsg.tsx
  packages/ai-native/src/browser/components/StreamReplyRender.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/utils.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/common/index.ts
Labels: 🎨 feature

#3560 feat(telemetry): add code actions and rename candidates event track
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.tsx
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/core-browser/src/core-preferences.ts
  packages/core-browser/src/monaco/index.ts
  packages/core-common/src/settings/ai-native.ts
  packages/core-common/src/types/ai-native/reporter.ts
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/__tests__/browser/extension-service/extension.worker.service.test.ts
  packages/extension/src/browser/vscode/api/main.thread.api.impl.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
  packages/monaco/src/browser/monaco.contribution.ts
  packages/monaco/src/browser/telemetry.service.ts
  packages/terminal-next/src/common/pty.ts
Labels: 🎨 feature

#3557 feat: support Dynamic DebugConfiguration Provider, add debug run toolbar
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/run/toolbar/run-toolbar.module.less
  packages/ai-native/src/browser/run/toolbar/run-toolbar.tsx
  packages/ai-native/src/common/index.ts
  packages/components/src/select/index.tsx
  packages/components/src/select/style.less
  packages/debug/__tests__/browser/debug-configuration-manager.test.ts
  packages/debug/__tests__/browser/view/configuration/debug-configuration.service.test.ts
  packages/debug/src/browser/components/floating-click-widget/index.module.less
  packages/debug/src/browser/components/floating-click-widget/index.tsx
  packages/debug/src/browser/debug-configuration-manager.ts
  packages/debug/src/browser/debug-contribution.ts
  packages/debug/src/browser/view/configuration/debug-configuration.module.less
  packages/debug/src/browser/view/configuration/debug-configuration.service.ts
  packages/debug/src/browser/view/configuration/debug-configuration.view.tsx
  packages/debug/src/common/commands.ts
  packages/debug/src/common/debug-configuration.ts
  packages/debug/src/common/debug-service.ts
  packages/debug/src/common/types.ts
  packages/extension/src/browser/extension.service.ts
  packages/extension/src/browser/vscode/api/debug/extension-debug-adapter-contribution.ts
  packages/extension/src/browser/vscode/api/debug/extension-debug-service.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/common/vscode/debug.ts
  packages/extension/src/hosted/api/vscode/debug/ext.host.debug.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/debug-configuration.contribution.ts
  packages/startup/entry/sample-modules/index.ts
Labels: 🎨 feature

#3566 fix: diagnostics api iterable fix
  packages/extension/src/hosted/api/vscode/language/diagnostics.ts
  packages/types/vscode/typings/vscode.language.d.ts
Labels: 🐞 bug

#3569 fix: design module styles
  packages/comments/src/browser/tree/comment-node.tsx
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/components/layout/box-panel.tsx
  packages/core-browser/src/design/design.style.service.ts
  packages/core-browser/src/design/types.ts
  packages/core-browser/src/utils/react-hooks.ts
  packages/debug/src/browser/view/configuration/debug-toolbar.view.tsx
  packages/debug/src/browser/view/console/debug-console-filter.view.tsx
  packages/debug/src/browser/view/console/debug-console.view.tsx
  packages/debug/src/browser/view/variables/debug-variables.view.tsx
  packages/debug/src/browser/view/watch/debug-watch.view.tsx
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/navigation.view.tsx
  packages/editor/src/browser/tab.view.tsx
  packages/extension-manager/src/browser/extension/index.tsx
  packages/extension/src/browser/components/extension-tree-view-node.tsx
  packages/file-tree-next/src/browser/dialog/file-dialog-node.tsx
  packages/file-tree-next/src/browser/file-tree-node.tsx
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/accordion/titlebar.view.tsx
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/markers/src/browser/markers-filter.view.tsx
  packages/markers/src/browser/tree/marker-node.tsx
  packages/opened-editor/src/browser/opened-editor-node.tsx
  packages/outline/src/browser/outline-node.tsx
  packages/quick-open/src/browser/quick-open.view.tsx
  packages/scm/src/browser/components/scm-resource-input.tsx
  packages/scm/src/browser/components/scm-resource-tree/scm-tree-node.view.tsx
  packages/search/src/browser/tree/search-node.tsx
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/terminal-next/src/browser/component/tab.view.tsx
Labels: 🐞 bug, 💄 style change

#3565 fix(diff-editor): add experimental sticky scroll option with defaults
  packages/components/src/modal/Modal.tsx
  packages/editor/src/browser/preference/converter.ts
  packages/editor/src/browser/preference/schema.ts
Labels: 🐞 bug

#3572 fix(diff-editor): optimize diff editor model caching and disposal handing
  packages/editor/src/browser/diff/compare.ts
  packages/editor/src/browser/diff/index.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/extension/src/browser/extension.contribution.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
Labels: 🐞 bug

#3573 fix: optimize decoration clearing logic in tree service
  packages/components/src/recycle-tree/basic/tree-service.ts
Labels: 🐞 bug

#3570 fix: require interceptor handle react error
  packages/extension/__tests__/browser/extension-service/__snapshots__/extension.service.test.ts.snap
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/extension/__tests__/common/__snapshots__/require-interceptor.test.ts.snap
  packages/extension/__tests__/common/require-interceptor.test.ts
  packages/extension/src/browser/extension-view.service.ts
  packages/extension/src/browser/require-interceptor.contribution.ts
Labels: 🐞 bug

#3558 fix: rpc protocol devtools capturer
  packages/addons/src/browser/chrome-devtools.contribution.ts
  packages/connection/__test__/common/rpc/utils.ts
  packages/connection/src/common/capturer.ts
  packages/connection/src/common/index.ts
  packages/connection/src/common/rpc-service/center.ts
  packages/connection/src/common/rpc-service/proxy/base.ts
  packages/connection/src/common/rpc-service/proxy/json.ts
  packages/connection/src/common/rpc-service/proxy/sumi.ts
  packages/connection/src/common/rpc/connection.ts
  packages/connection/src/common/ws-channel.ts
  packages/core-browser/src/progress/progress.service.tsx
  packages/core-common/src/devtools/index.ts
  packages/extension-manager/src/browser/vsx-extension.service.ts
  packages/extension/__tests__/browser/main.thread.editor.test.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.task.test.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/editor.ts
  packages/extension/src/common/vscode/scm.ts
  packages/extension/src/hosted/api/vscode/editor/editor.host.ts
  packages/theme/src/browser/icon.service.ts
  packages/utils/src/decorators.ts
  packages/utils/src/event.ts
  packages/utils/src/functional.ts
  packages/utils/src/uuid.ts
Labels: 🐞 bug

#3582 feat: support set language id for output channel
  packages/extension/__tests__/browser/main.thread.output.test.ts
  packages/extension/src/browser/vscode/api/main.thread.api.impl.ts
  packages/extension/src/browser/vscode/api/main.thread.output.ts
  packages/extension/src/common/vscode/window.ts
  packages/extension/src/hosted/api/vscode/ext.host.output.ts
  packages/extension/src/hosted/api/vscode/ext.host.window.api.impl.ts
  packages/output/src/browser/output.channel.ts
  packages/types/vscode/typings/vscode.editor.d.ts
  packages/types/vscode/typings/vscode.window.d.ts
Labels: 🎨 feature

#3568 feat: chat input custom render
  packages/ai-native/src/browser/chat/chat.render.registry.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/types.ts
Labels: 🎨 feature

#3581 feat: render ext icon in menubar
  packages/extension/src/browser/sumi/contributes/menubar.ts
Labels: 🎨 feature

#3583 feat(multiplexer): use slash to separate rpc id
  packages/connection/__test__/common/multiplexer.test.ts
  packages/connection/__test__/node/index.test.ts
  packages/connection/__test__/node/multiplexer.test.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/extension/src/hosted/ext.host.ts
Labels: 🎨 feature

#3584 feat: early preference support configure prefix
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/common/common.define.ts
  packages/core-browser/src/preferences/early-preferences.ts
  packages/core-browser/src/preferences/preference-provider.ts
  packages/core-common/src/preferences/preference-scope.ts
  packages/startup/entry/web/render-app.tsx
  packages/storage/__tests__/browser/storage.service.test.ts
  packages/storage/src/browser/storage.ts
  packages/terminal-next/src/browser/terminal.restore.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/browser/workbench.theme.service.ts
  packages/theme/src/common/theme.service.ts
Labels: 🎨 feature

#3589 fix: fixes electron header rendering error in full screen mode
  packages/electron-basic/src/browser/header/header.view.tsx
Labels: 🐞 bug

#3592 fix: service registry cannot register transpiled class
  packages/connection/__test__/common/rpc/registry.test.ts
  packages/connection/src/common/rpc-service/registry.ts
Labels: 🐞 bug

#3594 fix: correct status bar item background color mapping
  packages/extension/src/common/vscode/window.ts
  packages/extension/src/hosted/api/vscode/ext.host.statusbar.ts
Labels: 🐞 bug

#3596 refactor: use rc-tooltip to improve popover UX
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/components/package.json
  packages/components/src/popover/index.tsx
  packages/components/src/popover/styles.less
  packages/debug/src/browser/view/configuration/debug-configuration.view.tsx
  packages/design/src/browser/style/global.less
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/search/src/browser/search.module.less
  packages/search/src/browser/search.rules.widget.tsx
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/status-bar/src/browser/status-bar.module.less
  yarn.lock
Labels: ⚙️ refactor

#3601 fix: fix menu position
  packages/design/src/browser/menu-bar/menu-bar.view.tsx
Labels: 🐞 bug

#3597 fix: design module register menubar
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/layout/layout-config.ts
  packages/components/src/dialog/index.tsx
  packages/core-browser/src/components/ai-native/enhanceIcon/index.tsx
  packages/core-browser/src/layout/layout.ts
  packages/core-browser/src/style/monaco-override.less
  packages/debug/src/browser/components/floating-click-widget/index.tsx
  packages/debug/src/browser/editor/debug-hover.module.less
  packages/debug/src/browser/view/variables/debug-variables.module.less
  packages/design/src/browser/design.contribution.ts
  packages/design/src/browser/layout/layout-config.ts
  packages/design/src/browser/menu-bar/menu-bar.view.tsx
  packages/design/src/browser/style/design.module.less
  packages/design/src/browser/style/images/design-background-dark.png
  packages/design/src/browser/style/images/design-background-light.png
  packages/design/src/browser/theme/default-theme.ts
  packages/design/src/browser/theme/light-theme.ts
Labels: 🐞 bug

#3600 feat: adapt to the latest version of python extension
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/env/envApiFactory.ts
  packages/extension/src/hosted/api/vscode/env/ext.host.env.ts
  packages/extension/src/hosted/api/vscode/env/telemetry-ext.ts
  packages/extension/src/hosted/api/vscode/ext.host.file-system.ts
  packages/extension/src/hosted/api/vscode/ext.host.window.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.env.d.ts
  packages/types/vscode/typings/vscode.proposed.env.d.ts
  packages/types/vscode/typings/vscode.proposed.terminalDataWriteEvent.d.ts
Labels: 🎨 feature

#3598 feat: support codicon transform on popover markdown content
  packages/components/src/markdown/render.tsx
  packages/components/src/markdown/styles.less
  packages/components/src/popover/index.tsx
  packages/components/src/popover/styles.less
  packages/components/src/style/base.less
  packages/core-browser/src/design/rule.ts
  packages/core-browser/src/markdown/index.tsx
  packages/core-browser/src/utils/label.tsx
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/theme/src/common/rule.ts
Labels: 🎨 feature

#3585 feat: optimize merge conflict
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/ai-native/src/browser/merge-conflict/override-resolve-result-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/ai-native/src/common/prompts/merge-conflict-prompt.ts
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/components/actions/index.tsx
  packages/core-browser/src/components/ai-native/inline-chat/result.tsx
  packages/core-common/src/commands/git.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/editor/src/browser/doc-model/editor-document-model-service.ts
  packages/editor/src/browser/doc-model/types.ts
  packages/editor/src/browser/editor-collection.service.ts
  packages/editor/src/browser/editor-electron.contribution.ts
  packages/editor/src/browser/editor.decoration.service.ts
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/hooks/useEditor.ts
  packages/editor/src/browser/hooks/useInMergeChanges.ts
  packages/editor/src/browser/merge-conflict/conflict-parser.ts
  packages/editor/src/browser/merge-conflict/index.ts
  packages/editor/src/browser/merge-conflict/types.ts
  packages/editor/src/browser/merge-editor/MergeEditorFloatComponents.tsx
  packages/editor/src/browser/merge-editor/merge-editor.module.less
  packages/editor/src/browser/merge-editor/merge-editor.provider.ts
  packages/editor/src/common/editor.ts
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/merge-conflicts/en-US.lang.ts
  packages/i18n/src/common/merge-conflicts/zh-CN.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.service.ts
  packages/monaco/src/browser/contrib/merge-editor/mapping-manager.store.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/model/document-mapping.ts
  packages/monaco/src/browser/contrib/merge-editor/model/inner-range.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/utils.ts
  packages/monaco/src/browser/contrib/merge-editor/view/actions-manager.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/currentCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/incomingCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/grid.tsx
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/facotry.ts
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/stop-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/widget/types.ts
  packages/monaco/src/common/base.ts
  packages/scm/src/browser/dirty-diff/index.ts
  packages/scm/src/browser/scm-model.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/web/render-app.tsx
  packages/utils/src/functional.ts
  packages/utils/src/lru-map.ts
  packages/utils/src/map.ts
  scripts/build.ts
Labels: 🎨 feature

#3607 style: adjust markdown styles for better readability
  packages/components/src/markdown/styles.less
  packages/components/src/popover/styles.less
Labels: 💄 style change
