Repository opensumi/core, pull requests merged in 2024-02, with the labels that each got.

#3332 fix: ai native merge conflict
  packages/ai-native/src/browser/merge-conflict/cache-conflicts.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/ai-native/src/browser/merge-conflict/override-resolve-result-widget.tsx
  packages/editor/src/browser/editor.module.less
  packages/monaco/src/browser/ai-native/content-widget/index.tsx
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
Labels: 🐞 bug, 🎨 feature

#3333 fix: update theme style
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/ai-chat.view.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/ai-native/src/browser/override/theme/light-theme.ts
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/theme/src/common/color-tokens/ai-native.ts
  packages/theme/src/common/color-tokens/custom/statusbar.ts
Labels: 🐞 bug, 💄 style change

#3334 fix: change tree style
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/components/src/recycle-tree/basic/index.tsx
  packages/components/src/recycle-tree/basic/types.ts
Labels: 🐞 bug, 💄 style change

#3335 fix: update style by light theme
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/override.module.less
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/ai-native/src/browser/override/theme/light-theme.ts
Labels: 🐞 bug, 💄 style change

#3337 fix: resolve conflict report
  packages/ai-native/src/browser/ai-reporter.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/core-browser/src/ai-native/conflict-report.service.ts
  packages/core-browser/src/ai-native/reporter.ts
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
  packages/monaco/src/browser/contrib/merge-editor/merge-editor.service.ts
  packages/monaco/src/browser/contrib/merge-editor/types.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/baseCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/editors/resultCodeEditor.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
Labels: 🐞 bug

#3338 fix: improve split panel initialize
  packages/core-browser/src/components/layout/split-panel.service.ts
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/main-layout/src/browser/accordion/accordion.service.ts
Labels: 🐞 bug

#3341 fix: update sample questions when extension dispose
  packages/ai-native/src/browser/ai-chat.view.tsx
Labels: 🐞 bug

#3346 fix: electron cannot start
  packages/components/webpack.config.js
  packages/connection/package.json
  packages/connection/src/common/fury-extends/shared.ts
  packages/core-browser/src/style/codicons/README.md
  packages/core-browser/src/style/icon/icon.ts
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-excutable-resolver.ts
  packages/extension/src/hosted/api/vscode/ext.host.extensions.ts
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/worker.host-preload.ts
  scripts/start-electron.ts
  tools/cli-engine/configs/webpack.config.browser.js
  tools/dev-tool/src/webpack.js
  tools/electron/build/webpack.browser.config.js
  tools/electron/build/webpack.extension-host.config.js
  tools/electron/build/webpack.main.config.js
  tools/electron/build/webpack.node.config.js
  tools/electron/build/webpack.webview.config.js
  tools/electron/yarn.lock
  yarn.lock
Labels: 🐞 bug

#3347 fix: optimize chat tree style
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/components.module.less
Labels: 🐞 bug, 💄 style change

#3344 fix: layout view state logic and improve panel style
  packages/core-browser/src/components/resize/resize.tsx
  packages/core-browser/src/layout/layout-state.ts
  packages/core-browser/src/layout/layout.interface.ts
  packages/core-browser/src/services/storage-service.ts
  packages/core-common/src/browser-fs/ensure-dir.ts
  packages/main-layout/__tests__/browser/layout.service.test.tsx
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/accordion.view.tsx
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/tabbar-handler.ts
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/styles.module.less
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🐞 bug, 💄 style change

#3342 feat: support layout view size config
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/common/common.contribution.ts
  packages/core-browser/src/layout/constants.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/debug/src/browser/view/configuration/debug-toolbar.view.tsx
  packages/editor/src/browser/tab.view.tsx
  packages/electron-basic/src/browser/header/header.view.tsx
  packages/main-layout/src/browser/accordion/titlebar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/menu-bar/src/browser/menu-bar.view.tsx
  packages/scm/src/browser/scm-view-container.tsx
  packages/startup/entry/sample-modules/menu-bar/menu-bar.view.tsx
  packages/status-bar/src/browser/status-bar.view.tsx
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/testing/src/browser/components/testing.view.tsx
Labels: 🎨 feature, v3

#3349 feat: hide run component
  packages/ai-native/src/browser/override/layout/menu-bar/menu-bar.view.tsx
Labels: 🎨 feature

#3353 fix: only explain input message
  packages/ai-native/src/browser/ai-chat.service.ts
Labels: 🐞 bug

#3348 feat: unified connection with different backend
  packages/connection/__test__/common/server-handler.test.ts
  packages/connection/__test__/node/channel-handler.test.ts
  packages/connection/__test__/node/legacy.test.ts
  packages/connection/docs/ws-channel.md
  packages/connection/package.json
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/connection/drivers/message-port.ts
  packages/connection/src/common/connection/drivers/socket.ts
  packages/connection/src/common/connection/drivers/stream.ts
  packages/connection/src/common/index.ts
  packages/connection/src/common/rpc/multiplexer.ts
  packages/connection/src/common/rpcProtocol.ts
  packages/connection/src/common/server-handler.ts
  packages/connection/src/electron/channel-handler.ts
  packages/connection/src/electron/index.ts
  packages/connection/src/node/common-channel-handler.ts
  packages/core-browser/__tests__/bootstrap/connection.test.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/connection.ts
  packages/core-node/src/connection.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/node/extension.service.ts
  packages/startup/entry/web-lite/lite-module/extension/index.ts
  yarn.lock
Labels: 🎨 feature

#3358 fix: merge conflict prompt
  packages/ai-native/src/browser/merge-conflict/cache-conflicts.ts
  packages/ai-native/src/browser/merge-conflict/index.ts
Labels: 🐞 bug

#3361 fix: 3way merge result model save error
  packages/monaco/src/browser/contrib/merge-editor/merge-editor-widget.tsx
Labels: 🐞 bug

#3363 feat: add resolved decoration
  packages/ai-native/src/browser/merge-conflict/index.ts
  packages/monaco/src/browser/contrib/merge-editor/view/merge-editor.module.less
Labels: 🎨 feature

#3355 fix: update ai styles
  packages/ai-native/src/browser/ai-chat.module.less
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/override/layout/layout.module.less
  packages/ai-native/src/browser/override/layout/override.less
  packages/ai-native/src/browser/override/override.module.less
  packages/ai-native/src/browser/override/theme/default-theme.ts
  packages/ai-native/src/browser/override/theme/light-theme.ts
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
  packages/theme/src/common/color-tokens/ai-native.ts
Labels: 🐞 bug, 💄 style change

#3367 feat: debug console support ai debug popover
  configs/ts/tsconfig.base.json
  package.json
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/ai-native/src/browser/inline-chat-widget/inline-chat.feature.registry.ts
  packages/ai-native/src/browser/override/layout/tabbar.view.tsx
  packages/ai-native/src/browser/types.ts
  packages/components/src/popover/index.tsx
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/core-browser/src/components/ai-native/ai-action/index.tsx
  packages/core-browser/src/components/ai-native/index.ts
  packages/core-browser/src/components/ai-native/popover/index.tsx
  packages/core-common/src/types/ai-native.ts
  packages/debug/package.json
  packages/debug/src/browser/tree/debug-console-tree-node.define.tsx
  packages/debug/src/browser/view/console/debug-console-session.ts
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/console/debug-console.view.tsx
  yarn.lock
Labels: 🎨 feature

#3369 fix: comment thread update
  packages/comments/src/browser/comments-thread.ts
  packages/comments/src/common/index.ts
  packages/extension/src/browser/vscode/api/main.thread.comments.ts
Labels: 🐞 bug

#3366 refactor: remove mobx from preference panel
  packages/core-browser/src/preferences/settings.ts
  packages/core-browser/src/react-hooks/injectable-hooks.tsx
  packages/preferences/src/browser/preference-settings.service.ts
  packages/preferences/src/browser/preferences.view.tsx
Labels: ⚙️ refactor

#3360 feat: remove implicit renderer runtime check
  packages/connection/README.md
  packages/connection/__test__/browser/index.test.ts
  packages/connection/__test__/node/channel-handler.test.ts
  packages/connection/src/browser/ws-channel-handler.ts
  packages/connection/src/common/rpcProtocol.ts
  packages/core-browser/__tests__/bootstrap/connection.test.ts
  packages/core-browser/src/application/application.service.ts
  packages/core-browser/src/application/runtime/base-socket.ts
  packages/core-browser/src/application/runtime/browser/index.ts
  packages/core-browser/src/application/runtime/browser/inner-providers-browser.ts
  packages/core-browser/src/application/runtime/browser/socket.ts
  packages/core-browser/src/application/runtime/constants.ts
  packages/core-browser/src/application/runtime/electron-renderer/index.ts
  packages/core-browser/src/application/runtime/electron-renderer/inner-providers-electron.ts
  packages/core-browser/src/application/runtime/electron-renderer/socket.ts
  packages/core-browser/src/application/runtime/index.ts
  packages/core-browser/src/application/runtime/types.ts
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/bootstrap/connection.ts
  packages/core-browser/src/bootstrap/inner-providers.ts
  packages/core-browser/src/utils/electron.ts
  packages/core-browser/src/utils/env.ts
  packages/core-browser/src/utils/index.ts
  packages/core-common/src/di-helper/domain-helper.ts
  packages/core-common/src/module.ts
  packages/core-common/src/types/application.ts
  packages/core-electron-main/src/types.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/electron-basic/__tests__/header.test.ts
  packages/electron-basic/src/browser/header/header.service.ts
  packages/extension-storage/src/browser/index.ts
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-excutable-resolver.ts
  packages/extension/src/hosted/api/vscode/ext.host.extensions.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/worker.host-preload.ts
  packages/extension/src/node/extension.service.ts
  packages/file-tree-next/src/browser/index.ts
  packages/terminal-next/__tests__/browser/inject.ts
  packages/terminal-next/__tests__/browser/terminal.service.test.ts
  packages/utils/src/os.ts
  packages/utils/src/process.ts
  packages/workspace/src/browser/index.ts
  scripts/fn/create-package.ts
Labels: 🎨 feature

#3256 feat: product icon theme contributionPoint
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/core-browser/src/core-preferences.ts
  packages/core-browser/src/quick-open/index.ts
  packages/core-browser/src/style/icon/index.less
  packages/core-common/src/codicons.ts
  packages/core-common/src/json-schema.ts
  packages/core-common/src/settings/general.ts
  packages/core-common/src/theme.ts
  packages/extension-manager/src/browser/vsx-extension.service.ts
  packages/extension/src/browser/shadowRoot.tsx
  packages/extension/src/browser/vscode/contributes/icon.ts
  packages/extension/src/browser/vscode/contributes/index.ts
  packages/extension/src/browser/vscode/contributes/language.ts
  packages/extension/src/browser/vscode/contributes/productIconTheme.ts
  packages/extension/src/common/vscode/extension.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preference-settings.service.ts
  packages/startup/entry/web-lite/app.tsx
  packages/startup/entry/web/render-app.tsx
  packages/theme/__tests__/browser/product-icon.service.test.ts
  packages/theme/src/browser/icon-theme-data.ts
  packages/theme/src/browser/icon-theme-store.ts
  packages/theme/src/browser/icon.service.ts
  packages/theme/src/browser/index.ts
  packages/theme/src/browser/product-icon-theme-data.ts
  packages/theme/src/browser/product-icon-theme-store.ts
  packages/theme/src/browser/product-icon.service.ts
  packages/theme/src/browser/theme.contribution.ts
  packages/theme/src/browser/workbench.theme.service.ts
  packages/theme/src/common/icon-registry.ts
  packages/theme/src/common/icons.ts
  packages/theme/src/common/theme.service.ts
Labels: 🎨 feature, v3

#3371 feat:  adjust ai action position in debug console
  packages/ai-native/src/browser/inline-chat-widget/inline-chat-controller.tsx
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/console/debug-console.view.tsx
Labels: 🎨 feature

#3368 chore: initialization ai native module
  configs/ts/references/tsconfig.ai-native.json
  configs/ts/tsconfig.build.json
  configs/ts/tsconfig.resolve.json
  packages/ai-native/package.json
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/node/index.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/ai-native/index.ts
  packages/core-browser/src/index.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-common/src/types/ai-native.ts
  packages/core-common/src/types/index.ts
  packages/core-node/src/ai-native/base-back.service.ts
  packages/core-node/src/ai-native/index.ts
  packages/core-node/src/index.ts
  yarn.lock
Labels: v3, AI
