Repository opensumi/core, pull requests merged in 2024-12, with the labels that each got.

#4198 feat: empty implement treeview support treeItem.checkboxstate
  packages/extension/src/hosted/api/vscode/ext.host.treeview.ts
  packages/types/vscode/typings/vscode.d.ts
Labels: 🎨 feature

#4200 feat: remove alipay cloudrun marketplace
  configs/alipay-cloud-extensions.json
  package.json
  packages/core-common/src/const/application.ts
  packages/core-node/src/bootstrap/app.ts
  packages/extension-manager/src/common/index.ts
  packages/extension-manager/src/node/index.ts
  packages/extension-manager/src/node/vsx-extension.service.ts
  scripts/download.js
  tools/cli-engine/src/node/server.ts
  tools/electron/src/node/server.ts
Labels: 🎨 feature

#4205 fix: comments thread cannot be closed
  packages/comments/src/browser/comments-thread.ts
  packages/comments/src/browser/comments-zone.view.tsx
Labels: 🐞 bug

#4206 feat: empty impl VSCode TestCoverage API
  packages/extension/src/browser/vscode/api/main.thread.tests.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/tests.ts
  packages/extension/src/hosted/api/vscode/ext.host.tests.ts
  packages/testing/src/common/testCollection.ts
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🎨 feature

#4210 feat: empty impl VSCode TerminalShellIntegration API
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/ext.host.terminal.ts
  packages/extension/src/hosted/api/vscode/ext.host.window.api.impl.ts
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.window.d.ts
Labels: 🎨 feature

#4190 feat: fix git branch input box flashing
  packages/quick-open/src/browser/quick-open.widget.tsx
Labels: 🐞 bug, 🎨 feature

#4213 feat: support VSCode API: DocumentDropEdit
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.proposed.dropMetadata.d.ts
Labels: 🎨 feature

#4215 feat: support TestRunProfile.onDidChangeDefault
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🎨 feature

#4214 feat: support treeview treeItem.checkboxstate
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/components/src/recycle-tree/types/tree-node.ts
  packages/extension/src/browser/components/extension-tree-view-node.tsx
  packages/extension/src/browser/components/extension-tree-view.tsx
  packages/extension/src/browser/vscode/api/main.thread.treeview.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.model.service.ts
  packages/extension/src/browser/vscode/api/tree-view/tree-view.node.defined.ts
  packages/extension/src/common/vscode/treeview.ts
  packages/extension/src/hosted/api/vscode/ext.host.treeview.ts
Labels: 🎨 feature

#4216 feat: support VSCode API: TextEditorLineNumbersStyle.Interval
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/types/sumi-worker/worker.editor.d.ts
  packages/types/vscode/typings/vscode.editor.d.ts
Labels: 🎨 feature

#4223 feat: support VSCode API: env.onDidChangeShell
  packages/extension/src/browser/vscode/api/main.thread.terminal.ts
  packages/extension/src/common/vscode/terminal.ts
  packages/extension/src/hosted/api/vscode/env/envApiFactory.ts
  packages/extension/src/hosted/api/vscode/ext.host.terminal.ts
  packages/terminal-next/__tests__/browser/mock.service.ts
  packages/terminal-next/src/browser/terminal.profile.ts
  packages/terminal-next/src/common/profile.ts
  packages/types/vscode/typings/vscode.env.d.ts
Labels: 🎨 feature

#4212 fix: rename log service dispose
  packages/logs-core/__tests__/browser/log.service.test.ts
  packages/logs-core/src/browser/log.service.ts
  packages/logs-core/src/common/log-core.ts
  packages/logs-core/src/node/log.service.ts
  tools/dev-tool/src/injector-helper.ts
Labels: 🐞 bug

#4225 feat: empty impl VSCode DebugThread and DebugStackFrame debug
  packages/extension/src/hosted/api/vscode/debug/ext.host.debug.ts
  packages/types/vscode/typings/vscode.debug.d.ts
Labels: 🎨 feature

#4226 feat: support VSCode API: createTelemetryLogger.logUsage、createTeleme…
  packages/core-common/src/types/index.ts
  packages/core-common/src/types/telemetry.ts
  packages/extension/src/hosted/api/vscode/env/telemetry-ext.ts
Labels: 🎨 feature

#4229 fix: update light theme
  packages/monaco/src/browser/contrib/merge-editor/components/merge-actions/merge-actions.module.less
  packages/search/src/browser/search.module.less
Labels: 🐞 bug

#4199 feat: update vscode engine version to 1.88.1
  packages/core-common/src/const/application.ts
Labels: 🎨 feature

#4232 feat: empty impl VSCode TestRunRequest.preserveFocus API
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🎨 feature

#4228 fix: potential null ref when reloading components
  packages/core-browser/src/components/resize/resize.tsx
Labels: 🐞 bug

#4238 fix: immediately update with current component to handle initial badge
  packages/main-layout/src/browser/tabbar/bar.view.tsx
Labels: 🐞 bug

#4233 feat: support VSCode API: WindowState.active
  packages/extension/src/browser/vscode/api/main.thread.window-state.ts
  packages/extension/src/browser/vscode/api/window-activity/window-activity-timer.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/window.ts
  packages/extension/src/hosted/api/vscode/ext.host.window-state.ts
  packages/types/vscode/typings/vscode.d.ts
Labels: 🎨 feature

#4246 feat: update default extension
  configs/vscode-extensions.json
Labels: 🎨 feature

#4247 feat: support VSCode API: TestMessage.stackTrace
  packages/extension/src/common/vscode/converter.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/testing/src/common/testCollection.ts
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🎨 feature

#4248 feat: update vscode engine to 1.94.2
  packages/core-common/src/const/application.ts
Labels: 🎨 feature

#4251 fix: inline chat lower level than findwidget
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/core-browser/src/design/rule.ts
Labels: 🐞 bug

#4252 fix: debug console enter invalid
  packages/debug/src/browser/view/console/debug-console.contribution.ts
Labels: 🐞 bug

#4202 refactor: run file watcher in child process
  package.json
  packages/core-browser/src/core-preferences.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-common/src/log.ts
  packages/core-common/src/preferences/file-watch.ts
  packages/core-common/src/types/file-watch.ts
  packages/core-common/src/types/file.ts
  packages/core-common/src/types/reporter.ts
  packages/core-node/src/types.ts
  packages/debug/__tests__/browser/launch-preferences.test.ts
  packages/extension-storage/__tests__/browser/storage.test.ts
  packages/extension/__tests__/browser/main.thread.workspace.test.ts
  packages/extension/__tests__/node/extension.service.client.test.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/extension/src/hosted/extension-reporter.ts
  packages/file-service/__tests__/browser/file-service-client.test.ts
  packages/file-service/__tests__/node/file-node-watcher.test.ts
  packages/file-service/__tests__/node/file-service-watcher.test.ts
  packages/file-service/__tests__/node/index.test.ts
  packages/file-service/package.json
  packages/file-service/src/browser/file-service-client.ts
  packages/file-service/src/browser/file-service-contribution.ts
  packages/file-service/src/browser/file-service-provider-client.ts
  packages/file-service/src/common/file-service-client.ts
  packages/file-service/src/common/files.ts
  packages/file-service/src/common/watcher.ts
  packages/file-service/src/node/disk-file-system.provider.ts
  packages/file-service/src/node/file-service.ts
  packages/file-service/src/node/hosted/recursive/file-service-watcher.ts
  packages/file-service/src/node/hosted/shared/file-type.ts
  packages/file-service/src/node/hosted/shared/index.ts
  packages/file-service/src/node/hosted/un-recursive/file-service-watcher.ts
  packages/file-service/src/node/hosted/watch-process-log.ts
  packages/file-service/src/node/hosted/watcher.host.service.ts
  packages/file-service/src/node/hosted/watcher.process.ts
  packages/file-service/src/node/index.ts
  packages/file-service/src/node/watcher-process-manager.ts
  packages/file-tree-next/__tests__/browser/file-tree.test.ts
  packages/keymaps/__tests__/browser/keymaps.service.test.ts
  packages/preferences/__tests__/browser/preference-service.test.ts
  packages/storage/__tests__/browser/index.test.ts
  packages/workspace/src/browser/workspace-service.ts
  tools/dev-tool/src/server.ts
Labels: ⚙️ refactor

#4257 chore: update comments、language、tests extension type
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/hosted/api/vscode/ext.host.comments.ts
  packages/types/vscode/typings/vscode.comments.d.ts
  packages/types/vscode/typings/vscode.language.d.ts
  packages/types/vscode/typings/vscode.tests.d.ts
Labels: 🐞 bug, 🎨 feature

#4254 feat: support editor action arguments
  packages/editor/src/browser/monaco-contrib/command/command.service.ts
  packages/editor/src/browser/preference/schema.ts
  packages/i18n/src/common/editor/en-US.ts
  packages/i18n/src/common/editor/zh-CN.ts
  packages/monaco/src/browser/monaco.context-key.service.ts
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🎨 feature

#4261 style: improve editor context menu style
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.contribution.ts
Labels: 💄 style change

#4264 fix: debug stop render
  packages/debug/src/browser/view/configuration/debug-toolbar.view.tsx
Labels: 🐞 bug

#4260 feat: improve file drop to upload ux
  packages/file-tree-next/src/browser/file-tree-node.tsx
  packages/file-tree-next/src/browser/services/file-tree-dnd.service.ts
Labels: 🐞 bug, 🎨 feature

#4265 feat: support toggle column selection
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/preference/converter.ts
  packages/editor/src/browser/preference/schema.ts
  packages/i18n/src/common/editor/en-US.ts
  packages/i18n/src/common/editor/zh-CN.ts
Labels: 🎨 feature

#4270 fix: adjust the scope of the diffEditor.hideUnchangedRegions.enabled configuration to the user level
  packages/editor/src/browser/diff/compare.ts
Labels: 🐞 bug

#4267 fix: fire quick pick accept after selection event
  packages/extension/src/hosted/api/vscode/ext.host.quickopen.ts
Labels: 🐞 bug

#4255 style: improve inline diff partial edit
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/theme/src/common/color-tokens/ai-native.ts
Labels: 💄 style change

#4263 style: prettify output log
  packages/extension/src/browser/vscode/api/main.thread.output.ts
  packages/extension/src/common/vscode/window.ts
  packages/extension/src/hosted/api/vscode/ext.host.output.ts
  packages/output/src/browser/output.channel.ts
Labels: 💄 style change

#4268 feat: design menubar toolbar actions
  packages/design/package.json
  packages/design/src/browser/menu-bar/menu-bar.view.tsx
  yarn.lock
Labels: 🎨 feature

#4280 fix: intelligent completion render unusual
  packages/ai-native/src/browser/contrib/intelligent-completions/diff-computer.ts
Labels: 🐞 bug

#4284 fix: provide default watch host
  packages/extension/src/node/extension.service.ts
  packages/file-service/src/node/watcher-process-manager.ts
  packages/utils/src/process.ts
Labels: 🐞 bug

#4276 feat: support activeEditorIsDirty contextKey
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🎨 feature

#4272 fix: quickopen auto focus previous active element
  packages/addons/src/browser/file-search.contribution.ts
  packages/quick-open/src/browser/prefix-quick-open.service.ts
  packages/quick-open/src/browser/quick-open.command.service.ts
  packages/quick-open/src/browser/quick-open.help.service.ts
  packages/quick-open/src/browser/quick-open.service.tsx
Labels: 🐞 bug

#4275 fix: add context check for debug mode
  packages/debug/src/browser/view/console/debug-console.service.ts
Labels: 🐞 bug
