Repository opensumi/core, pull requests merged in 2024-08, with the labels that each got.

#3902 fix: abort streaming inline diff
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
Labels: 🐞 bug

#3899 fix: edit tab scrollbar style problem
  packages/components/package.json
  packages/components/src/scrollbars/index.tsx
  packages/core-browser/package.json
  packages/core-common/package.json
  packages/output/package.json
  yarn.lock
Labels: 🐞 bug, 💄 style change

#3909 fix: update scrollbar component style
  packages/components/package.json
  yarn.lock
Labels: 🐞 bug, 💄 style change

#3913 fix: lock nsfw to 2.2.0
  packages/file-service/package.json
  yarn.lock
Labels: 🐞 bug

#3907 feat: support register tabbar right component
  packages/core-browser/src/layout/index.ts
  packages/core-browser/src/layout/render.tsx
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/tab.view.tsx
  packages/editor/src/common/components.ts
  packages/editor/src/common/index.ts
  packages/startup/entry/sample-modules/editor-empty-component.contribution.tsx
Labels: 🎨 feature

#3917 fix: update scrollbar component style
  packages/components/package.json
  yarn.lock
Labels: 🐞 bug, 💄 style change

#3923 fix: set cwd when terminal recovery
  packages/terminal-next/src/browser/terminal.client.ts
Labels: 🐞 bug

#3920 feat: support change editor tabbar height
  packages/core-browser/src/layout/constants.ts
  packages/design/src/browser/design.contribution.ts
  packages/design/src/browser/override/editor-tab.service.tsx
  packages/design/src/browser/style/design.module.less
Labels: 🎨 feature

#3924 feat: support configure inline diff style
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/editor/src/browser/navigation.module.less
  packages/editor/src/browser/navigation.view.tsx
  packages/theme/src/common/color-tokens/ai-native.ts
Labels: 🎨 feature, 💄 style change

#3906 feat: add 'clear result' button to search panel
  packages/search/src/browser/tree/search-tree.view.tsx
  packages/search/src/browser/tree/tree-model.service.ts
Labels: 🎨 feature

#3929 feat: chat slash command support isShortcut
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/common/index.ts
  packages/extension/src/hosted/api/sumi/ext.host.chat.impl.ts
Labels: 🎨 feature

#3925 fix: hide bottom tab panel if no container
  packages/ai-native/src/browser/layout/ai-layout.tsx
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/editor/src/browser/grid/grid.service.ts
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#3926 feat(enhance-icon): add accessibility support
  packages/core-browser/src/components/ai-native/enhanceIcon/index.tsx
Labels: 🎨 feature

#3937 feat(ai-native): improve accessibility support
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/core-browser/src/components/ai-native/interactive-input/index.tsx
  packages/core-browser/src/components/ai-native/thumbs/index.tsx
Labels: 🎨 feature

#3934 fix: rjsf version is inconsistent
  packages/debug/package.json
  yarn.lock
Labels: 🐞 bug

#3935 fix: capturer not work in web worker
  packages/connection/src/common/capturer.ts
  packages/extension/src/common/utils.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/extension-log2.ts
  packages/extension/src/node/extension.scanner.ts
  packages/utils/src/os.ts
Labels: 🐞 bug

#3940 fix: export tab input api in ext host
  configs/vscode-extensions.json
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
Labels: 🐞 bug

#3944 fix: inline input allow editor overflow
  packages/ai-native/src/browser/widget/inline-input/inline-input-widget.tsx
Labels: 🐞 bug

#3919 refactor: inline diff previewer snapshot
  packages/ai-native/src/browser/model/enhanceDecorationsCollection.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.handler.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview-stack.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: ⚙️ refactor

#3942 fix: improve inline chat position calculate
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
Labels: 🐞 bug

#3874 feat: support multi inline completion
  packages/ai-native/__test__/browser/contrib/intelligent-completions/diff-computer.test.ts
  packages/ai-native/__test__/browser/contrib/intelligent-completions/multi-line.decoration.test.ts
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/ai-editor.contribution.ts
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/contrib/inline-completions/completeProvider.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/competionModel.ts
  packages/ai-native/src/browser/contrib/inline-completions/model/inlineCompletionRequestTask.ts
  packages/ai-native/src/browser/contrib/inline-completions/promptCache.ts
  packages/ai-native/src/browser/contrib/inline-completions/service/ai-completions.service.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/diff-computer.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.feature.registry.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.handler.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/multi-line.decoration.ts
  packages/ai-native/src/browser/contrib/merge-conflict/merge-conflict.feature.registry.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-browser/src/contextkey/ai-native.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/core-node/src/ai-native/base-back.service.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
Labels: 🎨 feature

#3956 fix: platform detection after Node.js 21
  packages/terminal-next/src/common/preference.ts
  packages/utils/src/platform.ts
Labels: 🐞 bug

#3958 fix: electron reload not work
  packages/core-electron-main/src/bootstrap/window.ts
Labels: 🐞 bug

#3953 refactor: optimize editor tabbar scroll
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/components/package.json
  packages/components/src/popover/styles.less
  packages/core-browser/src/design/rule.ts
  packages/core-browser/src/index.ts
  packages/editor/src/browser/editor-scrollbar/index.module.less
  packages/editor/src/browser/editor-scrollbar/index.tsx
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
  packages/theme/src/common/rule.ts
  yarn.lock
Labels: ⚙️ refactor

#3957 fix: add keyboard focus and accessibility support for editor tabs and close buttons
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug

#3960 fix: right panel has two resize handle
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/layout/layout.module.less
  packages/core-browser/src/components/layout/split-panel.service.ts
  packages/core-browser/src/components/layout/split-panel.tsx
  packages/design/src/browser/style/design.module.less
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/main-layout/src/browser/tabbar/panel.view.tsx
Labels: 🐞 bug

#3961 fix: inline chat indent
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
Labels: 🐞 bug

#3954 fix: document status may out of sync
  packages/addons/__tests__/browser/file-search.contribution.test.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/editor/__tests__/browser/editor.feature.test.ts
  packages/editor/src/browser/doc-model/editor-document-model-service.ts
  packages/editor/src/browser/doc-model/editor-document-model.ts
  packages/editor/src/browser/doc-model/saveParticipants.ts
  packages/editor/src/browser/doc-model/types.ts
  packages/editor/src/browser/editor.contribution.ts
  packages/editor/src/browser/format/formatter-selector.ts
  packages/editor/src/browser/fs-resource/fs-resource.ts
  packages/editor/src/browser/hooks/useEditor.ts
  packages/editor/src/browser/merge-conflict/merge-conflict.model.ts
  packages/editor/src/browser/monaco-contrib/callHierarchy/callHierarchy.service.ts
  packages/editor/src/browser/monaco-contrib/typeHierarchy/typeHierarchy.service.ts
  packages/editor/src/browser/untitled-resource.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/extension/src/browser/vscode/api/main.thread.doc.ts
  packages/extension/src/browser/vscode/api/main.thread.workspace.ts
  packages/extension/src/common/vscode/doc.ts
  packages/extension/src/hosted/api/vscode/doc/doc-manager.host.ts
  packages/extension/src/hosted/api/vscode/doc/ext-data.host.ts
  packages/file-scheme/__tests__/browser/resource.test.ts
  packages/search/src/browser/replace.ts
  packages/search/src/browser/search.service.ts
  packages/search/src/browser/tree/search-tree.service.ts
  packages/search/src/browser/tree/tree-model.service.ts
  packages/workspace-edit/src/browser/refactor-preview.tsx
Labels: 🐞 bug

#3933 feat: support register external ext api
  packages/extension/__tests__/browser/main.thread.extensions.test.ts
  packages/extension/__tests__/hosted/api/vscode/ext.host.test.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/index.ts
  packages/extension/src/common/ext.process.ts
  packages/extension/src/common/main.thread.extender.ts
  packages/extension/src/common/sumi/index.ts
  packages/extension/src/hosted/api/sumi/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/debug/ext.host.debug.ts
  packages/extension/src/hosted/api/vscode/debug/extension-debug-adapter-starter.ts
  packages/extension/src/hosted/api/vscode/ext.host.api.impl.ts
  packages/extension/src/hosted/api/vscode/ext.host.command.ts
  packages/extension/src/hosted/ext.host.ts
  packages/extension/src/hosted/ext.process-base.ts
  packages/extension/src/hosted/extension-log2.ts
  packages/logs-core/src/node/log-manager.ts
Labels: 🎨 feature

#3967 style: fix editor tabbar style
  packages/core-browser/src/bootstrap/app.ts
  packages/design/src/browser/style/design.module.less
Labels: 🐞 bug, 💄 style change

#3970 style: fix editor tab style
  packages/editor/src/browser/editor-scrollbar/index.module.less
  packages/editor/src/browser/editor.module.less
  packages/editor/src/browser/tab.view.tsx
Labels: 🐞 bug, 💄 style change

#3969 fix: model leak
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/extension/src/browser/vscode/api/main.thread.language.ts
Labels: 🐞 bug

#3972 fix: listen previewer when change
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.handler.ts
Labels: 🐞 bug

#3966 fix: inline diff format indentation
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
Labels: 🐞 bug

#3979 fix: set _currentScope when update tabList in constructor
  packages/preferences/src/browser/preference-settings.service.ts
Labels: 🐞 bug

#3978 fix: event driven state
  packages/core-browser/src/react-hooks/injectable-hooks.tsx
  packages/core-browser/src/react-hooks/memorize-fn.ts
Labels: 🐞 bug

#3962 feat: support multi-line edits rewrite widget
  packages/ai-native/__test__/browser/contrib/intelligent-completions/diff-computer.test.ts
  packages/ai-native/__test__/browser/contrib/intelligent-completions/multi-line.decoration.test.ts
  packages/ai-native/src/browser/contextkey/ai-native.contextkey.service.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.handler.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/additions-deletions.decoration.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/diff-computer.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.handler.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.module.less
  packages/ai-native/src/browser/contrib/intelligent-completions/multi-line.decoration.ts
  packages/ai-native/src/browser/widget/rewrite/rewrite-widget.module.less
  packages/ai-native/src/browser/widget/rewrite/rewrite-widget.tsx
  packages/core-browser/src/contextkey/ai-native.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/theme/src/common/color-tokens/ai-native.ts
Labels: 🎨 feature

#3980 feat: support configure ext host spawn options
  packages/core-common/src/types/extension.ts
  packages/extension/src/browser/extension-node.service.ts
  packages/extension/src/browser/extension-worker.service.ts
  packages/extension/src/common/extension.service.ts
  packages/extension/src/common/extension.ts
  packages/extension/src/hosted/api/vscode/ext.host.output.ts
  packages/extension/src/node/extension.service.ts
  packages/startup/entry/sample-modules/index.ts
  packages/startup/entry/sample-modules/overrides/extension/extension-node.service.ts
  packages/startup/entry/web/render-app.tsx
Labels: 🎨 feature

#3977 refactor: organize dependencies
  .eslintignore
  .eslintrc.js
  package.json
  packages/addons/package.json
  packages/ai-native/package.json
  packages/comments/package.json
  packages/components/package.json
  packages/connection/package.json
  packages/core-browser/package.json
  packages/core-node/package.json
  packages/debug/package.json
  packages/design/package.json
  packages/explorer/package.json
  packages/extension/package.json
  packages/file-service/package.json
  packages/markdown/package.json
  packages/monaco/package.json
  packages/outline/package.json
  packages/overlay/package.json
  packages/preferences/package.json
  packages/remote-cli/package.json
  packages/startup/package.json
  packages/status-bar/package.json
  packages/task/package.json
  packages/terminal-next/package.json
  packages/testing/package.json
  packages/webview/package.json
  scripts/add-node.ts
  scripts/build.ts
  scripts/changelog/github.ts
  scripts/changelog/index.ts
  scripts/changelog/run.ts
  scripts/depcheck.ts
  scripts/dist-tag.ts
  scripts/download-iconfont.ts
  scripts/download.js
  scripts/eslint-rules/rules/classnames-import-rule.js
  scripts/fn/create-package.ts
  scripts/fn/module.ts
  scripts/generate-manifest-json.ts
  scripts/generate-tsconfig-resolve.ts
  scripts/iteration-plan.ts
  scripts/jest/runTest.ts
  scripts/manifest.ts
  scripts/pkg.ts
  scripts/publish.ts
  scripts/run-tests.ts
  scripts/run-ui-tests.ts
  scripts/start-electron.ts
  scripts/start.ts
  scripts/test/build.js
  scripts/watch.ts
  yarn.lock
Labels: ⚙️ refactor

#3983 feat(inline-diff): adjust data calculation for changed lines
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🎨 feature
