Repository opensumi/core, pull requests merged in 2025-03, with the labels that each got.

#4414 chore: fix typos in packages
  packages/addons/src/browser/chrome-devtools.contribution.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/matcher.ts
  packages/ai-native/src/browser/contrib/inline-completions/prompt/similarSnippets.ts
  packages/theme/src/common/color.ts
  packages/theme/src/common/semantic-tokens-registry.ts
  packages/theme/src/common/theme.service.ts
  packages/theme/src/common/themeCompatibility.ts
  packages/types/vscode/typings/vscode.comments.d.ts
  packages/types/vscode/typings/vscode.editor.d.ts
Labels: 🐞 bug

#4423 fix: code edits default previewer discard
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/default.ts
Labels: 🐞 bug

#4426 fix: mcp reconnect fix
  packages/ai-native/src/browser/ai-core.contribution.ts
Labels: 🐞 bug

#4418 fix: terminal cmd add command
  packages/ai-native/src/browser/mcp/tools/components/Terminal.tsx
  packages/core-browser/src/components/ai-native/interactive-input/index.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#4429 fix: system prompt not working
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/core-common/src/types/ai-native/index.ts
Labels: 🐞 bug

#4431 feat: optmize file search list UI
  packages/ai-native/src/browser/mcp/tools/components/ExpandableFileList.tsx
  packages/ai-native/src/browser/mcp/tools/components/SearchResult.tsx
  packages/ai-native/src/browser/mcp/tools/fileSearch.ts
  packages/ai-native/src/browser/mcp/tools/grepSearch.ts
  packages/ai-native/src/browser/mcp/tools/handlers/ListDir.ts
  packages/ai-native/src/browser/mcp/tools/listDir.ts
Labels: 🎨 feature

#4424 feat: support custom model id
  packages/ai-native/package.json
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/model.ts
  packages/ai-native/src/node/anthropic/anthropic-language-model.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/ai-native/src/node/deepseek/deepseek-language-model.ts
  packages/ai-native/src/node/openai-compatible/openai-compatible-language-model.ts
  packages/ai-native/src/node/openai/openai-language-model.ts
  packages/core-common/src/settings/ai-native.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/startup/entry/sample-modules/ai-native/ai.back.service.ts
  yarn.lock
Labels: 🎨 feature

#4432 fix: register editor side widget issue
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/core-common/src/types/ai-native/index.ts
Labels: 🐞 bug

#4434 fix: chat reporter issues
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/mcp-server.feature.registry.ts
  packages/core-browser/src/ai-native/ai-reporter.ts
  packages/core-common/src/types/ai-native/reporter.ts
  packages/startup/entry/sample-modules/ai-native/apply.service.ts
Labels: 🐞 bug

#4440 feat: add stop functionality to chat input and update related components
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/core-browser/src/components/ai-native/interactive-input/index.module.less
  packages/core-browser/src/components/ai-native/interactive-input/index.tsx
Labels: 🎨 feature

#4435 fix: issues about multiple file apply
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-manager.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.module.less
  packages/ai-native/src/common/types.ts
Labels: 🐞 bug

#4446 feat: provide default apply service
  packages/ai-native/src/browser/chat/apply.service.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/startup/entry/sample-modules/index.ts
Labels: 🎨 feature

#4442 fix: attach file snippets
  packages/ai-native/src/browser/context/llm-context.service.ts
Labels: 🐞 bug

#4447 feat: support SSE MCP Server and improve form style
  packages/ai-native/__test__/common/mcp-server-manager.test.ts
  packages/ai-native/__test__/node/mcp-server.sse.test.ts
  packages/ai-native/__test__/node/mcp-server.stdio.test.ts
  packages/ai-native/package.json
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/mcp/config/components/mcp-config.module.less
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.module.less
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.tsx
  packages/ai-native/src/browser/mcp/mcp-server-proxy.service.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/mcp-server-manager.ts
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/node/mcp-server-manager-impl.ts
  packages/ai-native/src/node/mcp-server.sse.ts
  packages/ai-native/src/node/mcp-server.stdio.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
  packages/components/src/modal/style.less
  packages/components/src/style/variable.less
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  yarn.lock
Labels: 🎨 feature, 💄 style change

#4454 feat: add user's intention in apply prompt
  packages/ai-native/src/browser/chat/apply.service.ts
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/handlers/EditFile.ts
Labels: 🎨 feature

#4459 fix: remove sumi- prefix to prevent model misspell
  packages/ai-native/src/common/index.ts
Labels: 🐞 bug

#4458 feat: support apply manager in chat view
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ApplyStatus.tsx
  packages/ai-native/src/browser/components/ChangeList.tsx
  packages/ai-native/src/browser/components/change-list.module.less
  packages/ai-native/src/browser/components/chat-history.module.less
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/components/EditFile.tsx
  packages/ai-native/src/browser/mcp/tools/components/ExpandableFileList.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-manager.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.service.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/types.ts
Labels: 🎨 feature

#4456 fix: edit instruction
  packages/ai-native/src/browser/chat/apply.service.ts
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/handlers/EditFile.ts
Labels: 🐞 bug

#4450 fix(debug-variables): try to fix incorrect undefined type checking
  packages/debug/src/browser/view/variables/debug-variables.view.tsx
Labels: 🐞 bug

#4468 feat: support builtin mcp tool order
  packages/ai-native/src/browser/mcp/mcp-server.feature.registry.ts
  packages/ai-native/src/browser/mcp/tools/createNewFileWithText.ts
  packages/ai-native/src/browser/mcp/tools/editFile.ts
  packages/ai-native/src/browser/mcp/tools/fileSearch.ts
  packages/ai-native/src/browser/mcp/tools/getDiagnosticsByPath.ts
  packages/ai-native/src/browser/mcp/tools/getOpenEditorFileDiagnostics.ts
  packages/ai-native/src/browser/mcp/tools/grepSearch.ts
  packages/ai-native/src/browser/mcp/tools/listDir.ts
  packages/ai-native/src/browser/mcp/tools/readFile.ts
  packages/ai-native/src/browser/mcp/tools/runTerminalCmd.ts
  packages/ai-native/src/browser/types.ts
Labels: 🎨 feature

#4457 fix: tools view
  packages/ai-native/package.json
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/ai-native/src/browser/mcp/tools/components/ExpandableFileList.tsx
  packages/ai-native/src/browser/mcp/tools/components/Terminal.tsx
  packages/ai-native/src/browser/mcp/tools/components/computeAnsiLogString.ts
  packages/ai-native/src/browser/mcp/tools/components/filterEraseMultipleLine.ts
  packages/ai-native/src/browser/mcp/tools/components/index.module.less
  packages/components/src/markdown-react/parse.tsx
  packages/connection/src/common/connection/drivers/frame-decoder.ts
  yarn.lock
Labels: 🐞 bug

#4469 fix: handle potential error when retrieving modified content during report
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
Labels: 🐞 bug

#4470 feat: support chat reasoning
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/components/ChatReply.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/node/base-language-model.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4455 feat: improve MCP Server edit UX and i18n
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4472 fix: increase timeout duration in RecursiveFileSystemWatcher to 60 se…
  packages/file-service/src/node/hosted/recursive/file-service-watcher.ts
Labels: 🐞 bug

#4474 fix: codeBlock version & make sure block file opened
  packages/ai-native/src/browser/mcp/base-apply.service.ts
Labels: 🐞 bug

#4475 style: improve MCP configuration page style
  packages/ai-native/src/browser/mcp/config/components/mcp-config.module.less
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.module.less
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 💄 style change

#4466 feat: support new chat mention input for MCP model
  package.json
  packages/ai-native/__test__/browser/chat/chat-agent.service.test.ts
  packages/ai-native/src/browser/chat/chat-agent.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatHistory.tsx
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/components/ChatThinking.tsx
  packages/ai-native/src/browser/components/change-list.module.less
  packages/ai-native/src/browser/components/chat-context/context-selector.tsx
  packages/ai-native/src/browser/components/chat-context/index.tsx
  packages/ai-native/src/browser/components/chat-context/style.module.less
  packages/ai-native/src/browser/components/chat-history.module.less
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/mention-input/mention-input.module.less
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/components/mention-input/mention-item.tsx
  packages/ai-native/src/browser/components/mention-input/mention-panel.tsx
  packages/ai-native/src/browser/components/mention-input/types.ts
  packages/ai-native/src/browser/context/llm-context.service.ts
  packages/ai-native/src/common/llm-context.ts
  packages/ai-native/src/common/prompts/context-prompt-provider.ts
  packages/ai-native/src/common/utils.ts
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/components/src/markdown-react/parse.tsx
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/design/src/browser/style/global.less
  packages/file-search/src/common/file-search.ts
  packages/file-search/src/node/file-search.service.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/theme/src/common/color-tokens/chatColors.ts
  packages/theme/src/common/color-tokens/index.ts
Labels: 🎨 feature

#4449 fix: delete files on multiple workspace
  packages/file-tree-next/src/browser/file-tree.service.ts
Labels: 🐞 bug

#4478 fix: showing all mcp server in the list
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/common/index.ts
Labels: 🐞 bug

#4476 feat: support add image to chat
  packages/ai-native/src/browser/chat/chat-manager.service.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/chat/chat.feature.registry.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/components/mention-input/types.ts
  packages/ai-native/src/browser/context/llm-context.service.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/llm-context.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/components/package.json
  packages/components/src/image/index.tsx
  packages/components/src/image/styles.less
  packages/components/src/index.ts
  packages/components/src/style/mixins.less
  packages/components/src/style/variable.less
  packages/core-browser/src/components/ai-native/enhanceIcon/styles.module.less
  packages/core-common/src/types/ai-native/index.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  yarn.lock
Labels: 🎨 feature

#4479 fix: paste document text to mention input and history navigator
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
Labels: 🐞 bug

#4483 feat: support upload multiple images
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/components/mention-input/types.ts
Labels: 🎨 feature

#4481 fix: mcp server running status
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
Labels: 🐞 bug

#4484 fix: dispose previewer without reject when edit pending file
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#4485 fix: start MCP command server failure
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.tsx
  packages/ai-native/src/browser/mcp/config/mcp-config.contribution.ts
  packages/ai-native/src/browser/mcp/mcp-server-proxy.service.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/node/mcp-server-manager-impl.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🐞 bug

#4486 feat: support sync MCP server
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/node/mcp-server-manager-impl.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4488 feat: add background command execution support in RunCommandHandler
  packages/ai-native/src/browser/mcp/tools/handlers/RunCommand.ts
Labels: 🎨 feature

#4444 fix: comment module upload function issue fixed
  packages/comments/src/browser/comments-textarea.view.tsx
  packages/comments/src/browser/comments.service.ts
Labels: 🐞 bug, 🎨 feature

#4489 fix: getModelInfo with providerOptions, pass args only when need
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/node/base-language-model.ts
  packages/ai-native/src/node/openai-compatible/openai-compatible-language-model.ts
Labels: 🐞 bug

#4492 fix: search folders on mention input
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/file-search/src/common/file-search.ts
  packages/file-search/src/node/file-search.service.ts
Labels: 🐞 bug

#4490 fix: toggle builtin MCP server error
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/common/mcp-server-manager.ts
Labels: 🐞 bug

#4487 fix: hide debug hover widget when esc pressed
  packages/debug/src/browser/editor/debug-model.ts
Labels: 🐞 bug

#4496 feat: support access function for custom fs provider
  packages/file-service/src/browser/file-service-client.ts
  packages/file-tree-next/src/browser/file-tree.tsx
Labels: 🎨 feature

#4498 fix: sumi extension restart logic
  packages/extension/src/browser/extension-instance-management.ts
  packages/extension/src/browser/extension.service.ts
Labels: 🐞 bug
