Repository opensumi/core, pull requests merged in 2025-04, with the labels that each got.

#4503 feat: statusBarService support extends addElement
  packages/core-browser/src/services/status-bar-service.ts
  packages/status-bar/src/browser/status-bar-item.view.tsx
  packages/status-bar/src/browser/status-bar.service.ts
Labels: 🎨 feature

#4506 fix: update default height in search panel container style
  packages/search/src/browser/search.view.tsx
Labels: 🐞 bug, 💄 style change

#4504 feat: support guess languageId by fie ext name
  packages/ai-native/src/browser/contrib/inline-completions/prompt/importedFiles.ts
  packages/core-browser/src/services/label-service.ts
  packages/core-common/src/index.ts
  packages/core-common/src/language.ts
  packages/file-scheme/__tests__/browser/contribution.test.ts
  packages/startup/entry/sample-modules/status-bar.contribution.ts
Labels: 🎨 feature

#4509 feat: support TerminalWordLink can be override
  packages/terminal-next/src/browser/links/link-manager.ts
Labels: 🎨 feature

#4508 fix: monaco caused by the failure of window.addEventListener('compositionstart', () => {})
  packages/core-browser/src/bootstrap/app.ts
  packages/core-browser/src/keybinding/keybinding.ts
  packages/monaco/src/browser/monaco.service.ts
Labels: 🐞 bug

#4507 fix: tabbar view can not be hidden
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🐞 bug

#4512 style: improve welcome button style
  configs/vscode-extensions.json
  packages/ai-native/src/browser/contrib/merge-conflict/index.ts
  packages/main-layout/src/browser/accordion/styles.module.less
  packages/opened-editor/src/browser/opened-editor-node.module.less
Labels: 💄 style change

#4515 fix: passthrough icon and color for extension terminal
  packages/extension/src/hosted/api/vscode/ext.host.terminal.ts
Labels: 🐞 bug

#4513 fix: disable model selector when session start
  packages/ai-native/src/browser/chat/chat-manager.service.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/components/mention-input/types.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/components/src/select/style.less
Labels: 🐞 bug, 🎨 feature

#4505 feat: mcp server expose client
  packages/ai-native/__test__/common/mcp-server-manager.test.ts
  packages/ai-native/__test__/node/mcp-server.sse.test.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/mcp-server-manager.ts
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/node/mcp-server-manager-impl.ts
  packages/ai-native/src/node/mcp-server.sse.ts
  packages/ai-native/src/node/mcp-server.stdio.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
Labels: 🎨 feature

#4514 feat: improve terminal link provider check logic
  packages/ai-native/src/browser/components/ChatHistory.tsx
  packages/ai-native/src/browser/components/chat-history.module.less
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/terminal-next/__tests__/browser/links/validated-local-link-provider.test.ts
  packages/terminal-next/src/browser/links/external-link-provider-adapter.ts
  packages/terminal-next/src/browser/links/link-manager.ts
  packages/terminal-next/src/browser/links/link.ts
  packages/terminal-next/src/browser/links/protocol-link-provider.ts
  packages/terminal-next/src/browser/links/validated-local-link-provider.ts
  packages/terminal-next/src/browser/links/word-link-provider.ts
Labels: 🎨 feature

#4517 feat: support recreate watcher process after reconnected
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/mcp/tools/fileSearch.ts
  packages/file-service/src/browser/file-service-client.ts
  packages/file-service/src/browser/file-service-contribution.ts
  packages/file-service/src/common/file-service-client.ts
  packages/file-service/src/node/watcher-process-manager.ts
  packages/file-tree-next/__tests__/browser/file-tree-contribution.test.ts
  packages/file-tree-next/__tests__/browser/file-tree.service.test.ts
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/file-tree-next/src/browser/file-tree.service.ts
Labels: 🎨 feature

#4519 feat: support code reference and reference bar
  configs/ts/tsconfig.build.json
  packages/ai-native/package.json
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/components/mention-input/mention-input.module.less
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/components/mention-input/types.ts
  packages/ai-native/src/browser/context/llm-context.service.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/llm-context.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  yarn.lock
Labels: 🎨 feature

#4521 feat: improve tool result display
  packages/ai-native/src/browser/components/ChatToolRender.tsx
  packages/ai-native/src/browser/components/ChatToolResult.module.less
  packages/ai-native/src/browser/components/ChatToolResult.tsx
Labels: 🎨 feature
