Repository opensumi/core, pull requests merged in 2025-01, with the labels that each got.

#4288 feat: update rc dependencies version
  packages/components/package.json
  yarn.lock
Labels: 🎨 feature

#4277 feat: support VSCode API: Workspace.save and Workspace.saveAs
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/editor/src/common/mocks/workbench-editor.service.ts
  packages/extension/__tests__/browser/extension-service/extension-service-mock-helper.ts
  packages/extension/src/browser/vscode/api/main.thread.workspace.ts
  packages/extension/src/common/vscode/workspace.ts
  packages/extension/src/hosted/api/vscode/ext.host.workspace.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.service.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/overlay/src/common/index.ts
  packages/types/vscode/typings/vscode.workspace.d.ts
Labels: 🎨 feature

#4290 fix: ai layout right tabbar render
  packages/ai-native/src/browser/layout/ai-layout.tsx
Labels: 🐞 bug

#4296 fix: tabbar dnd invalid
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
Labels: 🐞 bug

#4297 feat: Define the exported IconPath type
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.debug.d.ts
  packages/types/vscode/typings/vscode.proposed.timeline.d.ts
  packages/types/vscode/typings/vscode.quickpick.d.ts
Labels: 🎨 feature

#4295 chore: update WebviewPortMapping and proposed type
  packages/types/vscode.d.ts
  packages/types/vscode/typings-pending/vscode.d.ts
  packages/types/vscode/typings-pending/vscode.proposed.d.ts
  packages/types/vscode/typings/vscode.d.ts
  packages/types/vscode/typings/vscode.proposed.documentFiltersExclusive.d.ts
  packages/types/vscode/typings/vscode.proposed.workspaceTrust.d.ts
Labels: 🎨 feature

#4300 feat: terminal adds drag-and-drop
  packages/terminal-next/src/browser/component/tab.item.tsx
  packages/terminal-next/src/browser/component/tab.view.tsx
  packages/terminal-next/src/browser/terminal.view.ts
  packages/terminal-next/src/common/controller.ts
  packages/terminal-next/src/common/render.ts
Labels: 🎨 feature

#4304 fix(ai-native): use path.join for wasm file paths in WasmModuleManager
  packages/ai-native/src/browser/languages/tree-sitter/wasm-manager.ts
Labels: 🐞 bug

#4302 feat: improve terminal local link parser
  .github/workflows/e2e.yml
  packages/terminal-next/__tests__/browser/links/validated-local-link-provider.test.ts
  packages/terminal-next/src/browser/links/link-manager.ts
  packages/terminal-next/src/browser/links/validated-local-link-provider.ts
Labels: 🎨 feature

#4307 fix: remove all unexpected errors
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/WelcomeMsg.tsx
  packages/components/src/icon/iconfont/iconManager.ts
  packages/components/src/markdown-react/parse.tsx
  packages/components/src/utils/warning.ts
  packages/connection/src/common/rpc/connection.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/file-tree-next/src/browser/services/file-tree-api.service.ts
  packages/terminal-next/src/browser/component/resize.view.tsx
Labels: 🐞 bug

#4309 feat: show inline input after cmd+K is triggered
  packages/ai-native/src/browser/widget/inline-chat/inline-chat.service.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/core-browser/src/components/ai-native/interactive-input/index.module.less
  packages/core-browser/src/components/ai-native/interactive-input/index.tsx
Labels: 🎨 feature

#4306 feat: support search path on file dialog
  packages/components/src/modal/Modal.tsx
  packages/components/src/select/index.tsx
  packages/components/src/select/style.less
  packages/core-browser/src/toolbar/components/auto-complete.tsx
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
  packages/i18n/src/common/en-US.lang.ts
Labels: 🎨 feature

#4312 fix: debug toolbar is disappeared or session paused after debug session started
  packages/ai-native/src/browser/languages/tree-sitter/wasm-manager.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/configuration/debug-configuration.module.less
Labels: 🐞 bug

#4298 feat: support property ThemeColor id
  packages/extension/src/hosted/api/vscode/ext.host.statusbar.ts
  packages/terminal-next/src/common/pty.ts
  packages/types/vscode/typings/vscode.theme.d.ts
Labels: 🎨 feature

#4315 fix: debug breakpoint paused and updated current session handling
  packages/debug/src/browser/debug-progress.service.ts
  packages/debug/src/browser/debug-session-manager.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/editor/debug-model.ts
  packages/debug/src/browser/view/console/debug-console-session.ts
  packages/debug/src/browser/view/console/debug-console-tree.model.service.ts
  packages/debug/src/common/debug-session.ts
Labels: 🐞 bug

#4316 feat: support typing code edits source
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/typing.source.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/core-common/src/settings/ai-native.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4323 feat: support diff & git uri preview of notebook file
  packages/notebook/package.json
  packages/notebook/src/browser/libro-preview.view.tsx
  packages/notebook/src/browser/libro.contribution.tsx
  packages/notebook/src/browser/libro.protocol.ts
  packages/notebook/src/browser/libro/diff-view/components/hooks.tsx
  packages/notebook/src/browser/libro/diff-view/components/index.less
  packages/notebook/src/browser/libro/diff-view/components/libro-diff-all-cells-same-components.tsx
  packages/notebook/src/browser/libro/diff-view/components/libro-diff-changed-cell-components.tsx
  packages/notebook/src/browser/libro/diff-view/components/libro-diff-side-cell-components.tsx
  packages/notebook/src/browser/libro/diff-view/index.less
  packages/notebook/src/browser/libro/diff-view/index.ts
  packages/notebook/src/browser/libro/diff-view/libro-diff-color-registry.ts
  packages/notebook/src/browser/libro/diff-view/libro-diff-component.tsx
  packages/notebook/src/browser/libro/diff-view/libro-diff-protocol.ts
  packages/notebook/src/browser/libro/diff-view/libro-diff-view.tsx
  packages/notebook/src/browser/libro/diff-view/libro-version-manager.ts
  packages/notebook/src/browser/libro/diff-view/libro-version-view.tsx
  packages/notebook/src/browser/libro/diff-view/module.ts
  packages/notebook/src/browser/libro/libro-opensumi-content-contribution.ts
  yarn.lock
Labels: 🎨 feature

#4325 fix: retore files by order
  packages/editor/src/browser/workbench-editor.service.ts
Labels: 🐞 bug

#4329 feat: line-change of code edits adds change parameter
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/line-change.source.ts
Labels: 🎨 feature

#4327 feat: add word link provider
  packages/terminal-next/__tests__/browser/links/word-link-provider.test.ts
  packages/terminal-next/src/browser/links/link-manager.ts
  packages/terminal-next/src/browser/links/word-link-provider.ts
  packages/terminal-next/src/browser/terminal.hover.manager.ts
  packages/terminal-next/src/common/xterm-private.d.ts
Labels: 🎨 feature

#4324 fix: video preview style and static server
  packages/express-file-server/src/node/express-file-server.contribution.ts
  packages/file-scheme/src/browser/preview.view.tsx
  packages/file-scheme/src/browser/style.module.less
Labels: 🐞 bug, 💄 style change
