Repository opensumi/core, pull requests merged in 2025-05, with the labels that each got.

#4525 feat: improve python debug stack frames view
  packages/debug/src/browser/model/debug-stack-frame.ts
  packages/debug/src/browser/view/frames/debug-call-stack-frame.view.tsx
  packages/debug/src/browser/view/frames/debug-call-stack.module.less
  packages/debug/src/common/debug-frame.ts
Labels: 🎨 feature

#4527 feat: improve LLM context service enhance logic
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/context/llm-context.service.ts
  packages/ai-native/src/browser/mcp/config/mcp-config.service.ts
  packages/ai-native/src/browser/mcp/mcp-preferences-contribution.ts
  packages/ai-native/src/common/prompts/context-prompt-provider.ts
  packages/ai-native/src/node/mcp-server.stdio.ts
  packages/components/src/style/variable.less
  packages/core-browser/src/progress/progress-bar.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/quick-open/src/browser/quick-open.view.tsx
Labels: 🎨 feature

#4528 fix: remove TypeScript ignore comment and improve keytar import handling
  packages/core-node/src/common-module/credential.server.ts
Labels: 🐞 bug

#4533 feat: improve debug variables order and fix console log
  packages/components/src/dialog/index.tsx
  packages/components/src/notification/index.tsx
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/core-browser/src/progress/progress.service.tsx
  packages/core-common/src/types/message.ts
  packages/debug/src/browser/tree/debug-console-tree-node.define.tsx
  packages/debug/src/browser/tree/debug-tree-node.define.ts
  packages/debug/src/browser/view/console/debug-console-session.ts
  packages/debug/src/browser/view/console/debug-console.module.less
  packages/debug/src/browser/view/variables/debug-variables.view.tsx
  packages/extension/src/browser/vscode/api/main.thread.file-system-event.ts
  packages/monaco/src/browser/contrib/merge-editor/widget/resolve-result-widget.tsx
Labels: 🐞 bug, 🎨 feature

#4531 feat: support collapse/expand all files in multiDiffEditor
  packages/core-browser/src/common/common.command.ts
  packages/editor/src/browser/editor.view.tsx
  packages/editor/src/browser/multi-diff/multi-diff-editor.ts
  packages/editor/src/browser/multi-diff/multi-diff.contribution.ts
  packages/editor/src/browser/workbench-editor.service.ts
  packages/editor/src/common/editor.ts
  packages/editor/src/common/multi-diff.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4535 fix: read default model from preference
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
Labels: 🐞 bug

#4539 fix: nsfw logic
  packages/file-service/src/node/hosted/recursive/file-service-watcher.ts
Labels: 🐞 bug

#4536 fix: debug variables order
  packages/debug/src/browser/tree/debug-tree-node.define.ts
  packages/debug/src/browser/view/variables/debug-variables.view.tsx
Labels: 🐞 bug

#4538 fix: update diff-manager & apply action btns when need
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChangeList.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-manager.tsx
Labels: 🐞 bug

#4544 fix: block change lines may be undefined
  packages/ai-native/src/browser/chat/chat.view.tsx
Labels: 🐞 bug

#4546 fix: remove prefix of builtin tools
  packages/ai-native/src/common/utils.ts
Labels: 🐞 bug

#4547 feat: support auto scroll code block on chat
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/utils.ts
  packages/components/src/button/index.tsx
  packages/core-browser/src/components/actions/index.tsx
  packages/scm/src/browser/scm.module.less
Labels: 🎨 feature

#4548 refactor: upgrade markdown renderer from 4.x to 15.x
  packages/ai-native/src/browser/components/ChatEditor.tsx
  packages/ai-native/src/browser/components/ChatMarkdown.tsx
  packages/ai-native/src/browser/components/components.module.less
  packages/comments/src/browser/comments-body.tsx
  packages/components/package.json
  packages/components/src/markdown-react/parse.tsx
  packages/components/src/markdown/index.tsx
  packages/components/src/recycle-tree/prompt/PromptHandle.ts
  packages/components/src/utils/marked.ts
  packages/core-browser/package.json
  packages/core-browser/src/markdown/index.tsx
  packages/extension/src/common/vscode/converter.ts
  packages/markdown/src/browser/markdown-widget.tsx
  packages/markdown/src/browser/markdown.service.ts
  packages/markdown/src/common/index.ts
  packages/overlay/src/browser/message.service.tsx
  packages/preferences/src/browser/preferenceItem.view.tsx
  packages/testing/src/browser/outputPeek/test-tree-container.tsx
  packages/testing/src/browser/test-decorations.ts
  packages/testing/src/common/testingStates.ts
  scripts/depcheck.ts
  yarn.lock
Labels: ⚙️ refactor

#4550 feat: support apply none to skip apply
  packages/ai-native/src/browser/components/ApplyStatus.tsx
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/components/EditFile.tsx
  packages/ai-native/src/browser/mcp/tools/editFile.ts
Labels: 🐞 bug, 🎨 feature

#4551 style: improve terminal tab style
  packages/components/src/scrollbars/styles.less
  packages/design/src/browser/style/design.module.less
  packages/terminal-next/src/browser/component/tab.view.tsx
Labels: 💄 style change

#4553 feat: optimize thinking style
  packages/ai-native/src/browser/components/components.module.less
  packages/i18n/src/common/en-US.lang.ts
Labels: 🎨 feature, 💄 style change

#4554 fix: improve error handling for tool call arguments and results
  packages/ai-native/src/browser/chat/chat-model.ts
Labels: 🐞 bug

#4552 fix: watcher logic
  packages/file-service/src/node/hosted/recursive/file-service-watcher.ts
Labels: 🐞 bug

#4558 feat: support more tool name
  packages/ai-native/src/node/mcp-server.sse.ts
Labels: 🎨 feature

#4557 fix: trim mcp command and url
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.tsx
Labels: 🐞 bug

#4556 fix: scm tree node duplicated
  packages/extension/src/browser/vscode/api/main.thread.scm.ts
Labels: 🐞 bug

#4549 fix: terminal validated link logic
  packages/terminal-next/__tests__/browser/links/validated-local-link-provider.test.ts
  packages/terminal-next/src/browser/links/link-manager.ts
  packages/terminal-next/src/browser/links/link.ts
  packages/terminal-next/src/browser/links/validated-local-link-provider.ts
  packages/terminal-next/src/common/terminal-link.ts
Labels: 🐞 bug

#4569 fix: check command `enablement` when keybinding is triggered
  packages/core-browser/package.json
  packages/core-browser/src/keybinding/keybinding.ts
  yarn.lock
Labels: 🐞 bug

#4566 feat: add post-apply handler for lint error correction and improve code formatting
  packages/ai-native/src/browser/chat/apply.service.ts
  packages/ai-native/src/browser/mcp/base-apply.service.ts
Labels: 🎨 feature

#4571 refactor: optimize layout tabbar implementation & support drag & drop for all tabbar containers
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/layout/ai-layout.tsx
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/core-browser/src/common/common.command.ts
  packages/core-browser/src/components/layout/default-layout.tsx
  packages/core-browser/src/components/resize/resize.tsx
  packages/core-browser/src/dom/fastdom.ts
  packages/core-browser/src/layout/layout.interface.ts
  packages/core-browser/src/react-providers/config-provider.tsx
  packages/core-browser/src/react-providers/slot.tsx
  packages/design/src/browser/design.contribution.ts
  packages/design/src/browser/menu-bar/menu-bar.view.tsx
  packages/extension/src/browser/sumi-browser/contribution/tabbar.ts
  packages/extension/src/browser/vscode/contributes/view-containers.ts
  packages/file-tree-next/__tests__/browser/file-tree-model.service.test.ts
  packages/file-tree-next/__tests__/browser/file-tree.test.ts
  packages/file-tree-next/src/browser/services/file-tree-model.service.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/main-layout/README.md
  packages/main-layout/__tests__/browser/layout.service.test.tsx
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/accordion.view.tsx
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/accordion/styles.module.less
  packages/main-layout/src/browser/command.ts
  packages/main-layout/src/browser/default-config.ts
  packages/main-layout/src/browser/drop-area/drop-area.tsx
  packages/main-layout/src/browser/index.ts
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/main-layout.contribution.ts
  packages/main-layout/src/browser/tabbar/TABBAR_CONFIG_USAGE.md
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/browser/tabbar/renderer.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar-behavior-handler.ts
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
  packages/main-layout/src/common/main-layout.definition.ts
  packages/search/src/browser/search.contribution.ts
  packages/startup/entry/web-lite/app.tsx
  packages/startup/entry/web/render-app.tsx
  packages/terminal-next/src/browser/contribution/terminal.view.ts
  packages/testing/src/browser/test.service.ts
  tools/electron/src/browser/layout.ts
Labels: 🐞 bug, ⚙️ refactor
