Repository opensumi/core, pull requests merged in 2025-06, with the labels that each got.

#4573 feat(chat): add message summary provider to ChatFeatureRegistry
  packages/ai-native/src/browser/chat/chat.feature.registry.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/types.ts
  packages/extension/__tests__/browser/extension-service/extension.service.test.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#4580 fix: editor selection sync logic
  packages/extension/src/browser/vscode/api/main.thread.editor.ts
Labels: 🐞 bug

#4578 feat: support chat agent rules and context management
  packages/ai-native/package.json
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatMentionInput.tsx
  packages/ai-native/src/browser/components/ChatToolRender.module.less
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/components/mention-input/mention-input.module.less
  packages/ai-native/src/browser/components/mention-input/mention-input.tsx
  packages/ai-native/src/browser/components/mention-input/types.ts
  packages/ai-native/src/browser/context/llm-context.service.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/decoration/additions-deletions.decoration.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/diff-computer.ts
  packages/ai-native/src/browser/contrib/terminal/terminal.feature.registry.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/getDiagnosticsByPath.ts
  packages/ai-native/src/browser/mcp/tools/getOpenEditorFileDiagnostics.ts
  packages/ai-native/src/browser/mcp/tools/handlers/ListDir.ts
  packages/ai-native/src/browser/mcp/tools/runTerminalCmd.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/browser/rules/rules.contribution.ts
  packages/ai-native/src/browser/rules/rules.module.less
  packages/ai-native/src/browser/rules/rules.service.ts
  packages/ai-native/src/browser/rules/rules.view.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/ai-native/src/common/MDC_PARSER_README.md
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/llm-context.ts
  packages/ai-native/src/common/mdc-parser.ts
  packages/ai-native/src/common/prompts/context-prompt-provider.ts
  packages/ai-native/src/common/prompts/system-prompt.ts
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/components/src/icon/iconfont/iconMap.ts
  packages/components/src/icon/iconfont/iconfont.css
  packages/components/src/icon/iconfont/iconfont.eot
  packages/components/src/icon/iconfont/iconfont.html
  packages/components/src/icon/iconfont/iconfont.svg
  packages/components/src/icon/iconfont/iconfont.ttf
  packages/components/src/icon/iconfont/iconfont.woff
  packages/components/src/icon/iconfont/iconfont.woff2
  packages/components/src/scrollbars/index.tsx
  packages/components/src/scrollbars/styles.less
  packages/core-browser/src/style/icon/ide-iconfont.ts
  packages/core-common/src/settings/ai-native.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/debug/src/browser/view/frames/debug-call-stack.module.less
  packages/editor/src/browser/editor.view.tsx
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  yarn.lock
Labels: 🎨 feature

#4581 feat: Implement context compression and summary
  packages/ai-native/__test__/browser/chat/chat-model.test.ts
  packages/ai-native/src/browser/chat/chat-manager.service.ts
  packages/ai-native/src/browser/chat/chat-model.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/browser/types.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#4585 refactor: simplify summary generation logic in DefaultChatViewHeader
  packages/ai-native/src/browser/chat/chat.view.tsx
Labels: ⚙️ refactor

#4589 fix: rules requested by agent
  packages/ai-native/src/browser/context/llm-context.service.ts
Labels: 🐞 bug
