Repository opensumi/core, pull requests merged in 2025-02, with the labels that each got.

#4334 feat: enhance file search service to handle absolute paths and update…
  .github/workflows/e2e.yml
  packages/file-search/src/node/file-search.service.ts
Labels: 🎨 feature

#4337 feat: add styles for dialog content and update file dialog logic
  packages/design/src/browser/style/design.module.less
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
Labels: 🎨 feature, 💄 style change

#4341 fix: add method to check if doc is ignored
  packages/extension/src/browser/vscode/api/main.thread.doc.ts
Labels: 🐞 bug

#4338 fix: display debug hover view with correct size config
  packages/debug/src/browser/editor/debug-hover.view.tsx
Labels: 🐞 bug

#4342 style: improve search panel popover content style
  packages/search/src/browser/search.module.less
Labels: 💄 style change

#4343 style: improve inline input decoration
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.module.less
Labels: 💄 style change

#4345 feat: support inline input restore
  packages/ai-native/src/browser/widget/inline-chat/inline-content-widget.tsx
  packages/ai-native/src/browser/widget/inline-input/inline-input-widget.tsx
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/ai-native/src/browser/widget/inline-input/model.ts
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
Labels: 🎨 feature

#4346 fix: interactive input handle api adds selection parameter
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/core-browser/src/components/ai-native/ai-action/index.module.less
  packages/extension/src/browser/sumi/main.thread.chat-agents.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🐞 bug

#4349 fix: always dispose debug unexpected widget in the end
  packages/core-browser/src/components/ai-native/ai-action/index.tsx
  packages/core-browser/src/react-hooks/injectable-hooks.tsx
  packages/debug/__tests__/browser/editor/editor-hover-contribution.test.ts
  packages/debug/src/browser/debug-session.ts
  packages/debug/src/browser/editor/debug-editor-contribution.ts
Labels: 🐞 bug

#4355 fix: watcher dispose logic
  packages/core-common/src/types/file-watch.ts
  packages/file-service/src/node/hosted/recursive/file-service-watcher.ts
  packages/file-service/src/node/hosted/un-recursive/file-service-watcher.ts
  packages/file-service/src/node/hosted/watcher.host.service.ts
Labels: 🐞 bug

#4353 refactor: inline diff data layer & render layer
  packages/ai-native/src/browser/model/enhanceDecorationsCollection.ts
  packages/ai-native/src/browser/model/styles.module.less
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-previewer.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.component.tsx
  packages/ai-native/src/browser/widget/inline-stream-diff/live-preview.decoration.tsx
  packages/monaco/src/browser/ai-native/BaseInlineContentWidget.tsx
Labels: ⚙️ refactor

#4357 fix: add default file name handling for save dialog
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
Labels: 🐞 bug

#4362 feat: support code edits keybinding
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-browser/src/ai-native/command.ts
  packages/core-common/src/types/ai-native/index.ts
Labels: 🎨 feature

#4365 feat: support fetching preference file after editor is saved
  packages/ai-native/src/browser/contrib/terminal/component/terminal-command-suggest-controller.tsx
  packages/preferences/src/browser/abstract-resource-preference-provider.ts
Labels: 🎨 feature

#4368 feat: improve code edits source data
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/line-change.source.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/lint-error.source.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/typing.source.ts
  packages/monaco/src/browser/contrib/merge-editor/model/line-range.ts
Labels: 🎨 feature, 🛠 breaking change

#4366 feat: inline chat handler api adds selection parameter
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/common/utils.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#4372 fix: getDefaultPath add model param
  packages/file-tree-next/src/browser/dialog/file-dialog.service.ts
  packages/file-tree-next/src/browser/dialog/file-dialog.view.tsx
Labels: 🐞 bug

#4340 feat: make terminal draggable
  packages/ai-native/src/browser/layout/layout.module.less
  packages/ai-native/src/browser/layout/tabbar.view.tsx
  packages/core-browser/src/layout/layout.interface.ts
  packages/design/src/browser/style/design.module.less
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/main-layout/src/browser/accordion/titlebar.view.tsx
  packages/main-layout/src/browser/default-config.ts
  packages/main-layout/src/browser/drop-area/drop-area.tsx
  packages/main-layout/src/browser/drop-area/styles.module.less
  packages/main-layout/src/browser/layout.service.ts
  packages/main-layout/src/browser/main-layout.contribution.ts
  packages/main-layout/src/browser/tabbar/bar.view.tsx
  packages/main-layout/src/browser/tabbar/panel.view.tsx
  packages/main-layout/src/browser/tabbar/tabbar.service.ts
  packages/main-layout/src/common/main-layout.definition.ts
  packages/terminal-next/src/browser/component/terminal.module.less
  packages/terminal-next/src/browser/component/terminal.widget.tsx
  packages/terminal-next/src/browser/contribution/terminal.view.ts
  packages/terminal-next/src/browser/terminal.controller.ts
Labels: 🎨 feature

#4375 fix: normalize content type by converting file extension to lowercase
  packages/express-file-server/src/node/express-file-server.contribution.ts
Labels: 🐞 bug

#4367 feat: support copy relative path from link files
  jest.config.js
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/file-tree-next/package.json
  packages/file-tree-next/src/browser/file-tree-contribution.ts
  packages/opened-editor/src/browser/opened-editor-node.define.ts
  packages/opened-editor/src/browser/services/opened-editor-tree.service.ts
  yarn.lock
Labels: 🎨 feature

#4373 feat: improve line change code edits trigger rule
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/line-change.source.ts
  packages/monaco/src/common/observable.ts
Labels: 🎨 feature

#4374 feat: add llmcontext service
  packages/ai-native/package.json
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/ChatContext/ContextSelector.tsx
  packages/ai-native/src/browser/components/ChatContext/index.tsx
  packages/ai-native/src/browser/components/ChatContext/style.module.less
  packages/ai-native/src/browser/components/ChatInput.tsx
  packages/ai-native/src/browser/context/llm-context.contribution.ts
  packages/ai-native/src/browser/context/llm-context.service.ts
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/llm-context.ts
  packages/ai-native/src/node/openai/openai-language-model.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  tools/dev-tool/src/webpack.js
  yarn.lock
Labels: 🎨 feature

#4379 fix: notebook diff monaco upgrade issue
  packages/notebook/src/browser/libro/diff-view/components/index.less
  packages/notebook/src/browser/libro/diff-view/libro-version-manager.ts
Labels: 🐞 bug

#4361 fix: comments zone widget show hide
  .github/workflows/e2e.yml
  packages/comments/src/browser/comments-zone.view.tsx
  packages/comments/src/browser/comments.service.ts
Labels: 🐞 bug

#4359 refactor: upgrade monaco to 0.54.0 and support vscode.languages.registerInlineEditProvider API
  jest.setup.jsdom.js
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.feature.registry.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-chat/inline-chat-editor.controller.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff.controller.ts
  packages/ai-native/src/browser/widget/inline-input/inline-input.controller.ts
  packages/comments/__test__/browser/comment-thread.test.ts
  packages/comments/src/browser/comments-thread.ts
  packages/components/src/input/HistoryInputBox.tsx
  packages/core-browser/src/context-key.ts
  packages/core-browser/src/progress/progress-bar.tsx
  packages/core-browser/src/raw-context-key.ts
  packages/core-browser/src/utils/react-hooks.ts
  packages/debug/__tests__/browser/editor/debug-breakpoint-widget.test.ts
  packages/debug/__tests__/browser/editor/debug-model.test.ts
  packages/debug/__tests__/browser/view/breakpoint/debug-breakpoints.service.test.ts
  packages/debug/src/browser/view/breakpoints/debug-breakpoints.service.ts
  packages/debug/src/browser/view/console/debug-console.service.ts
  packages/extension/src/browser/vscode/api/main.thread.language.ts
  packages/extension/src/common/vscode/ext-types.ts
  packages/extension/src/common/vscode/languages.ts
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
  packages/extension/src/hosted/api/vscode/language/inlineEdit.ts
  packages/file-tree-next/__tests__/browser/file-tree.test.ts
  packages/monaco-enhance/src/browser/zone-widget.ts
  packages/monaco/__mocks__/monaco.context-key.service.ts
  packages/monaco/package.json
  packages/monaco/src/browser/monaco.context-key.service.ts
  packages/monaco/src/common/observable.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
  packages/types/vscode.d.ts
  packages/types/vscode/typings/vscode.proposed.inlineEdit.d.ts
  packages/workspace/__tests__/browser/workspace-storage-service.test.ts
  tools/playwright/src/text-editor.ts
  yarn.lock
Labels: ⚙️ refactor, 🎨 feature

#4384 feat: terminal search optimization
  packages/terminal-next/src/browser/component/search.module.less
  packages/terminal-next/src/browser/component/search.view.tsx
  packages/terminal-next/src/browser/component/terminal.module.less
  packages/terminal-next/src/browser/component/terminal.view.tsx
  packages/terminal-next/src/browser/terminal.client.ts
  packages/terminal-next/src/browser/terminal.search.ts
  packages/terminal-next/src/browser/xterm.ts
  packages/terminal-next/src/common/client.ts
  packages/terminal-next/src/common/controller.ts
  packages/terminal-next/src/common/xterm.ts
Labels: 🎨 feature

#4383 feat: run terminal cmd tool
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/mcp/mcp-server.feature.registry.ts
  packages/ai-native/src/browser/mcp/tools/runTerminalCmd.ts
Labels: 🎨 feature

#4386 feat: tabbar supports React.ReactNode for description
  packages/core-browser/src/layout/layout.interface.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/tabbar-handler.ts
Labels: 🎨 feature

#4388 fix: tabbar supports React.ReactNode for description
  packages/core-browser/src/layout/layout.interface.ts
  packages/main-layout/src/browser/accordion/accordion.service.ts
  packages/main-layout/src/browser/accordion/section.view.tsx
  packages/main-layout/src/browser/tabbar-handler.ts
Labels: 🐞 bug

#3988 feat: send data by chunk in websocket
  packages/components/src/recycle-tree/tree/TreeNode.ts
  packages/connection/__test__/browser/index.test.ts
  packages/connection/__test__/common/buffers.test.ts
  packages/connection/__test__/common/frame-decoder.test.ts
  packages/connection/__test__/node/index.test.ts
  packages/connection/__test__/node/ws-channel.test.ts
  packages/connection/src/common/buffers/buffers.ts
  packages/connection/src/common/connection/drivers/frame-decoder.ts
  packages/connection/src/common/connection/drivers/reconnecting-websocket.ts
  packages/connection/src/common/connection/drivers/stream.ts
  packages/connection/src/common/connection/drivers/ws-websocket.ts
  packages/connection/src/common/constants.ts
  packages/connection/src/common/fury-extends/one-of.ts
  packages/connection/src/node/common-channel-handler.ts
  packages/core-browser/__tests__/bootstrap/connection.test.ts
Labels: 🎨 feature

#4389 feat: support trigger source code edits
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/source/trigger.source.ts
  packages/core-common/src/types/ai-native/index.ts
Labels: 🎨 feature

#4390 style: improve hover widget style
  packages/core-browser/src/style/monaco-hover.less
Labels: 💄 style change

#4391 feat: upgrade monaco core to 0.54.0-patch.2
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/core-browser/src/ai-native/ai-config.service.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/monaco/package.json
  yarn.lock
Labels: 🎨 feature, 📌 patch

#4395 fix: add default context prompt provider
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/common/prompts/context-prompt-provider.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🐞 bug

#4396 feat: add search file & content tool
  packages/ai-native/__test__/browser/mcp/tools/getOpenEditorFileText.test.ts
  packages/ai-native/__test__/browser/mcp/tools/getSelectedText.test.ts
  packages/ai-native/__test__/browser/mcp/tools/replaceOpenEditorFile.test.ts
  packages/ai-native/__test__/browser/mcp/tools/replaceOpenEditorFileByDiffPreviewer.test.ts
  packages/ai-native/__test__/common/mcp-server-manager.test.ts
  packages/ai-native/__test__/node/mcp-server.test.ts
  packages/ai-native/package.json
  packages/ai-native/src/browser/components/ChatToolRender.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/mcp/mcp-server.feature.registry.ts
  packages/ai-native/src/browser/mcp/tools/components/SearchResult.tsx
  packages/ai-native/src/browser/mcp/tools/components/index.module.less
  packages/ai-native/src/browser/mcp/tools/fileSearch.ts
  packages/ai-native/src/browser/mcp/tools/findFilesByNameSubstring.ts
  packages/ai-native/src/browser/mcp/tools/getCurrentFilePath.ts
  packages/ai-native/src/browser/mcp/tools/getFileTextByPath.ts
  packages/ai-native/src/browser/mcp/tools/getOpenEditorFileText.ts
  packages/ai-native/src/browser/mcp/tools/getSelectedText.ts
  packages/ai-native/src/browser/mcp/tools/grepSearch.ts
  packages/ai-native/src/browser/mcp/tools/listDir.ts
  packages/ai-native/src/browser/mcp/tools/readFile.ts
  packages/ai-native/src/browser/mcp/tools/replaceOpenEditorFile.ts
  packages/ai-native/src/browser/mcp/tools/replaceOpenEditorFileByDiffPreviewer.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/common/mcp-server-manager.ts
  packages/ai-native/src/common/tool-invocation-registry.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/ai-native/src/node/mcp-server-manager-impl.ts
  packages/ai-native/src/node/mcp-server.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/search/src/browser/search.service.ts
  packages/search/src/common/content-search.ts
  yarn.lock
Labels: 🎨 feature

#4400 fix: add delay for disposing inline edit adapter to prevent rejection
  packages/extension/src/hosted/api/vscode/ext.host.language.ts
Labels: 🐞 bug

#4398 feat: add terminal command execution tool with user approval
  packages/ai-native/src/browser/mcp/tools/components/Terminal.tsx
  packages/ai-native/src/browser/mcp/tools/components/index.module.less
  packages/ai-native/src/browser/mcp/tools/handlers/RunCommand.ts
  packages/ai-native/src/browser/mcp/tools/runTerminalCmd.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4397 feat: support maxInputTokens for agent
  packages/ai-native/src/browser/chat/chat-proxy.service.ts
  packages/ai-native/src/browser/chat/chat.api.service.ts
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4401 fix: reduce font size in chat components and update MCP tools localiz…
  packages/ai-native/src/browser/chat/chat.module.less
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/components/chat-history.css
  packages/ai-native/src/browser/components/components.module.less
  packages/ai-native/src/browser/layout/layout.module.less
  packages/ai-native/src/browser/mcp/tools/components/index.module.less
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🐞 bug

#4403 feat: support NES render in code edits
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/base.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/code-edits-previewer.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/default.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/legacy.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/browser/widget/inline-hint/inline-hint.controller.ts
  packages/core-common/src/settings/ai-native.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/ai-native.contribution.ts
Labels: 🎨 feature

#4404 chore: add chat history module styles with less
  packages/ai-native/src/browser/components/ChatHistory.tsx
  packages/ai-native/src/browser/components/chat-history.module.less
Labels: 💄 style change

#4387 feat: support mcp server management
  packages/ai-native/__test__/common/mcp-server-manager.test.ts
  packages/ai-native/__test__/node/mcp-server.test.ts
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat.view.tsx
  packages/ai-native/src/browser/index.ts
  packages/ai-native/src/browser/mcp/config/components/mcp-config.module.less
  packages/ai-native/src/browser/mcp/config/components/mcp-config.view.tsx
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.module.less
  packages/ai-native/src/browser/mcp/config/components/mcp-server-form.tsx
  packages/ai-native/src/browser/mcp/config/mcp-config.commands.ts
  packages/ai-native/src/browser/mcp/config/mcp-config.contribution.ts
  packages/ai-native/src/browser/mcp/mcp-server-proxy.service.ts
  packages/ai-native/src/browser/mcp/mcp-server.feature.registry.ts
  packages/ai-native/src/browser/preferences/schema.ts
  packages/ai-native/src/common/index.ts
  packages/ai-native/src/common/mcp-server-manager.ts
  packages/ai-native/src/common/tool-invocation-registry.ts
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/common/utils.ts
  packages/ai-native/src/node/mcp-server-manager-impl.ts
  packages/ai-native/src/node/mcp-server.ts
  packages/ai-native/src/node/mcp/sumi-mcp-server.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
Labels: 🎨 feature

#4402 refactor: use openai-compatible to support providerOptions
  packages/ai-native/package.json
  packages/ai-native/src/node/openai/openai-language-model.ts
  yarn.lock
Labels: ⚙️ refactor

#4409 fix: content same will not render NES
  packages/ai-native/src/browser/ai-core.contextkeys.ts
  packages/ai-native/src/browser/contrib/inline-completions/inline-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/index.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.contribution.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/intelligent-completions.controller.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/code-edits-previewer.ts
  packages/ai-native/src/browser/contrib/intelligent-completions/view/default.ts
  packages/core-browser/src/contextkey/ai-native.ts
Labels: 🐞 bug

#4411 feat: clientId no longer required in base language model
  packages/ai-native/src/node/base-language-model.ts
Labels: 🎨 feature

#4410 refactor: refactor applyService to support apply recover
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-manager.service.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/components/EditFile.tsx
  packages/ai-native/src/browser/mcp/tools/components/index.module.less
  packages/ai-native/src/browser/mcp/tools/editFile.ts
  packages/ai-native/src/browser/mcp/tools/handlers/EditFile.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-manager.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/apply.service.ts
Labels: ⚙️ refactor

#4412 refactor: refactor applyService to support apply recover
  packages/ai-native/src/browser/ai-core.contribution.ts
  packages/ai-native/src/browser/chat/chat-manager.service.ts
  packages/ai-native/src/browser/chat/chat.internal.service.ts
  packages/ai-native/src/browser/components/ChatHistory.tsx
  packages/ai-native/src/browser/components/chat-history.module.less
  packages/ai-native/src/browser/mcp/base-apply.service.ts
  packages/ai-native/src/browser/mcp/tools/components/EditFile.tsx
  packages/ai-native/src/browser/mcp/tools/components/index.module.less
  packages/ai-native/src/browser/mcp/tools/editFile.ts
  packages/ai-native/src/browser/mcp/tools/handlers/EditFile.ts
  packages/ai-native/src/browser/model/msg-history-manager.ts
  packages/ai-native/src/browser/types.ts
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-manager.tsx
  packages/ai-native/src/browser/widget/inline-diff/inline-diff-widget.module.less
  packages/ai-native/src/browser/widget/inline-stream-diff/inline-stream-diff.handler.tsx
  packages/ai-native/src/common/types.ts
  packages/ai-native/src/node/base-language-model.ts
  packages/core-common/src/types/ai-native/index.ts
  packages/i18n/src/common/en-US.lang.ts
  packages/i18n/src/common/zh-CN.lang.ts
  packages/startup/entry/sample-modules/ai-native/apply.service.ts
Labels: ⚙️ refactor

#4413 style: add color style for codicon keyboard tab icon
  packages/core-browser/src/style/override.less
Labels: 💄 style change

#4408 fix: comments being collapsed when toggle editor
  packages/comments/__test__/browser/comment.service.test.ts
  packages/comments/src/browser/comments-thread.ts
  tools/dev-tool/src/index.html
Labels: 🐞 bug
